[2016-08-29 05:47] ThomasBrodkorb opened #1 "pi user cannot access samba shares"

[2016-08-29 11:00] ThomDietrich commented on #1
Hey, you closed this issue, so I guess you realized that you need to use the openhab samba user.
Do you think to have pi as the or as an additional samba user would make more sense?

[2016-08-29 12:25] ThomasBrodkorb commented on #1
Would definitely be a good idea.

[2016-08-29 12:38] ThomDietrich commented on #1
Think so to. On it.

[2016-08-29 12:45] ThomDietrich opened #2 "Unify "openhabian" to "openHABian""

[2016-08-29 12:50] ThomDietrich opened #3 "Prepare useful software for backups"
(etckeeper is installed to protect against accidental deletion of files. (Check if period needs to be increased))

A real backup-to-external strategy is needed as SD cards are known to crash at some point.
- What needs to be retained? Whole system vs individual folder?
- Backup to USB-Stick? Backup to Server or cloud service?
- Which software?

[2016-08-29 12:51] ThomDietrich opened #4 "optional component: Grafana graphing solution"
Installing Go, first try:

[code]

Last command fails.

[2016-08-29 12:52] ThomDietrich opened #5 "optional component: Homegear"
steps clear.

[2016-08-29 12:53] ThomDietrich opened #6 "optional component: Logstash + Elasticsearch + Kibana"
A very powerful log analyzer. Filtering rules for openHAB have to be built.

[2016-08-29 12:55] ThomDietrich opened #7 "optional component: eibd (KNX)"

[2016-08-29 12:55] ThomDietrich opened #8 "optional component: owserver (1wire)"

[2016-08-29 12:55] ThomDietrich opened #9 "optional component: mosquitto (MQTT)"

[2016-08-29 14:21] staehler commented on #8
As far as I know, you need to install 1wire, there are two packages (and maybe other dependencies) necessary:
apt-get install owfs-common owserver

Depending on the 1wire interface there may be one edit in the /etc/owfs.conf necessary. I needed to change to (depends on the 1wire interface):

I added this to /etc/owfs.conf as well, as systemd needs it for consitent operation:

If you want to start

[2016-08-29 14:33] ThomDietrich commented on #8
Thank you. I will add it this evening or tomorrow. Will you be available for testing in the next few days? I do not like that one needs to add the service manually. Hopefully by now there is one inside the package.

[2016-08-29 14:35] staehler commented on #7
It seems, there is no eibd-package for ARM, so eibd needs to be compiled :-( A quite good ressource on this you find [here](http://michlstechblog.info/blog/raspberry-pi-eibd-with-a-knx-usb-interface/).

FInally the eibd-config depends on the KNX-Interface, which could be USB, RS232 or IP, but it seems that the /etc/init.d/eibd script can detect it automatically. Al least it does it for my USB inte

[2016-08-29 14:39] staehler commented on #8
Hmm, I am running OH on a virtual machine (debian). My raspi is from the first generation and out of order. I'm thinking about buying the raspi3. Than I'm able to beta test.

[2016-08-29 14:52] ThomDietrich commented on #7
I looked into knxd and there has been quite the activity. That's why I'm not sure what's the best approach to incorporate KNX. Hence I will leave this task for later and trust into the next person to come up with the "right" setup to post it here ;)

[2016-08-29 21:07] #2 closed

[2016-08-30 13:58] ThomDietrich opened #10 "provide and promote one default tail command"
[code]

[2016-09-04 09:24] staehler commented on #8
Since yesterday I have my raspi3 and your openhasbian running. The installation was absolutley perfect nothing to do manually ...

I installed 1wire als follows und it is running:
[code]
Then just a few adoptions to /etc/owfs.conf and service start owserver. That's it!
The adoptions depend on the 1wire interface:
my owfs.conf looks like

[code]

[2016-09-04 10:10] staehler commented on #7
As I have my new raspi3 since yesterday, I can show, what I needed to do to get knxd running.

1. copy this [script ](http://michlstechblog.info/blog/download/electronic/install_knxd_systemd.sh) from http://michlstechblog.info/blog/raspberry-pi-eibd-with-a-knx-usb-interface/
2. Then run the script:
[code]
3. choose the right interface in /etc/defaults/knxd
4. start the service

For me it's running

[2016-09-05 00:32] ThomDietrich commented on #7
Hey, I've included these steps in a first draft and the script is running right now. I am not really happy with a few steps in the script though. A unnecessary "apt upgrade" in the beginning, no error catching, ...
Maybe we should upload and modify the script here in this repository?

[2016-09-05 00:47] ThomDietrich commented on #8
Got that included as well - no surprise as it's only one command :)

The real task to get to next is, to write a few short sentences before and after the setup to tell the user what's going to happen an what he has to do next.

"this will install owserver, ow-shell and usbutils to ... For more details, have a look at http://..."

"Setup was successful. Next, please configure your system in /etc/ow

[2016-09-05 06:30] staehler commented on #8
As far as I used your installer, it was unattended. So, when the user has the ability to make decissions (which software to install further)?   As described by you, I would add information like this. The User needs to select 1Wire-support, than a message like this could appear:   "this will install owserver to support 1wire functionality in general, ow-shell and usbutils are helpfull tools to chec

[2016-09-05 10:20] ThomDietrich commented on #8
It was unattended yes. I have started to include a menu for when it is not called unattended.
There is a simple text based menu for testing, before the merge it will be replaced by some graphical menu.

https://github.com/ThomDietrich/openhabian/blob/refactor-menu/openhabian-setup.sh#L304-L319

Thank you for the text. Can you provide "have a look at ..."?

[2016-09-05 13:27] ThomDietrich opened #11 "optional component: set up https+letsencrypt"
https://community.openhab.org/t/securing-openhab-with-free-ssl-lets-encrypt-certificates/7918

[2016-09-05 13:29] ThomDietrich opened #12 "optional component: authentication"
https://community.openhab.org/t/authentication-in-oh2/1723/28

probably  via nginx revproxy

[2016-09-05 14:52] staehler commented on #8
Ups, my text is not complete. I wrote the following:

"this will install owserver to support 1wire functionality in general, ow-shell and usbutils are helpfull tools to check USB (lsusb) and  1wire function (owdir, owread). For more details, have a look at http://owfs.com"

After installation:

"Setup was successful. Next, please configure your system in /etc/owfs.conf.
Use # for deactivate a line

[2016-09-05 17:32] staehler commented on #7
It's up to you. The best way would be a deb-file, which could be just
installed via dpkg.
Then all the build-stuff (make, gcc, etc.) wouldn't have to be
installed, which wastes space and is not anymore needed after compilation.
Unfortunately I have no idea how to build a deb-file.
I hope the community around knxd is going to do this in the future.

Am 05-Sep-2016 02:32:29 +0200 schrieb notificatio

[2016-09-12 15:23] ThomDietrich opened #13 "Add apt hook for firemotd"
https://unix.stackexchange.com/questions/70686/how-to-run-a-command-after-apt-get-upgrade

[2016-09-13 09:46] VD17593 opened #14 "Add wifi configuration"
Hi again,

(issue following our discussion [openHABian hassle-free RPi image](https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379) yesterday)

Meanwhile I've been looking at the [ raspbian-ua-netinst](https://github.com/debian-pi/raspbian-ua-netinst) links you provided, and I get your point now.

It really would be nice to be able to integrate this wifi connection, certainly for

[2016-09-13 11:31] ThomDietrich commented on #14
I'm afraid I can not add new lines to `installer-config.txt` - or in other words, that would be a change we'd need to propose at raspbian-ua-netinst.
The better and not more complicated solution for us would be to provide the file `/config/wpa_supplicant.conf` with the placeholder content as you proposed. A user would then have to fill the file with his wifi credentials after flashing to SD. Accep

[2016-09-13 12:02] ThomDietrich commented on #8
Hey @staehler, this is now part of stable openHABian through the menu. I did not yet add your strings.

[2016-09-13 12:04] ThomDietrich commented on #7
This is still an open issue.
The simplest solution is now part of the master branch but improvement is needed.
@staehler did you reach out to the developer?

[2016-09-13 12:59] VD17593 commented on #14
I could have a try now. Just to be sure we are talking about the same version : I download this [zip file](https://github.com/ThomDietrich/openhabian) , unzip it and copy it on the card.
Correct?

Then you are talking about `/config/wpa_supplicant.conf `
I think it doesn't matter on what ever place the wifi credentials have to be entered, as long as it can be done before inserting the card in the

[2016-09-13 14:57] ThomDietrich commented on #14
Is the README not still not clear enough :cry:

It says "Write [image](https://github.com/ThomDietrich/openhabian/releases) to SD card ([instructions](https://www.raspberrypi.org/documentation/installation/installing-images/README.md))"

The zip you are talking about is the raw project used to build the image you are looking for. The zip is of little interest to you. Go to the releases tab and dow

[2016-09-13 17:17] staehler commented on #7
Yes, he fixed the issue I've found.
If you have further requests, contact him via the commecnts section of his site. He responded quite fast.

[2016-09-14 11:46] VD17593 commented on #14
Ok. Did a first try.
By the way : your readme is absolutely clear, I just didn't know which version we were talking about.

My try was with the v0.7. No success.
Added wpa_supplicant.conf  to `/config`, and booted with the ethernet connection on.
PI was working but there was no file `/etc/wpa_supplicant/wpa_supplicant.conf `.

Going to have a try now with the v0.8.

[2016-09-14 11:50] ThomDietrich commented on #14
Too bad. Maybe now you have more luck. Could you try without Ethernet? After installation was successful or not, send me the first few lines of `/var/log/raspbian-ua-netinst.log` - there should be network setup information.

[2016-09-14 11:58] ThomDietrich commented on #14
I did make quite a progress yesterday btw. Nothing directly related to wifi but a lot of other improvements. I also found a major bug in the basic setup :see_no_evil: but don't worry bout that for now.
I'll probably release v0.9 this evening for that matter. Would be great to include a placeholder for wifi setup ;)

[2016-09-14 12:14] VD17593 commented on #14
The boot is running now.
Tried first without ethernet, but the boot stalled when searching for a connection.

Then plugged in the ethernet, and setup proceeded.

Just trying the wifi setup now. After that I would like try with some tweaking around : using the menu for example. I'll have perhaps also a look to the whole process.

Would be nice to have something running for the v0.9

[2016-09-14 12:26] VD17593 commented on #14
While the process is running, perhaps a few (preliminary) remarks.

At the end of previous try I had the impression that there is no GUI for the PI.
Is that correct?
When installing the default Jessie on the PI3 there is always a GUI.
I can imagine that for people not used to Linux, such a GUI can be of great value, especially if they want to discover what PI has to offer.

Another remark, also ai

[2016-09-14 13:05] ThomDietrich commented on #14
A setup completely without ethernet would be amazing. Too bad it didn't work out right away. I do not own a Raspberry Pi yet, otherwise I would try to help you.
A menu option to input your SSID and password would definitely be possible.
Could you define GUI? I don't know what you are looking for but there is `raspi-config` and `/opt/openhabian/openhabian-setup.sh` providing you with two menus. Is

[2016-09-14 14:19] VD17593 commented on #14
Not working.

The directory `/etc/wpa_supplicant `even doens't exist !

When I looked at the links you provided, I saw that those talking about the wifi setup were working on another branch. Maybe this possibility is not included in the version of  `raspbian-ua-netinst `you use as starting point.
So then there are two possibilities:

- or use the branch with the wifi setup provided (I havn't looke

[2016-09-14 14:31] VD17593 commented on #14
These are the first line of the log.
Tell me if you need more.

=================================================
raspbian-ua-netinst
=================================================
Revision git~fad1ceb
Built on Tue Sep 13 00:28:11 CEST 2016
Running on Raspberry Pi version 3
=================================================
https://github.com/debian-pi/raspbian-ua-netinst/
======================

[2016-09-14 15:07] ThomDietrich commented on #14
That would explain everything but nope... The merge was on branch "v1.1.x" and I am in sync with that branch, see https://github.com/ThomDietrich/openhabian/commit/d0d53c4404f417d8c9d1d41abe908c0ebf93d817

[2016-09-14 15:18] ThomDietrich commented on #14
How can we proceed? I can not look into that problem but maybe someone in the community can... we could ask for testers there.
On the other side: I am on the verge of a new project and will MAYBE be swamped in RPi3s soon...

In the meantime, we can add a wifi configuration to the menu. If you are willing, please provide me with the steps OR with a sketch of the setup function, just like this one h

[2016-09-14 15:55] VD17593 commented on #14
In that case maybe it is worthwhile to have a closer look at possible causes. Stepping into it now.

About the GUI : it makes sense. From automation point of view.

[2016-09-14 16:04] #13 closed

[2016-09-14 22:57] ThomDietrich commented on #9
Part of https://github.com/ThomDietrich/openhabian/releases/tag/v0.9

[2016-09-14 22:57] #9 closed

[2016-09-14 22:58] ThomDietrich commented on #8
This is now completed and part of v0.9
https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/61
Would be great if you came around to test it soon ;)

[2016-09-14 22:58] #8 closed

[2016-09-14 22:59] ThomDietrich commented on #7
Hello, as with 1wire, would be great if you provided me with a short before and after text!

[2016-09-14 22:59] ThomDietrich commented on #5
Part of v0.9

[2016-09-14 22:59] #5 closed

[2016-09-15 05:18] staehler commented on #7
Well I'm no expert with knxd as I run eibd at the moment, but this text should be fine:

---
This will install knxd (successor to eibd) to support your KNX bus system. Please edit **/etc/default/knxd** to meet your interface requirements. For further information on knxd options, please type **knxd --help**.
---
Maybe you want to mention the website, where the installer is from, as the maintainer c

[2016-09-15 09:18] VD17593 commented on #14
Have been looking around. Came up with this:

Apparently the last commit for `raspbian-ua-netinst` was done december last year, when PI3 didn't exist yet. Suppose that's why the PI2 version is installed on the PI3.

But the PI3 has some fundamental differences with the PI2, so I'm wondering if everything is optimized for this PI3.

As said before, the wifi hardware is included in the PI3, but if w

[2016-09-15 20:35] ThomDietrich opened #15 "Warn if installation was unsuccessful in bashrc"

[2016-09-16 13:46] ThomDietrich commented on #14
Hey,
how to switch over to a different branch really depends on your git client. On the console you would type `git checkout v1.1.x` but you are probably better off using a GUI like SmartGit for that.

The "menu" was introduced with v0.8 and got better with v0.9. You can read about it [here](https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/61).

Pi3 support is only incorporat

[2016-09-17 12:45] VD17593 commented on #14
Hi,
I'm still stuck here. Installed SmartGit, but still don't see how to get an image of the branch v1.1.x, that I could install on my card.
I see that the doc for branch v1.1.x is different for the master (PI 3b is added as supported), but the latest releases points to the release : raspbian-ua-netinst v1.0.8.1

A little further however saw the following description:

Perhaps this is wat is neede

[2016-09-17 13:57] ThomDietrich commented on #14
You need to build the image. Have a look at https://github.com/debian-pi/raspbian-ua-netinst/blob/v1.1.x/BUILD.md

"/config/files/etc/wpa_supplicant/wpa_supplicant.conf" - this will not help as, as this only addresses the resulting system but not the setup.

[2016-09-17 15:30] VD17593 commented on #14
Indeed no success.
Maybe I was to quick.

Will do a last try following the whole procedure described in the chapter `Bring your own files`.
As described there, at least the file `/etc/wpa_supplicant/wpa_supplicant.conf ` should be created.
(which doesn't necessarily mean the wifi will be working : driver installed ? ect ...)

[2016-09-17 18:53] ThomDietrich commented on #14
I'm not sure if that will make anything easier. Editing "/etc/wpa_supplicant/wpa_supplicant.conf" can easier be done using `openhabian-config` menu, prompting for ssid/password. Supplying wifi settings beforehand would be interesting if it can be used to install the OS.

[2016-09-18 15:19] ThomDietrich commented on #14
Hey @VD17593 I saw your posting over at https://github.com/debian-pi/raspbian-ua-netinst/issues/427#issuecomment-247852092
Great you got it working! The packages needed and the configurations you provided are definitely something we can and should provide as an option in `openhabian-config`! The fact that you need to connect via ssh at least once makes setup even easier as A user can just provide

[2016-09-19 07:13] VD17593 commented on #14
Sounds good.
Give me a sign when it's ready. I will have a try then.

[2016-09-19 10:01] ThomDietrich commented on #14
Exchanging OH2 by OH1 would be possible through menu and adding intchart as an optional component would also be no problem. You could just add your own two functions to the `openhabian-setup.sh` and be done with it. No need to invest more time in a second solution. But that is **of course** up to you.

"for sale"? As in sell for money? o.O

[2016-09-19 11:44] VD17593 commented on #14
Lets talk (whatever you mean by o.O 😄 ). I think (like the user at the openhab platform) that, since such a solution can save a lot of time (and frustration), this could be worth something. What do you really think about that?

To be able to include OH1 instead of OH2 would be really great! As well as including intchart as optional component. Not having to provide another solution would be a relie

[2016-09-25 17:39] #15 closed

[2016-09-27 14:23] BClark09 commented on #12
Is there anyway I can help here?

[2016-09-27 20:37] ThomDietrich commented on #7
Added in https://github.com/ThomDietrich/openhabian/commit/89137209dcfeade3aa718468ce43eadebe7b7ec3
Thanks!!

[2016-09-27 20:37] #7 closed

[2016-09-28 13:32] ThomDietrich commented on #12
Hey @BClark09 !
I would like to provide one option allowing a user to select authentication and set up a certificate. It would be acceptable to only perform the first few steps and then tell the user what to do next.

Because of the many options and parameters it might be hard to provide one setup fitting all users.

How about that:

1. Prompt for authentication username and password
2. Install ng

[2016-09-28 15:25] BClark09 commented on #12
I think the three steps are fine as is. You could just prompt for a username, password and a domain name (which can be left blank):

- If the domain is blank, automatically detect the public IP address and use that for nginx configuration?
- If the domain is blank use OpenSSL. Otherwise use Let's Encrypt?

Also a couple of considerations of using Let's Encrypt and Certbot:

- It will be important

[2016-09-28 16:26] ThomDietrich commented on #12
Sounds doable. We'll say how far we can go.
If you want to help out, feel free to post a few commands / steps here or create a pull request.

To get an idea: https://github.com/ThomDietrich/openhabian/blob/master/openhabian-setup.sh#L415-L445

[2016-09-30 13:10] BClark09 commented on #12
I'm not sure if the file writing part is the best way to go about it but this should be a good start? I have a spare RPi 2 if you would like me to test any builds with this.

[code]

[2016-09-30 19:43] ThomDietrich commented on #12
Looking good! :octocat:
I just received a RPi3 with which I'll continue my testing next week. I'll make sure to go through your bash script after I included it in ``openhabian-setup.sh``, which should be quick. At this point, testing by you would be amazing!! Feel free to look at the rest of the script. Beware, it got quite big over time but I resist to break it down! :yum:

Regarding the file cre

[2016-10-02 22:39] BClark09 commented on #12
Had a chance to learn how to use "sed" and test this so have now completed the initial bash script, this will prompt the user for several options and set/unset comments in a full nginx config accordingly. In summary:

1. Asks if the user wants auth
 - If yes then asks for username and password
2. Asks if the user wants https
 - If yes then it asks for domain name.
  - Checks to see if the domain p

[2016-10-03 23:20] joshuaherman opened #16 "Dpkg: warning: ignoring dependency problem"
Using a piB+ v1 is generating many messages about ignoring dependencies.

V 0.9

[2016-10-04 10:56] ThomDietrich commented on #16
Hello joshua,
just tested on a "Raspberry Pi Model B Plus Rev 1.2". The setup ran through without problems - by that I mean, that (1) the LED is blinking like a heartbeat and (2) the status info table is shown when logging in via ssh.
You have these warnings in the raspbian-ua-netinst.log but I *think* they are acceptable. Let me look into that.

[2016-10-04 12:37] ThomDietrich commented on #16
These warnings are normal and can be expected harmless.

[2016-10-04 12:37] #16 closed

[2016-10-04 13:02] bodiroga opened #17 "avahi-daemon"
Hi Thomas!

Great work with openHABian, I've tried it with a spare Raspberry Pi 3 that was lying around and everything went perfect! Awesome!

But one thing that I missed (and that it is preinstalled on Raspbian) is to be able to get the Raspberry Pi's IP address without connecting a monitor to it, just using avahi-discover. For that, you only need to install the package "avahi-daemon" to the dist

[2016-10-04 15:01] ThomDietrich commented on #17
Hey @bodiroga, I know the name and have no problem in adding it. However, can you point me to an article describing the benefits in more detail? I'm already successfully resolving:

[code]

[2016-10-05 09:05] bodiroga commented on #17
Hi @ThomDietrich !

Many thanks for your fast answer!

Unfortunately, I have reinstalled openHABianPi on my Raspberry Pi to try your suggestion, but by default my laptop doesn't resolve the hostname:

aitor@aitor-portatil:~$ ssh openHABianPi
ssh: Could not resolve hostname openhabianpi: Name or service not known
aitor@aitor-portatil:~$ ping openHABianPi
ping: unknown host openHABianPi

Let's see i

[2016-10-05 10:26] bodiroga commented on #17
Probably this is the reason why my laptop can't resolve the Raspberry Pi's hostname to an IP address:

https://www.raspberrypi.org/forums/viewtopic.php?f=51&t=46264

As you can see in the third comment, avahi-discover allows network devices to be discovered even if a DNS server is not present in your local network.

Up to you Thomas, you decide if you want to include it in the distribution ;) The

[2016-10-05 13:01] ThomDietrich commented on #17
That part is clear to me, I just though every router does that nowadays :) Okay I guess it's decided. I'll include avahi-daemon. Anything else you whould like to see preinstalled? ([list of installed software](https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/66?u=thomdietrich))

[2016-10-05 22:02] #17 closed

[2016-10-06 07:44] bodiroga commented on #17
Hi Thomas!

It's great to see that you have decided to include the program in the distribution, I'm sure that some new users will welcome your addition ;)

Many thanks for all the work you are doing on openHABian, it's never been so easy to have a working openHAB enviroment!

[2016-10-06 07:56] bodiroga opened #18 "Add openhab user to dialout group"
Good morning Thomas!

Would it be possible to add the openhab user to the dialout group after openHAB is successfully installed?

Bindings that depend on USB controllers (ZWave, Enocean, RXFcom,...) need access to the USB devices (/dev/ttyUSB0, /dev/ttyACM0,...), so automatically adding the openhab user to the dialout group will avoid users to ssh the device just to type "sudo usermod openhab -a -

[2016-10-06 13:32] ThomDietrich commented on #14
Wifi setup through menu is working. Installation over wifi will have to be on hold till it's implemented "on the other side".
Thanks @VD17593

[2016-10-06 13:32] #14 closed

[2016-10-06 15:24] ThomDietrich commented on #18
Hey, that's a topic we also discussed in the forum thread a few times. What's a bit troubling for me: dialout is always only halve the solution. Not saying that I'll not do it but there are a few extra steps needed to make your ZWave dongle etc. work in openHAB (activate the serial port, change java parameters, ...) Do you have an idea for a more complete approach?

[2016-10-07 11:33] bodiroga commented on #18
Hi again Thomas!

Yeah, you are right, adding the openhab user to the dialout group doesn't solve the problem completely and in all cases, but, for example, the default file where the distribution mounts the USB devices ("/dev/ttyAMC0") can be read by openHAB and therefore it can be used immediately without further modifications.

If you want to link the file to another file ("/dev/zwave" -> "/dev

[2016-10-07 20:17] Tomtibo opened #19 "openhabian-setup.sh fail to install openhab"
What I'v done:
Download openhabian-ua-netinst-20160915-git9e034e7.img
Rip to sd card using dd
Boot it up on a RaspberryPi2, with a monitor plugged in, to see what's happen!

Issue:
The script failed around line 267
The repository was added just fine, but openhab2-offline was not installed
A manual apt install openhab2-offline work fine.

Anybody else experimenting this issue?

Edit: Maybe the repo

[2016-10-07 23:12] ThomDietrich commented on #19
This did never happen before. I had a successful run yesterday. I'd suspect that to be a temporary outage on the server side. Could you try once more?

[2016-10-08 00:18] Tomtibo commented on #19
raspbian-ua-netinst.log show an error.
`[openHABian] Adding openHAB 2 Snapshot repositories to sources.list.d... FAILED`
I guess your right! Now the repository is online!

[2016-10-08 00:37] #19 closed

[2016-10-08 09:58] ThomDietrich commented on #19
Wonderful. Enjoy ;)

[2016-10-08 17:05] ThomDietrich commented on #18
Just a few notes on the topic.
https://community.openhab.org/t/12539
https://community.openhab.org/t/13379/89

devices:
* /dev/ttyUSB0
* /dev/ttyS0
* /dev/ttyAMA0
* /dev/ttyAMC0

**openHAB runtime parameters**
`/etc/init.d/openhab2` OR `/etc/default/openhab2` (?) OR `/usr/share/openhab2/runtime/karaf/bin/setenv`
[code]

**Serial port**
Add to `/boot/config.txt`: `enable_uart=1`
Remove serial port

[2016-10-10 11:21] ThomDietrich opened #20 "Add ssmtp as mail connector"
Is the ability to have openHAB or another part of your system send mails needed?

[2016-10-10 11:22] ThomDietrich commented on #1
Hello @ThomasBrodkorb,
I've decided to not make the pi user a second samba users. this introduces some potential problems (e.g. permissions) I'd rather not deal with. I'm open for new arguments or proposals.

[2016-10-10 11:22] #1 closed

[2016-10-11 19:41] ThomDietrich opened #21 "Add rarlinux 5"
http://rarsoft.com/download.htm

[code]

[2016-10-11 19:48] ThomDietrich commented on #21
Todo: installing make is not an option

[2016-10-11 19:49] ThomDietrich commented on #21
Ignore last comment... content of makefile:

[code]

[2016-10-13 08:39] bodiroga commented on #18
Hi Thomas!

Sorry for the late response :(

Yes, you are right, it's not an easy task to configure the Razberry board to be used with openHAB (well, it's not difficult, but require a few steps), but for examples, the default mounting points of the USB sticks like /dev/ttyUSB0 or /dev/ttyACM0 can be accessed by openHAB just adding the openhab user to the dialout group. You don't need to add any lin

[2016-10-21 15:04] skatun opened #22 "DMX binding"
Integrate DMX setup to Openhabian

[code]
Opem lightning Architecture is an opensource prototcol to communicate with several lightfixture over for an example the DMX protocol. To install OLA on RPI its a bit tricky because we need to compile the code from source code:

[code]

Time to test it:
start OLA
`olad -l 3`

To enable to run as a service we need to make a service script:

sudo nano /usr/li

[2016-10-24 08:44] skatun opened #23 "Enable possibility to set static IP"
I know several people(most?) like to set static IP of their pi, so that they dont need to fuzz around in their router settings todo so.  This can be achieved by alternating: sudo vi /etc/network/interfaces

[code]

[2016-10-24 12:27] ThomDietrich commented on #23
Hey, yes that's possible.
Are you asking to add this option to the openHABian menu?

I would actually not encourage a user to do this. Static IPs are inferior to a configured DHCP server. First off, you can always reach your device by using the hostname "openhabianpi.local" instead of an IP. Furthermore you are able to fix the DHCP-assigned IP of the device in your router settings. Yes, you'll hav

[2016-10-24 14:01] BClark09 opened #25 "Further simplification of connecting to the openHAB/karaf console."
With Debian, you can place the following inside .ssh/config

[code]

and then you'd be able to connect to the karaf console without having to remember the port number or specific syntax.

[code]

Since this image is all for simplifying the use and setup of openHAB, would you think this is a good addition to have?

[2016-10-24 15:42] ThomDietrich commented on #25
What do you think about [this])https://github.com/ThomDietrich/openhabian/blob/master/includes/bash_profile#L13)?

[2016-10-24 17:40] BClark09 commented on #25
Whoops! I hadn't realised that there was the alias there! :see_no_evil:

Regarding the second link, do you think there should be a warning regarding opening up the console to external connections? It doesn't sound like a very safe thing to give people who will keep default settings.

[2016-10-25 12:38] ThomDietrich commented on #25
The alias has a problem thou. It is not quite reliable at first.
I didn't fully investigate but I already discussed this somewhere: The system needs to calculate the SSH host key. This key will be generated upon first ssh connection attempt. The key size is set to 4096. On a RPi this takes a long time, longer than the ssh timeout, leading to a failure of the first connection attempt.
The alias is

[2016-10-25 12:57] ThomDietrich commented on #25
Ah, also regarding the alias, there is [more](https://github.com/ThomDietrich/openhabian/blob/master/includes/bash.bashrc#L76-L94). I'm still sorting out which are really useful to the enduser and will describe them in the documentation which I'll create hopefully soon.

[2016-10-25 13:09] BClark09 commented on #25
Right, I did actually come into the time-out problem but on second attempt it worked fine. I hadn't considered that the key is generated on first ssh attempt.

The karaf console suffers from a major security flaw, and this can be exploited in openHABian if it's opened to the public (I haven't found the best way to fix this yet, but I can still connect remotely to my openHAB console without a passw

[2016-10-25 17:37] ThomDietrich commented on #25
"I can still connect remotely to my openHAB console without a password" ?? That can't be right. The default login is openhab:habopen and this can be changed.

I think opening the console to the public AND securing it is the right choice. Having to "tunnel" a connection is neither user friendly nor meaningful if the security is implemented *right* . I guess you know that best as tunneling the openH

[2016-10-25 18:18] BClark09 commented on #25
I'm with you now, I hadn't considered changing the password so got myself into confusion. Sorry about that! I completely agree that's the best way to go, as long as you make sure that the username/password can't be set to openhab:habopen if sshHost=0.0.0.0

[2016-10-28 18:09] ThomDietrich commented on #18
@bodiroga I've done the needed changes (finally!)

When installing openHAB:
[code]

After selecting the menu entry "Serial Port":
[code]

This should also respect the differences between RPi1+2 and 3. I will test this now in my RPi3.
Do you agree that this covers what it should?

The last piece needed by some users is the addition of "gnu.io.rxtx.SerialPorts" but as details are missing, I'll leave

[2016-10-28 19:45] bodiroga commented on #18
Awesome work Thomas, many thanks for your patient!

I will try to test it next week and report back if I find any problem, although I'm sure that everything will work flawlessly ;)

Keep up with the good job and thanks for your contribution to the openHAB community!

[2016-10-28 23:00] ThomDietrich commented on #18
Thanks for your help. Any further additions from your side are always welcome ;) Let me know if everything went smooth!

[2016-10-28 23:00] #18 closed

[2016-10-28 23:42] ThomDietrich commented on #23
This should now be possible, even before running the setup. You should be able to configure the ip settings you want directly after flashing the SD card on your PC:
https://github.com/ThomDietrich/openhabian/commit/db63b4a57632de75ea48f52a297808f378b1d2fb

Please comment as soon as you can confirm this to be working.

[2016-10-28 23:42] #23 closed

[2016-10-28 23:57] ThomDietrich commented on #25
To summarize:

1. Extend the menu option to open the console by a prompt to set the password (I would still leave habopen as a default)

2. Investigate into the alleged ssh key problem:

I just had the chance to try a few things on a new installation but was surprised to see everything working. No timeouts on either `karafshell` and `ssh openhab@localhost -p 8101`. My first `karafshell` just neede

[2016-10-29 00:03] ThomDietrich commented on #12
Hey! Didn't have the time to look into this but would this weekend. Is the above script still up to date?
I'm unsure if to include as with the rest of the subroutines or if I want to put this as a separate script to be called by the menu. Let's agree on this detail first and then I'd like you to create a PR to give you the 'git blame' credit ;)

[2016-10-29 00:06] ThomDietrich commented on #12
On a side note: Your comment/uncomment approach looks error prone to me. What if default configuration files change in the packages or if the files were edited by the user before? I like to be a bit safer with something like [this](https://github.com/ThomDietrich/openhabian/blob/master/openhabian-setup.sh#L369-L375)

[2016-10-29 00:08] ThomDietrich commented on #12
Ah! you only use these commands on the configuration file provided by you! ignore my comment 👐  excellent idea

[2016-10-29 00:54] BClark09 commented on #12
No worries! I'm waiting on a PR on eclipse/smarthome first so that we don't need the "proxy_buffering off;" header. (I've disabled it above in preparation). Since this is specifically for the Raspberry Pis, I believe we'd get better performance on openHABs side with buffering on. I've made an issue for it so hopefully it will be soon.

[2016-10-29 01:04] ThomDietrich commented on #12
Okay, understood. But we can still carry on with this, right? Later changes are quickly done.

[2016-10-29 01:06] BClark09 commented on #25
Yes that should be fine. I have also just tested this on both a RPi2 and an RPi3, the timeout occurred once out of three complete re-installs on the RPi2 (but a retry on that fail attempt worked), and not at all on the RPi3.

I would be tempted to say that we wouldn't need to do anything special here, I can't see it being a hindrance to the majority of your users. Do you know if there are many peo

[2016-10-29 01:11] BClark09 commented on #12
Yeah absolutely, I've uncommented the line again so that the script should work exactly as is on any RPi without fault. I can add the tweak when that PR is merged then?

If so I should be able to work on that git blame PR on Sunday if that's okay? ;)

[2016-10-29 14:44] ThomDietrich commented on #25
Implemented in the last two commits.

![2016-10-29 16_41_07-sprungliste fur ssh telnet and rlogin client](https://cloud.githubusercontent.com/assets/2870104/19830370/b55c33e8-9df6-11e6-8849-f1b48cf654ab.png)

It's working as far as I can tell. I have implemented very weak input checking. Hope nobody will take harm from that :)

[2016-10-29 14:44] #25 closed

[2016-10-30 06:50] sihui62 commented on #3
Why not using something readily available and is known to be working?
[https://www.linux-tips-and-tricks.de/en/backup](https://www.linux-tips-and-tricks.de/en/backup)

[2016-10-31 18:31] ThomDietrich commented on #3
I already looked into that and it looks quite nice. The only decision missing is the backup location. An external USB stick or drive is probably the best option for users. A normal user might not own a second server. Samba access to the users desktop PC might be another option.

Are you actually using raspiBackup? Can you tell a little bit more about your setup, configuration, experiences and reco

[2016-10-31 20:22] sihui62 commented on #3
Any mountable drive can be used as backup medium. Take a look under "[Features](https://www.linux-tips-and-tricks.de/en/backup)"

Yes. And because of two corrupted sd cards I had to use the restore function twice and ... it worked ;-)
In my case I'm using one Pi as DLNA and NAS server (nfs share) with attached USB HDD, raspiBackup is backing up this Pi on the attached harddrive. My second Pi with

[2016-11-01 15:48] jameshiscott opened #28 "New optional component frontail"
I was wondering if it was possible to add the component: https://github.com/mthenw/frontail to the build, its a very nice light weight application for streaming logs to the browser. It's a tail -F with UI.

It makes keeping a log window open nice and easy and i dont need two SSH sessions open.

[2016-11-01 16:23] BClark09 commented on #20
I think an option to send mail from your RPi is a very good and lightweight solution to get live alerts from openHAB. The addon for it will need to be installed of course. I was just looking to see if you had approached this yet because I plan to go through the steps of including it into my system. Would you like me to document the commands I use and post them here?

[2016-11-01 17:57] ThomDietrich commented on #28
Oh I like that!
Already thought of some kind of a log interface but didn't know how... I'll have a look

[2016-11-01 18:05] BClark09 commented on #20
Were you thinking of a way of abstracting the setup to the end user? I imagine an interface where you select from common options (gmail, outlook/hotmail, yahoo etc.) get asked for the mailing username and password and the appropriate settings will be added to an openHAB mail.cfg file?

[2016-11-01 18:05] ThomDietrich commented on #20
I have been using ssmtp for years now. Pretty nice if you just want a sending client without all the weight of a full postfix installation. I could give you instructions if you'd like but it's pretty straight forward. Let me know if you need help.

I am not sure if this is really needed for the normal user. I personally have all my servers set up with nagios, mail, logwatch and apticron but a norm

[2016-11-01 18:06] ThomDietrich commented on #20
No, this ticket was directed at system mail functionality.

[2016-11-01 18:11] ThomDietrich commented on #20
If you are looking for a lightweight way to send live alerts from openHAB, I can recommend pushover. It makes receiving notifications on a smartphone more flexible than a mail could...
There's also something for the console, if you are indeed (/also) talking about system tasks.

[2016-11-01 18:18] BClark09 commented on #20
Yeah just realised how simple it was to get running.

I was really looking for my RPi to give me a regular (daily/weekly) report of openHAB activity. I also recently had the occurrence where my persistence service stopped running, so I was thinking about an email notification to let me know that this was the case.

For many openHABian users particularity email warnings concerning memory/cpu/storag

[2016-11-01 18:23] ThomDietrich commented on #20
Maybe we could integrate something like http://rpi-experiences.blogspot.de/p/rpi-monitor.html

[2016-11-01 18:27] jameshiscott commented on #28
Yep, it's very cool and very lightweight. I run it on my pi as an additional step after using your image.

[2016-11-01 18:27] ThomDietrich commented on #20
Do you think **for the normal enduser** system mail and some cronjobs to check for certain problems is a function we should provide?

[2016-11-01 18:28] ThomDietrich commented on #28
How about (additionally) http://rpi-experiences.blogspot.de/p/rpi-monitor.html

[2016-11-01 18:38] jameshiscott commented on #28
Looks good as an additional optional add-on built into your menu. Not seen it before but tbh, for me,  the info in your SSH login info screen (uptime, CPU, etc) is just as good.

Frontal is just a very nice stand alone log tail. It also works nicely with habpannel :)

[2016-11-01 19:45] BClark09 commented on #20
After some thought no I don't think it would be appropriate. I think it would be better for the user to learn how to set this up in openHAB themselves.

Your ssh startup gives a very good quick indication of what is happening.

I used rpi-monitor for a while and it is a really good tool, but this was replaced for me by the systeminfo binding. IMO an openHABian user can use the binding as a startin

[2016-11-01 21:18] ThomDietrich commented on #20
A systeminfo snippet ready to be included in a new users config would be great!

I think there is a big difference between what one can do with openHAB (monitor and control the smarthome) and with system mail (monitor the host system).

I'm going to discard the idea to provide an easy ssmtp based system mail setup out of the following reasons (for general reference):

* mail configuration depends

[2016-11-02 00:57] ThomDietrich opened #29 "Update feature: Show new commits history"
In the git update routine:

- store current revision string
- fetch and checkout latest changes
- compare old revision with new revision
- if different, show git log since old revision

[2016-11-02 10:40] ThomDietrich commented on #12
Fixed in https://github.com/ThomDietrich/openhabian/pull/26 and following.
Thanks @BClark09

[2016-11-02 10:40] #12 closed

[2016-11-02 10:40] ThomDietrich commented on #11
Fixed in https://github.com/ThomDietrich/openhabian/pull/26 and following.
Thanks @BClark09

[2016-11-02 10:40] #11 closed

[2016-11-03 21:45] ThomDietrich commented on #29
Solved in https://github.com/ThomDietrich/openhabian/commit/d496ca8e2fad9acb320dcbd1eec131a4934e3363

[2016-11-03 21:45] #29 closed

[2016-11-03 21:54] ThomDietrich commented on #28
Just saw that this depends on NodeJS :-/ Is there a minimal setup you would recommend?

[2016-11-04 11:36] jameshiscott commented on #28
I find NodeJS is very light weight anyway but i just install it with the following:

$ curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
$ sudo apt install nodejs

[2016-11-04 23:03] rlajos opened #32 ""sudo: unable to open /var/lib/sudo/ts/pi: Read-only file system" issue"
After apt-get update, upgrade (upgrade has chrashed before finishing...) I get the error message: sudo: unable to open /var/lib/sudo/ts/pi: Read-only file system

Is threre any fix for that? (install from 4 days ago)

Thank you,

Lajos

[2016-11-04 23:11] ThomDietrich commented on #32
Hey! Sounds like a problem with your filesystem. Try a reboot first. Next check your filesystem for errors. Your SD card may be corrupted or damaged.

Also check http://askubuntu.com/a/197468

[2016-11-04 23:17] rlajos commented on #32
Ja, danke. Habe es schon versucht, keine Ergebniss…

sudo fsck -Af –M hilft auch nicht…

L

From: Thomas Dietrich <notifications@github.com>
Reply-To: ThomDietrich/openhabian <reply@reply.github.com>
Date: 2016. november 5., szombat 0:11
To: ThomDietrich/openhabian <openhabian@noreply.github.com>
Cc: Lajos Rózsavölgyi <rlajos@r-med.com>, Author <author@noreply.github.com>
Subject: Re: [ThomDietric

[2016-11-05 17:56] palatia opened #33 "Tackle serialPorts setting in menu entry (Razberry, ...)"
The additions based on https://github.com/ThomDietrich/openhabian/issues/18 are great but not fully working for me using Razberry.
i still needed to add manually to  /usr/share/openhab2/runtime/karaf/bin/setenv
the port definition, e.q.  -Dgnu.io.rxtx.SerialPorts=/dev/ttyAMA0
so that openhab2 recognizes the port.

i have seen many people struggle with that in the community so why not just enhance

[2016-11-06 20:06] ThomDietrich commented on #18
@bodiroga, earlier you said:

Do you by any chance know the reason behind that? Maybe a better solution could evolve out of a short investigation. Also feel free to take part in the referenced issue!

[2016-11-06 20:07] ThomDietrich commented on #33
Hey palatia,
I've been waiting for you! ;) Yes I wanted to add this as a automatic step with openHABian. However in order to do that I need somebody with the right hardware and the needed overview to tell me a few more details. The discussions in the openHABian thread are rather vague regarding the topic.

I would like to tackle as many devices as possible, without being too aggressive or having t

[2016-11-06 22:46] ThomDietrich opened #34 "Adopt karaf etc path in karaf_shell_interface() function"
Regarding: https://github.com/ThomDietrich/openhabian/blob/master/openhabian-setup.sh#L369-L373
After merge: https://github.com/openhab/openhab-distro/pull/318

Replace karaf settings path:
``runtime/karaf/etc`` -> ``userdata/etc``

For compatibility: Act on both

[2016-11-07 07:30] bodiroga commented on #18
Hi Thomas!

As far as I know (I'm not an expert by all means), openHAB can read the /dev/ttyUSB0 or /dev/ttyACM0 ports being part of the dialout group because in Linux, serial ports mounted in /dev folder are owned by root under the dialout group. Here you have a link that talks about it:

http://askubuntu.com/questions/774541/what-is-dialout-group-in-ubuntu/774545

The problem with the "-Dgnu.io.

[2016-11-08 10:11] ThomDietrich commented on #33
busware SCC: the device is already working without further changes. That's not remarkable as the openHAB homematic binding does not directly need to access the module but is connecting to the homegear service (recommended toolchain)

[2016-11-08 10:12] ThomDietrich commented on #33
@bodiroga wrote:

[2016-11-08 10:13] ThomDietrich commented on #32
Is this issue resolved?

[2016-11-08 10:44] ThomDietrich commented on #33
**Regarding 1:**

I looked into the [z-wave.me install script](http://razberry.z-wave.me/install) and found more details regarding the problem that both Razberry and Bluetooth use the same UART pins 14 and 15. That's the reason why **Bluetooth indeed needs to be disabled!**

* Solution: disable bluetooth: https://forum.z-wave.me/viewtopic.php?f=3422&t=22957&start=10#p61415
* Solution: miniuart blu

[2016-11-08 11:29] rlajos commented on #32
Hallo Thom,

Unfortunately not... it can be an SD card problem, once I had disk error with this card already.
I will buy a new card and reinstall the whole stuff from the strach.

Danke,
Lajos

rlajos iphone

On 2016. Nov 8., at 11:13, Thomas Dietrich <notifications@github.com<mailto:notifications@github.com>> wrote:

Is this issue resolved?

-
You are receiving this because you authored the threa

[2016-11-08 11:31] ThomDietrich commented on #32
Okay, ich wünsch dir viel Erfolg und hoffe du kannst deine Konfiguration wieder vollständig herstellen.
Ich schließ das Ticket hier, öffne es einfach wieder, solltest du weitere Fragen haben ;)

[2016-11-08 11:31] #32 closed

[2016-11-08 12:24] ThomDietrich commented on #4
Installation is now included.

[2016-11-08 12:24] #4 closed

[2016-11-08 12:24] ThomDietrich opened #35 "InfluxDB+Grafana preconfigured connection"
Preconfigure connection following https://community.openhab.org/t/influxdb-grafana-persistence-and-graphing/13761

[2016-11-08 14:54] rlajos commented on #32
Danke Dir,

Gruss:
Lajos

From: Thomas Dietrich <notifications@github.com>
Reply-To: ThomDietrich/openhabian <reply@reply.github.com>
Date: 2016. november 8., kedd 12:31
To: ThomDietrich/openhabian <openhabian@noreply.github.com>
Cc: Lajos Rózsavölgyi <rlajos@r-med.com>, Author <author@noreply.github.com>
Subject: Re: [ThomDietrich/openhabian] "sudo: unable to open /var/lib/sudo/ts/pi: Read-only f

[2016-11-10 12:45] ThomDietrich opened #36 "General system settings function"
Add one more function which is executed at the end of the initial setup and configures a few details like

[code]

Besides, this needs to go inside Homematic function:

[code]

[2016-11-10 13:49] BClark09 commented on #36
[code]

For easy use of network and amazon dash bindings?

[2016-11-12 16:28] ThomDietrich commented on #34
Additional changes in bash_profile needed (build version)

[2016-11-12 20:33] #34 closed

[2016-11-12 20:35] ThomDietrich commented on #34
Changes related to https://github.com/openhab/openhab-distro/pull/318

[2016-11-12 21:24] ThomDietrich commented on #33
@palatia any news?

[2016-11-12 23:43] Dom1n1c opened #37 "Enable Enocean or ZWave Modules attached to the GPIO Pins"
Is it possible to add the required settings for serial Modules (accessing /dev/ttyAMA0 is not possible, because the console or Bluetooth module is attached to it)

Then the abnorm serial port needs to be defined in the setenv file. (ttyUSB* could be automatically detected, but once using ttyAMA0, you need to specify all used ports.)

  -Dgnu.io.rxtx.SerialPorts=/dev/ttyAMA0:/dev/ttyUSB*

[2016-11-13 01:41] ThomDietrich commented on #37
Did you see this, we are already talking about this topic https://github.com/ThomDietrich/openhabian/issues/33
I'm looking for some information! Please help wherever you can.

[2016-11-13 06:43] palatia commented on #33
@ThomDietrich , I thank you for all your effort and I am really sorry for my late reply. i am traveling and don't have access to my raspi.

regarding 1.) and RPi3
[palatia] "Sorry, i can't help with that test, i have only an older RPi."

regarding 2.) Your solution only addresses the port ttyAMA0. Could you please try the following to cover more ground: -Dgnu.io.rxtx.SerialPorts=/dev/ttyUSB0:/dev/

[2016-11-13 19:35] ThomDietrich commented on #36
@BClark09 Good idea. I've actally added this information to the network binding readme: http://docs.openhab.org/addons/bindings/network/readme.html#permissions

Do you need the additional permissions for Dash?

[2016-11-13 19:46] ThomDietrich commented on #36
Btw: https://github.com/openhab/openhab-docs/pull/135

[2016-11-13 20:45] BClark09 commented on #36
That's right, setcap also overwrites anything previously set to Java, so it's best to do all three to cover all (current bases)

[2016-11-15 00:28] ThomDietrich opened #38 "log tail with colors"
Enhance the openhab log tail with coloring. can be done with tools like grc or ccze. Needs further investigation.

[2016-11-16 22:26] palatia commented on #33
HI Thomas,

Regarding 3.) My current configuration using /usr/share/openhab2/runtime/karaf/bin/setenv for adding the  port.
Those are my log entries:
2016-11-16 21:20:12.259 [INFO ] [ing.zwave.handler.ZWaveSerialHandler] - Connecting to serial port '/dev/ttyAMA0'
2016-11-16 21:20:12.743 [INFO ] [ing.zwave.handler.ZWaveSerialHandler] - Serial port is initialized
2016-11-16 21:20:13.814 [INFO ] [mma

[2016-11-23 13:56] berho opened #39 "GPIO Binding not working"
Thirst of all thanks for the great work on openHABian! It is so easy to set up an raspberry pi with openHAB now :)

The main reason I use a raspberry is the GPIO board to connect to the real world ;) but the GPIO binding does not work on openHAB. I tried to find a solution and was spending a few days with this. The workarounds found did not work for me:
* run openHAB as root: no-go for security re

[2016-11-27 11:31] kubawolanin opened #40 "Option to enable audio"
Hello there,

Since there are some ongoing development efforts on [Audio add-ons for openHAB2](http://docs.openhab.org/features/multimedia.html), it would be a good opportunity to enable audio by default.

When I've set up latest openHABian on my Raspberry PI3, I observed that there were no audio devices enabled. I tested it with `aplay -l`.

What I did was modifying `/boot/config.txt` by adding t

[2016-11-27 11:47] kubawolanin commented on #28
I second frontail as a great tool for logs! I have latest NodeJS on my openHABian whatsoever - some of my rules depend on webscrapers that I wrote in JS.

Setting up frontail would require the following steps:
1. Install NodeJS like @jameshiscott mentioned
2. `npm i frontail -g`
3. Configure frontail to be launched on boot by either:
    * Using [forever](https://github.com/foreverjs/forever) and/

[2016-11-27 15:48] ThomDietrich commented on #28
Fantastic @kubawolanin
I'll implement as soon as you got it the script ready. I would vote to just use one theme+port combination. The user can still change this manually if this might actually be needed. What do you think?
I would love to see a customized highlighting! Especially for Stack traces and status changes.

[2016-11-27 19:51] kubawolanin commented on #28
Ok, I found easier and more convenient way to do it.

First, let's install all dependencies:

    curl -sL https://deb.nodesource.com/setup_7.x | sudo -E bash -
    sudo apt install nodejs
    npm i frontail -g

Then let's create a sevice (you will probably do `cp` or `mv` instead)

    cd /lib/systemd/system/
    sudo nano frontail.service

And here's the script:

    #!/bin/sh -

    [Unit]

[2016-11-27 22:33] jameshiscott commented on #28
Hi both, not sure if this helps or not as my knowledge level is very low (other than following snippets i find on google) @ThomDietrich obviously ignore this, if the method above works better with how you build openhabian but i simply do the following:

First, let's install all dependencies:
[code]

I then just add the following into /etc/init.d/:

`sudo frontail /var/log/openhab2/openhab.log /var

[2016-11-28 13:10] ThomDietrich commented on #28
Hi @jameshiscott, I di not ignore you or your suggestions. I simply returned from a two week india trip yesterday and didn't have the time to do anything ;)
I would however very much prefer the service approach. Sending a detached process into the background is a way to achieve what we are looking for but that is far from clean.
Did you (other than @kubawolanin) get the highlighting working? I'll

[2016-11-28 13:14] ThomDietrich commented on #40
Hey! I'd be okay with that. Any downsides to activating audio or influences on other hardware? Do you know the reason for it not being on by default?

[2016-11-28 13:27] jameshiscott commented on #28
Hi @ThomDietrich no problem at all, didn't think you had ignored me in the slightest. Just trying to help in anyway I can (which is quite limited currently) but i am learning when I can.

Looking forward to being able to skip this manual install step. Hope you enjoyed India :)

[2016-11-29 16:22] ThomDietrich commented on #36
http://docs.openhab.org/installation/linux.html#recommended-additional-setup-steps

[2016-11-30 14:03] BClark09 opened #41 "Prepare for change in package directory."
As I understand in openhab/openhab-linuxpkg#2 the package directory will change to bintray, just as the beta builds are. We need to be prepared for this change so that it can be quickly reflected in openHABian.

[2016-11-30 15:04] ThomDietrich commented on #41
Hey Ben thanks for the heads up. I saw the ticket but overlooked that detail. I'll ask my further questions over there.

[2016-11-30 15:24] ThomDietrich commented on #39
I never used the gpio binding.
I see people asking about the gpio binding a lot and this is not a problem with openHABian but rather with the tight constraints+requirements the binding defines. Did you consider using wiringPi in conjunction with the exec binding? I have a similar usecase and am very happy with wiringPi. Random Tutorial: https://projects.drogon.net/raspberry-pi/gpio-examples/tux-cr

[2016-11-30 15:26] ThomDietrich commented on #28
Hey @jameshiscott, Hey @kubawolanin,
would one of you be interested in building a Pull Request? If you want to, just let me know, otherwise I'll look into this in the next 2-3 weeks.

[2016-12-01 08:45] kubawolanin commented on #40
Hi @ThomDietrich. I'm not aware of any downsides and am not sure why it wasn't activated by default.

[2016-12-01 10:50] bernhard-a commented on #39
My project is running fine with openHABian and the GPIO binding now but only when I start openHAB2 with "sudo /etc/init.d/openhab2 stop" and "sudo /usr/share/openhab2/start.sh".

Output and input GPIOs are working as expected. But I have to do this manually and I don't want to run openHAB2 with root privileges in production environment.

Does anybody know how to add the group "gpio" to the system

[2016-12-01 11:32] ThomDietrich commented on #39
Okay great, your system is a base for further testing to figure out the **right** solution.
Please first have a look at [this and following comments](https://community.openhab.org/t/migration-to-openhab2/17469/7?u=thomdietrich).

Instead of manually starting as root you can set root as the go-to user in `/usr/lib/systemd/system/openhab2.service`. Please try this at least once to evaluate the appro

[2016-12-02 09:30] ThomDietrich commented on #33
Changes to openHABian will come soon.

In the meantime, I've documented needed actions here: http://docs.openhab.org/installation/linux.html#privileges-for-common-peripherals

[2016-12-02 09:45] ThomDietrich commented on #33
@palatia both files should work, `/etc/default/openhab2` would be the preferred one. Could you try again!?

[2016-12-02 09:59] ThomDietrich opened #42 "nano editor config"
openHABian is equiped with a nice vimrc file making the vim editor more useful.

Despite the fact that vim is superior to nano (pun intended), I can see how some prefer to use nano. If someone wants to contribute a nano configuration, do not hold back.

[2016-12-02 11:20] BClark09 commented on #42
No love for [emacs?] (http://xkcd.com/378/)  ;)

[2016-12-02 11:55] ThomDietrich commented on #42
Hahaha 🔟  points for linking xkcd.
I'm a vim believer myself but do as you like ;)

[2016-12-02 12:00] BClark09 commented on #42
I do believe though that nano is probably where many openHABian users will feel comfortable considering it's ease of use and the fact that the useful shortcuts are displayed all the time. I might be able to do something here but will let you know later!

[2016-12-02 13:16] ThomDietrich commented on #42
I think so too. Hence the ticket. **If** there are recommended settings every user might love, we could add them. See [here](https://github.com/ThomDietrich/openhabian/blob/master/includes/vimrc) for my vimrc.

[2016-12-02 17:44] ThomDietrich commented on #20
https://community.openhab.org/t/openhabian-add-some-additional-default-security-and-reliability-settings/17603/10

[/quote]

[2016-12-02 17:45] ThomDietrich opened #43 "Motivate pi user password change"
I chose Raspbians default username+password to make the start for every user as easy as possible. Changing the password is of course something a user should do and can easily by executing ``raspi-config``... but yeah. That's something we could promote more, maybe by forcing the user to set a password on first ssh login or first ``openhabian-config`` execution.

[2016-12-03 14:08] ThomDietrich opened #44 "Look into BerryBoot"
https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/325

[2016-12-04 10:24] palatia commented on #33
@ThomDietrich , thanks for all you effort to create an easy all in one installer. it works like a charm and eases the overall installation of openhab2.

regarding the razberrry port. i have done again a test with just using /etc/default/openhab2 for the port definition. It does not work with my Razberry board and my Model B Rev 2 raspi.
I have still the same results. that the zwave controller is n

[2016-12-04 10:35] palatia opened #46 "Can’t copy image to another SD card as openhabian uses whole SD card by default (8GB or 16GB SD card)"
SD card comes usually with different sizes of a few bytes, so using an SD copy program don’t allow you to copy the image to another SD card. It might better to not take the always the full available bytes per SD card. An better option might be to take a bit less as available like 7.8 GB or 15.8 GB) … sure a few bytes are lost but you won’t run into issues using an SD image copy program.

[2016-12-04 10:57] ThomDietrich commented on #33
could you please show us the content of your `/usr/share/openhab2/runtime/bin/setenv`? The important line should like like this:

![grafik](https://cloud.githubusercontent.com/assets/2870104/20865664/a43a44ae-ba18-11e6-80ba-19c4a2afd61e.png)

The last line is the important one. The information set in `/etc/default/openhab2` is used.

[2016-12-04 11:02] ThomDietrich commented on #46
Hey @palatia, that's a good idea! I've however no saying in that.
Could you create a new (nearly identical) ticket at https://github.com/debian-pi/raspbian-ua-netinst ? That's the base project we are using for openHABian and your idea needs to be implemented there.

[2016-12-04 11:13] palatia commented on #33
sure,... here it is
![image](https://cloud.githubusercontent.com/assets/19760055/20865745/fb93ae96-ba1a-11e6-9fdd-051c05fa17a7.png)

[2016-12-04 11:27] palatia commented on #46
sure, no problem. i haved added it here -
https://github.com/debian-pi/raspbian-ua-netinst/issues/439

Thanks for the link to the downsizer script. Looks easier as the steps i were using.

[2016-12-04 11:27] #46 closed

[2016-12-04 12:26] ThomDietrich commented on #46
Additionally I just found https://github.com/Drewsif/PiShrink

[2016-12-04 20:09] bernhard-a commented on #39
I have testet
- set root as go-to user: work
- add pi and openhab to gpio group: I get "[ERROR] [ab.binding.gpio.internal.GPIOBinding] - Error occured while creating backend object for item MyItemName, exception: /sys/class/gpio/export"

Any ideas?

[2016-12-04 20:53] ThomDietrich commented on #39
what does the following say?
[code]

[2016-12-05 17:23] ThomDietrich commented on #33
@BClark09 with your recent endeavors into init.d/systemd, maybe you can help. Do you know where /etc/default/openhab2 is actually sourced?

[2016-12-05 17:46] BClark09 commented on #33
Yes, before openHAB is launched, [init.d](https://github.com/openhab/openhab-distro/blob/master/distributions/distribution-resources/src/main/resources/deb/etc/init.d/openhab2) or systemd(https://github.com/openhab/openhab-distro/blob/master/distributions/distribution-resources/src/main/resources/deb/systemd/openhab2.service) runs the file as an environment path. openHABian will use systemd.

[Thi

[2016-12-05 17:54] ThomDietrich commented on #33
Ah of course, there it is.

Thanks! @palatia would you try again?

[2016-12-05 19:07] bernhard-a commented on #39
[code]

It seems that the group is set to root every reboot :(

[2016-12-06 07:55] ThomDietrich commented on #39
Seems like I'll have to dissect a normal raspbian setup!
So do I understand you correctly, it works after setting the owner group to gpio and before rebooting?

[2016-12-06 08:46] bernhard-a commented on #39
No, does not work after setting owner group before reboot too.

[2016-12-06 10:45] ThomDietrich commented on #33
Configuration with quotes as suggested before is working: https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/337

![2016-12-06 11_44_47-openhabian hassle-free rpi image - hardware _ server - openhab community - pale](https://cloud.githubusercontent.com/assets/2870104/20922739/73495118-bba9-11e6-9986-1c585bc18dfc.png)

[2016-12-07 10:37] ThomDietrich opened #47 "Transfer to openhab organization"
@kaikreuzer
openHABian has gotten [quite mature](https://github.com/ThomDietrich/openhabian/graphs/traffic) over the last few months and has a [nice userbase](https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379) that helped test and improve it. I'd like to synchronize the release of "Version 1.0", the introduction of openHABian in docs (with the Big PR) and the transfer to the o

[2016-12-07 11:23] kaikreuzer commented on #47
Sounds wonderful :-)

Two things to clarify before the move:
1. [LICENSE](https://github.com/ThomDietrich/openhabian/blob/master/LICENSE): As all of openHAB is under the EPL, would you be ok to license openHABian under the same terms?
2. CONTRIBUTING.md: It would be nice if you could add our standard text for how to contribute to the repo, see e.g. [openhab-docker](https://github.com/openhab/openh

[2016-12-07 11:26] BClark09 commented on #47
It would be great to see this as part of openHAB! I'm sure you've helped many people get started with openHAB with this too!

Since the "full" openHABian setup automatically installs "external" Linux tools and features, and can prompt users to install other programs automatically, is there a licence issue here too?

[2016-12-07 11:30] skatun commented on #39
can you explain this in more detail?
Instead of manually starting as root you can set root as the go-to user in /usr/lib/systemd/system/openhab2.service. Please try this at least once to evaluate the approach.

on my rpi its an empty file..

[2016-12-07 12:49] ThomDietrich commented on #47
Hey @kaikreuzer, I feared to be hit with these kinds of problems.

You have to know, that openHABian is based on [raspbian-ua-netinst](https://github.com/debian-pi/raspbian-ua-netinst) and resumed under the same license. Besides that other "external" software is only downloaded by the scripts but not contained in them. I would be okay to switch to EPL, I'm however not sure if I am allowed to do so

[2016-12-07 13:38] ThomDietrich commented on #39
Depends on your system. With openHABian the systemd service management system is used. If your system is a bit older and is based on init.d, you need to have a look at "/etc/init.d/openhab2", which uses ``USER_AND_GROUP``. You should probably add this to `/etc/default/openhab2`:

[code]

[2016-12-07 15:40] skatun commented on #39
well i have the openhabian version 2.0 build 624, but the service file is empty.. so i should jus add USER_AND_GROUP=root:root to it?

[2016-12-07 20:26] skatun commented on #39
my output for your reference...
pi@openHABianPi:~$ ls -la /sys/class/gpio
total 0
drwxr-xr-x  2 root gpio    0 Dec  7 21:25 .
drwxr-xr-x 46 root root    0 Jan  1  1970 ..
-rwxrwxr-x  1 root gpio 4096 Dec  4 19:32 export
lrwxrwxrwx  1 root gpio    0 Dec  7 21:24 gpio1 -> ../../devices/platform/soc/20                                                                                        200000.gpio/

[2016-12-08 09:27] ThomDietrich commented on #39
Do not mix "openHAB" and "openHABian".
If you are using openHABian, you should see a file ``/usr/lib/systemd/system/openhab2.service`` where you can set user and password. If the file does not exist, please check for the correct path by executing `sudo systemctl status openhab2`

Regarding your gpio: the listing looks good to me (except that you forgot to put it in code fences ;) )

[2016-12-08 12:47] kaikreuzer commented on #47
Well, then you have already violated the [LICENSE](https://github.com/debian-pi/raspbian-ua-netinst/blob/master/LICENSE), which states:
[code]

So yes, under these circumstances, we can keep the license as is (assuming you restore the original copyright and maybe add yourself and any further contributors - or simply add an "and others" to the copyright, which makes it much simpler for the future (

[2016-12-08 13:02] BClark09 commented on #47
Apologies both, signing off commits was new to me coming into this project but have made sure it's embedded into my memory by now!

If these commits are squashed, then I'm assuming an also-by signoff is fine for the additional contributors?

[2016-12-08 13:11] kaikreuzer commented on #47
No need to apologize, so far this was not required on the openHABian repo, so you didn't do anything wrong here!

Yes, exactly, this would be my suggestion. @ThomDietrich would state with that line that he has your approval to commit your contributions under the given terms.

[2016-12-08 18:19] tomekmbb commented on #33
@ThomDietrich I have RPi3 with Razberry if you want I can help with testing

[2016-12-08 20:24] binderth commented on #20
Thing is: what's openHABian aimed at in ways of users? Is it "fresh users", then it's as mentioned above: if you'd like to monitor your Pi, you are almost 100% a "Pro User", and those pros could easily set up mail, monitoring or whatever on their own. If it's advanced users, I think they would install their own raspbian (or whatever) and git openHAB onto it.

Next, I see two levels in terms of ope

[2016-12-08 20:27] binderth commented on #43
This would be a must-have in my eyes: After the first boot, the user is forced to change the password. Or you could add a new password in an ini-file on the SC-Card, to make it easier for the non-experienced to change the password. At next boot, the password is changed and the password is deleted.?

[2016-12-08 20:53] binderth commented on #36
I'm not sure here. In my opinion either openHABian pre-configures the system for *all* bindings - or (that's what I tend to prefer), each binding should provide detailed information on those configurations.

e.g. I use the comfoair-binding. In my case, I use a 10€ USB2RS232-converter. But you could also attach it to the GPIO-ports... How can openHABian support all bindings and their respective con

[2016-12-08 22:14] skatun commented on #39
I dont get any errors either from the log:
`23:11:15.910 [INFO ] [marthome.event.ItemStateChangedEvent] - Light_Module2 changed from ON to OFF
`
my item:
`Switch Light_Module2 		"Module 2" 		(Group_LivingRoom,Lights,Group_LightLogging) { gpio="pin:19" }  //Relay 15 `

but relay does not switch on:(

Does running as root work?

[2016-12-08 22:38] skatun commented on #39
some output from the log:
[code]

[2016-12-10 14:05] ThomDietrich opened #48 "Make the openhabian-setup output more colorful"
Color this part: "[openHABian] ... OK"

[2016-12-10 21:08] jameshiscott commented on #28
@ThomDietrich  I would love to, but my knowledge level on this sort of stuff is very low. I am not even sure how to build the solution to then test the changes. Wish I could help you out.

[2016-12-11 21:23] ThomDietrich commented on #47
@kaikreuzer I just fixed the LICENSE and added CONTRIBUTING.md from openhab-docker (with some non-intrusive modifications). I hope they are to your liking.

The situation with raspbian-ua-netinst is a bit different. This project is a tool used in openhabian. As a comparison: you do not fork the twitter bootstrap repository when starting to work on a new website project...

Squashing everything wil

[2016-12-12 13:31] bernhard-a commented on #39
Running as root work as expected, but I think it is not a good idea. It is a security risk!

[2016-12-12 19:51] ThomDietrich commented on #36
Hello @binderth, I'm not sure if I understood you right.
openHABian's goal is to simplify the installation of openHAB and the components useful around it. openHABian will not interact, configure or modify any openHAB bindings.

[2016-12-12 19:51] ThomDietrich commented on #36
@BClark09 I've just implemented the first two postings.

[2016-12-12 20:24] ThomDietrich commented on #36
https://github.com/ThomDietrich/openhabian/commit/62804c4301444ee2ee47d274430d1e9850049ad9

[2016-12-12 20:24] #36 closed

[2016-12-12 20:38] #40 closed

[2016-12-12 20:39] ThomDietrich commented on #40
@kubawolanin I've added that feature to the main setup.

[2016-12-12 21:16] jameshiscott opened #49 "Menu options in openHABian are a bit confusing for new users"
Hi Thom,

I find the menu options in openHABian a bit confusing for new users. I was never sure which open is actually needed to just update openHAB (until looked over the code).

Looking to try and help however I can so happy to do a pull request with my recommended changes for you to review.

[2016-12-13 00:03] ThomDietrich commented on #33
Hey @palatia, Hey @tomekmbb,
I've just commited the needed changes as discussed. Please help testing.

**What to expect:**
I have enhanced the method behind `sudo openhabian-config` entry "Serial Port". It now does the following things:
* Remove the serial console and login shell from `/boot/cmdline.txt` and `/etc/inittab`
* Enable the serial port by adding "enable_uart=1" to `/boot/config.txt`
*

[2016-12-13 08:51] ThomDietrich commented on #49
Hey @jameshiscott, thanks for your feedback. That's much appreciated. I'm currently working on a page for docs.openhab.org on openhabian, which will describe more details. Would be great to get some feedback from you there!

Could you tell me what you find confusing about the menu options? Each entry will do one thing and almost each entry opens a second dialog with detailed explanation. I've actu

[2016-12-13 08:59] ThomDietrich commented on #33
I've already found one problem. I own a Busware SCC myself, which is controlled not by openHAB directly but by an additional software on the same RPi. Executing the new steps broke this connection. Investigation needed. It's probably better to create a submenu to select which of the mentioned four steps you actually want to execute (which depends on your peripheral device).

This doesn't change th

[2016-12-13 09:16] binderth commented on #36
@ThomDietrich then I got it wrong in the first place. I refered to pre-configuring the Linux for the use with bindings, e.g. your post on Nov 10th. In my eyes, this is some configuration, which should be at the respected bindings (here the configuration of ports). I understand, your suggestion is very low level and is perhaps useful for absolute beginners. They could plug in some USB and the openh

[2016-12-13 09:24] ThomDietrich commented on #36
While I get your argument and can support it, I don't think that's the case here. Adding the openHAB user to the dialout group or setting java network permissions is something needed by multiple bindings while not making any (considerable) harm to your system. That's why I would deem these changes acceptable as a general setting in openHABian. There are other cases, where special settings are only

[2016-12-13 09:29] jameshiscott commented on #49
I made some changes to the main menu titles in a fork i have locally (was trying to see if i could sort the frontail addition (#28) but my skill level was not good enough), but will post the suggestions on hear.

The second dialog information looks good and should go a long way to solving the problem, defiantly happy to help with the docs and will post the updates when i get home (fork is on my ho

[2016-12-13 09:33] binderth commented on #36
we're talking the same, fine with me! ;) 💯
just wanted to keep you from overscoping! 😀

[2016-12-13 09:34] ThomDietrich commented on #36
:) Thanks.
What's your use case and experience? Would you like to contribute something to openHABian?

[2016-12-13 09:40] binderth commented on #36
I'm not the LINUX-Systems guy, and also not the JAVA-programmer guy. So my usecase is to get some start (which openHABian is very good at). I'd like to see more documentation and HowTos (that's more to openHAB, than openHABian, I guess); so, that's what I could offer!

[2016-12-13 10:21] BClark09 commented on #36
@ThomDietrich, Done but I've kept them as headings for now. Just because Linux needs a little bit extra information.

[2016-12-13 19:48] palatia commented on #33
Hi Thomas,

Great stuff and good news. All works like charm. I am able to use the Razberry without messing around in setenv. Not sure, why my earlier test was not successful but now i am able to confirm that port confirmation in openhab2 is sufficient.

I followed your described steps. All work as you described it. i was updating from
OpenHABianPi  5.15.160729 to 5.21.161121

no entry in setenv
![

[2016-12-13 20:09] jameshiscott commented on #49
My changes:
[code]

Again happy for this to just go in docs if you would prefer it

[2016-12-14 11:28] kaikreuzer commented on #47
This is exactly the issue that I wanted to address. As there were no contributing guidelines before, the legal situation of that code is not clarified.

But ok, if you insist to keep the commit history in place, I give in.
What we imho need retroactively is a confirmation of all three committers that they confirm [these statements] for all previous commits that they have already done.

So @ThomDie

[2016-12-14 13:20] BClark09 commented on #47
I can confirm and agree to the statements in the DCO for all my previous commits to this repo.

[2016-12-14 14:13] ThomDietrich commented on #47
Thanks @kaikreuzer. I'm happy we found an agreement we both can live with. I am sorry for any inconvenience this might have created for you. After we got all three confirmations and signed-off-by's I'll additionally add a commit to mark this step in the commit history unrelated to GitHub.

---

I hereby confirm the statements in "Developer Certificate of Origin (Version 1.1)" for all previously do

[2016-12-14 20:09] jupe76 commented on #47
I confirm the statements in the "Developer Certificate of Origin" for my previous commits to this repo and agree to also comply to these in all my future contributions.

Signed-off-by: Peter Jünger (peter.juenger@gmx.net)

[2016-12-14 20:23] kaikreuzer commented on #47
Thanks for the quick response everyone, I have captured it in an image :-)

<img width="773" alt="screen shot 2016-12-14 at 21 21 34" src="https://cloud.githubusercontent.com/assets/3244965/21199318/53588130-c243-11e6-990f-1d5f0f962c04.png">

@ThomDietrich I gave you temporary admin access to the openhab organisation. With this, you should now be able to transfer the repository yourself - let me k

[2016-12-14 21:13] FipsJr opened #50 "Enable Hardware Watchdog of the pi"
I'm not sure if the built in hardware watchdog of the pi is enabled (default = off), e.g. when openHAB isn't responding any more or something else gets instable.
If not already done, you should think about enabling the hw wd.

[2016-12-15 19:23] ThomDietrich commented on #47
@kaikreuzer The transfer is finished.
I followed what I saw and created a "openHABian Maintainers" team. I've not changed anything else.
I've also documented what we discussed here in https://github.com/openhab/openhabian/commit/9283848e6f9c86f4800ce6487a99561ae9adaff1

I think this issue can be closed.

[2016-12-15 19:23] #47 closed

[2016-12-15 21:32] ThomDietrich commented on #49
Hey @jameshiscott,
I attended to your suggestions. One problem I'm having is, that the length of the menu line is restricting me from longer explanations. The second dialog information should be okay for that.
I realized, that the main problem is, that you (and others) are not sure about if or if not the first few options need to be executed once, never or in certain situations. That's something I

[2016-12-15 22:40] ThomDietrich commented on #33
I have invested a few more minutes on this feature.

![grafik](https://cloud.githubusercontent.com/assets/2870104/21244785/78cba348-c31f-11e6-95cb-d8c4494da842.png)

There is now a menu so you only select what you actually want. I realized that this is important as otherwise for example a SCC will not work anymore.
I've also added the other way around, deselecting an entry will undo the changes!

[2016-12-15 22:40] #33 closed

[2016-12-16 08:34] kaikreuzer commented on #47
Cool, many thanks and welcome openHABian at the openHAB org :-)

[2016-12-16 08:46] jameshiscott commented on #49
@ThomDietrich  sounds like you have hit the nail on the head, i like the move things into a sub menu idea as well.

[2016-12-16 16:19] #43 closed

[2016-12-16 16:19] ThomDietrich commented on #43
@binderth @BClark09 what do you think?

[2016-12-16 17:22] BClark09 commented on #43
LGTM, I have a general question though. Since openHABian is now in the openHAB organisation, aren't maintainers supposed to submit all changes via PR requests? Or does it work differently to the others since it's a utility rather than part of the system.

[2016-12-17 12:43] binderth commented on #43
:100:

[2016-12-17 17:36] EliasGabrielsson opened #51 "Failed installation v1.0 - "dpkg: regarding xxx.deb containing dpkg, pre-dependency problem""
Tried to install the distro according to readme.
Got hit by a lot of these errors:
[code]
I think its best to look at the raw log for precise information.

Hardware: RaspberryPi 2, 16gb sd-card.

[installLog.txt](https://github.com/openhab/openhabian/files/658961/installLog.txt)

[2016-12-17 18:23] Firepower commented on #51
Same errors here, RPI3 , 16gb sd-card. Unfortunately no log available

[2016-12-17 18:38] ThomDietrich commented on #51
Hey guys, thanks for your issue report.
These log lines are uncritical. See https://github.com/debian-pi/raspbian-ua-netinst/issues/434

However, your installLog.txt ends with
[code]
which is the real problem here. This routine does not do more than [install a few packages through apt](https://github.com/openhab/openhabian/blob/2f1c6c0cfb6aba44c1798ee0d3b945d1f0b7c760/openhabian-setup.sh#L162-L164

[2016-12-17 19:19] EliasGabrielsson commented on #51
So the "not installed" statement have nothing to do with dependency for `apt-get install`, are you sure?
I did another reinstallation as I thougth it was network error and get the same errors.

Are there anyway to see the install-log for the part which failed?

[2016-12-17 19:30] ThomDietrich commented on #51
This is really unexpected. I've restarted the setup process on my testing Pi.
It's strange that the basic packages are installed but additional packages fail.
Could you please execute the step manually. Just connect per SSH and type:

[code]

[2016-12-17 20:32] ThomDietrich commented on #51
My installation just finished without errors...
[code]
Please execute the command manually to see which package makes problems for you...

[2016-12-18 07:48] EliasGabrielsson commented on #51
Retried installation today and its **works**.
I wonder if my local `apt-get` servers where down at the installation moments, they had problems before.

Anyway thanks for a great job putting this together Thomas!

[2016-12-18 07:48] #51 closed

[2016-12-18 09:10] EliasGabrielsson opened #52 "[Feature request] One click password changer"
I miss a menu which could handle all password changes for the system.

* pi user -> `passwd`
* Samba user, openhab -> ?
* HTTP basic authentication for nginx HTTPS setup.

I also wonder if it would be easier for the end user if the Samba account (openhab) and local admin (pi) would have the same username, eg. `openhab-admin`. Then there could be one "set admin password promt" which changes both pa

[2016-12-18 09:48] Firepower commented on #51
After using another sd-card its working now. Seems like the other card is not working anymore which is the reason for no available logs ;-)

[2016-12-18 10:40] EliasGabrielsson commented on #39
I think these lines could fix GPIO access:
[code]
I can't verifiy this until end of December when I have my pi next to me.
@bernhard-a could you test this on a fresh install?
@ThomDietrich This could be a solution for this issue.

[2016-12-18 12:12] ThomDietrich commented on #39
@EliasGabrielsson this will not work... :/ The problem is, that there is no gpio group nor will it have the right privileges if you create it by yourself. Adding openhab to grou gpio would be the [right next step](https://github.com/openhab/openhabian/issues/39#issuecomment-264148885).

Your second line is not needed, that's already part of your openHABian setup ;)

[2016-12-19 16:37] ThomDietrich commented on #52
Hey Elias,
I've been thinking about that too. I guess your idea came after you saw the "Please change the default password" dialog, which is actually only a few days old. The possibility to change all passwords right from the menu would be nice indeed.

* system users (pi) -> `passwd`
* samba users (openhab) -> `smbpasswd` ([Example](https://github.com/openhab/openhabian/blob/master/openhabian-set

[2016-12-19 16:42] ThomDietrich commented on #51
@EliasGabrielsson after this incident I realized, that this might indeed be needed:

It's an easy enhancement. I'll look into that.

[2016-12-19 16:46] ThomDietrich opened #53 "Add debug option to unattended mode"
During first boot installation the setup script is called with the argument `unattended`. An additional `debug` or `verbose` should unset the SILENT flag. This might be helpful for debugging installation problems like https://github.com/openhab/openhabian/issues/51

[2016-12-19 17:03] EliasGabrielsson commented on #52
I can look into it and see what I could manage to come up with. I am currently working to get a install script for some telldus parts as well.

[2016-12-23 09:58] jamesfawcett opened #54 "mounting /dev/mmcblk0p2 on /rootfs failed: Invalid argument"
I'm having trouble with the installer,

https://github.com/openhab/openhabian/blob/master/scripts/etc/init.d/rcS line 412:
`rootfs_mkfs_options=${rootfs_mkfs_options:-'-f'}`

The -f is causing this error for me: https://github.com/debian-pi/raspbian-ua-netinst/issues/29

I'm having trouble building the img after removing the -f, the openhab-build.sh script isn't working for me although I am quite

[2016-12-23 10:58] ThomDietrich commented on #54
Is building the image your intention? If you want to install openHABian on your Raspberry Pi, just take the already build image available under [Releases](https://github.com/openhab/openhabian/releases/tag/v1.0) ;)

[2016-12-23 13:07] jamesfawcett commented on #54
Hi ThomDietrich. Thanks for your reply, I am currently formatting a new SD card to give it another go.

My issue is with the installer, installation fails at "Mounting new filesystems..."

The fix seems to be to remove the -f on line 412 of the install process but I cannot get the project to recompile. Do not worry, this may be a rare problem and may be fixed with the new SD card.

Hardware: Raspb

[2016-12-23 13:26] ThomDietrich commented on #54
Sure think so. Can't think of another reason why a RPi3+SDcard combo would suddenly need another routine, other than hardware damage. Good luck ;)

Just for completeness: Executing `sudo bash openhabian-build.sh` should be all that's needed. I've however done something to prevent accidental execution, maybe you stumbled into that. Check out this [line of code](https://github.com/openhab/openhabian

[2016-12-23 13:57] jamesfawcett commented on #54
That worked spot on thank you Thom, it was the dependencies. I just compiled on a remote Centos server and it worked first time. Just downloading the img file now so I'll give it a go without the -f in the rootfs_mkfs_options. I also believe it's hardware related, will know shortly :)

[2016-12-27 16:44] jamesfawcett commented on #54
Hi @ThomDietrich I can confirm you were right and this was a hardware issue. Purchasing a Genuine Sandisk ULTRA SD card from a reputable source, the installation went smoothly and correctly first time. Thank you for your time, and I'm looking forward to having Openhab running again this evening so I can have the heating on at home!

[2016-12-27 16:44] #54 closed

[2016-12-27 17:41] ThomDietrich commented on #54
Wonderful. Good luck ;) 👌

[2016-12-28 14:35] dmcwhinnie opened #57 "Install 32-bit Java on 64-bit ARM processors"
Currently there are known performance and serial device (ZWave) issues when 64-bit java is used.  On a 64-bit ARM machine we should instead install 32-bit java.

https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/400?u=david

[2016-12-28 14:40] dmcwhinnie opened #58 "run raspi-config on RPi only"
When running the setup on something other than a RasberryPi, the raspi-config should not be executed.

[2016-12-28 14:50] EliasGabrielsson commented on #49
I think some submenus would to great for this installer, especially if there will be a lot of contributions coming. When I where coding the password change menu I start to wonder if a overview structure like this could clear things up a bit:

[code]

The script itself could also reflect these menus so it's easy to navigate in the code. I guess the setup script could be rather long if there are man

[2016-12-28 14:58] EliasGabrielsson commented on #58
I think the script would have a global device identification parameter, eg. `$devicetype` which could be set at runtime of the script. Then all functions is responsible for handle all supported devices.

So far I guess the devices is:
`rpi1`, `rpi2`, `rpi3` and `pine64`

[2016-12-28 17:58] EliasGabrielsson commented on #58
I got stuck on a train so I am currently working on getting the script compatible with non RPi devices. I will update this pull request as progress is made. https://github.com/openhab/openhabian/pull/55

[2016-12-28 18:10] Waldknoblauch opened #59 "Change locale in raspi-config"
"Change locale" in raspi-config in openhabian has no effect. For example, it is not possible to change from English to German. The original Raspian works. Can anybody confirm that?

[2016-12-30 07:20] RaimondB opened #60 "Install Hangs after a while, no idea how to debug"
Hi,

I've run the install several times but each time after a while only the red led is lit, and network lights are out. But it stays that way (even after keeping it running for a night).

When I disconnect and reconnect power when I get to above situation I get into the "failed" modus with the green led blinking fast however, because of the reboot (I think) the log file contains only a few lines.

[2016-12-30 11:12] ThomDietrich commented on #60
Hello, could you provide more details? You should have seen a screen similar to this:

![](https://community-openhab-org.s3-eu-central-1.amazonaws.com/original/2X/a/a89960f6b99f1ab9af41f6efd04a477e71007817.png)

Please post the output of `sudo tail -n 20 /var/log/raspbian-ua-netinst.log` here (only the last 20 lines are important).

These are the two typical causes of a failed installation:

* tem

[2016-12-30 13:43] RaimondB commented on #60
This is what I get after powercycling the Rpi after the hang (because I cannot ssh at that point).
Only 3 lines..

[openHABian] Booting for the first time!
[openHABian] Installing Oracle Java 8 from Web Upd8 repository... OK
[openHABian] Indicating failure through green LED fast blinking.

[2016-12-30 18:41] RaimondB commented on #60
Btw, the SD card is not defective, as I used it sucvcesfully for an OpenHAB1 installation..

[2016-12-31 00:57] ThomDietrich commented on #60
That's very strange. Never experienced this behavior. Could you please additionally look for the file under boot, it could be named slightly differently. `sudo tail -n 20 /boot/raspbian-ua-netinst.log`

[2016-12-31 12:22] JoergPi opened #61 "NGINX Proxy Configuration"
Hi all,

I had to change one line in the generated NGINX config:
`#        proxy_set_header Host                   $http_host; `
`        proxy_set_header Host                   $proxy_host;`
The outcommented line redirected me always to "localhost".

Thanks to ThomDietrich for preparing openhabian and saving a lot of time for many people!

[2016-12-31 13:13] BClark09 commented on #61
Interesting! I can't replicate this problem, is there anything you've done to the hosts file after setting up openHABian?

[2016-12-31 13:50] JoergPi commented on #61
Strange, I can reproduce this: changing the line back to " $http_host" gives me a redirection to "https://localhost" instead of forwarding to the openhab web service.
My hosts file is
[code]
If I want to reproduce the effect after reloading the NGINX config, I have to close the browser window and initiate a new connection (using chromium on linux) to avoid just looking at my local cache.

[2016-12-31 14:06] JoergPi opened #62 "Cosmetical upgrade issue"
apt detects the currently installed openhab version as "upgradeable" but the target version is exactly the same:
[code]
Maybe that's gone after the next "real" upgrade ...

[2016-12-31 14:25] BClark09 commented on #61
Right I've had a look at the script again, how do you connect to openHAB, through an IP or a domain name? Has your server_name been set to "localhost"?

[2016-12-31 15:04] JoergPi commented on #61
I connect via IP address and the $server_name is "localhost (see the full NGINX / openhab conf file below).

[code]

[2016-12-31 16:16] BClark09 commented on #61
Thanks! server_name shouldn't really be set as localhost, it should be the domain or ip address as the third line is redirecting using it. (I might have missed this change @ThomDietrich, sorry!) but I'm guessing that this is now the case if you have a non-static IP. We'll need to find a change that is suitable for all users, so will test various configurations using $proxy_host. But ideally $serve

[2016-12-31 16:23] BClark09 commented on #62
This is a problem with the apt package for any apt users, not just openHABian. We're aiming to fix it when we move the Debian package creation over to it's own repo, as explained in https://github.com/openhab/openhab-linuxpkg/issues/11 . This has been working on initial tests.

[2017-01-02 13:36] berre73 opened #63 "Openhabian failed to install"
Hi,

I have tried to install openhabian on a raspberry 2 and it fails to install.  Error sits on line:
Adding openHAB 2 Snapshot repositories to sources.list.d.

I downloaded the latest image from openhab website.

What am i doing incorrectly?

Regards,

Bert

[2017-01-02 17:02] berre73 commented on #63
Solved in the meanwhile, most likely the server to get the repositories was down.  Thx

[2017-01-02 17:02] #63 closed

[2017-01-02 18:35] alvarq opened #64 "Bluetooth"
The following file is generated the wrong way :

The device is referenced as Serial1 instead of ttyAMA0.
Attached the fixed output:

`
[Unit]
Description=Configure Bluetooth Modems connected by UART
ConditionPathIsDirectory=/proc/device-tree/soc/gpio@7e200000/bt_pins
Before=bluetooth.service
After=dev-ttyAMA0.device

[Service]
Type=forking
ExecStart=/usr/bin/hciattach /dev/ttyAMA0 bcm43xx 921600 n

[2017-01-02 22:59] ThomDietrich commented on #63
Happy to hear you've got the problem solved. Happy automating ;)

Of the rare occasions something goes wrong, this seems to be one of the recurring reasons. I'll look into a retry strategy...

[2017-01-03 21:35] dmcwhinnie commented on #58
I ran your latest script on the pine64, and a username other than pi.  all the chown/chmod scripts seemed to work without issue.

[2017-01-03 22:57] martinjo opened #65 "Openhab2 cannot start"
After a fresh install it seems that openhab2 cannot start. Any ideas what this depends on?

[code]

[2017-01-04 01:31] dmcwhinnie commented on #57
Couple notes to add.  **Note these may be specific to the pine64**, and the linux images available for that particular platform.

To install 32-bit Oracle, the following had to be down before downloading and installing from the Oracle website.

1. enable 3-bit architecture
    dpkg --add-architecture armhf
2. install 32-bit libraries
   apt-get install libc6:armhf libncurses5:armhf libstdc++6:armh

[2017-01-04 01:34] dmcwhinnie opened #66 "check for apt-transport-https prequisite (pine64)"
While setting up openhabian on a pine64, the "apt update" commands would just hang.

Turns out the pine64 default Linux images do not have "apt-transport-https" installed.  It may make sense to add this a default check on pre-requisites.  The openhab distributions use HTTPS.

[2017-01-04 15:41] EliasGabrielsson commented on #58
Great to hear. :+1:

[2017-01-04 15:46] EliasGabrielsson commented on #66
Do you know anyway of identifying an pine64?

I think its motivated to give support for this plattform as well in the image if possible.
It's not require that much extra effort and create great value.
Pine64 offer great value for running openhab.

[2017-01-04 16:46] dmcwhinnie commented on #66
I don't think this is really just a  Pine64 issue, I just happened to see it on this platform.  my guess is any system missing the apt-transport-https package will have the same issue.

was thinking this could be a generic pre-req.

[2017-01-04 18:48] BClark09 commented on #66
RPIs by default don't have apt-transport-https installed, so it must be installed somewhere along the line. On a related note, we are in the process of moving the apt repo over to bintray, which uses http and is much faster.

[2017-01-04 21:10] RaimondB commented on #60
I'm sorry, in the mean time I decided to just go the apt-get way and got it up and running.

Unfortunately I have no second SD card to easily switch setup. Is there an easy way to completely backup the SD card under windows so I can make a complete backup to test the openhabian again and get the above log?

[2017-01-05 12:32] BClark09 commented on #41
As a heads up, the bintray repo is now working along-side cloudbees for the time being. The snapshot distribution can be added to the debian package list via the commands:

[code]

[2017-01-05 20:32] brrrglund commented on #19
Had the same problem today, two times in a row. Is there any convenient way to see if the server is working?

[2017-01-06 07:03] anttisep opened #67 "Installation failes due to missing repos"
Hi,

The installation of latest image fails due to some missing repos. From /var/log/raspbian-ua-netinst.log:
`[openHABian] Adding openHAB 2 Snapshot repositories to sources.list.d... FAILED`

The reason can be found while manually running /opt/openhabian/openhabian-setup.sh:
[code]

Thank you for all your efforts and Best Regads,
 - Antti

[2017-01-06 08:08] devgiants commented on #67
Hello,
I just had the same thing, 2 install failed last night and this morning too.

Thank you for your work,
Regards,

Nicolas

[2017-01-06 08:15] anttisep commented on #67
It appears that the installer is using cloudbees Jenkins workspace as a repository. As the previous Jenkins build was aborted, the build artifacts are missing from workspace. Until new (successful) build is triggered, installer can't install packages. Future installations will occasionally fail if e.g. Jenkins build is ongoing.
So this isn't openhabian bug as itself, but an alternative solution fo

[2017-01-06 08:49] anttisep commented on #67
Temporary ugly workaround:
1) After failed installation, log into the system.
2) Modify /opt/openhabian/openhabian-setup.sh:
   - In function openhab2_addrepo() comment out (or remove) the two lines which are adding the failing repositories:
     # echo "deb https://openhab.ci.cloudbees.com/job/openHAB-Distrib.... >> /etc/apt/sources.list.d/openhab2.list
     # echo "deb https://openhab.ci.cloudbe

[2017-01-06 11:42] ThomDietrich commented on #57
Hello @dmcwhinnie I'll look into this. Could you provide a few references? If this is supposed to be done by openHABian, we need a fully automated process, similar to https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L234-L262

[2017-01-06 11:53] ThomDietrich commented on #66
@BClark09 apt-transport-https is also needed by other packages ;)

@dmcwhinnie Thanks for reporting the problem. The package is installed in ``needed_packages()``, which is part of "Basic Setup". It didn't get clear to me if (1) apt-transport-https is not installed on your system or (2) it's not available in your repositories. If 1 is the case, I don't see an issue here!? The only improvement I co

[2017-01-06 11:55] ThomDietrich commented on #60
That would be great! Chances are high it will work now (a couple of days later).
Yes there is. I guess you used Win32DiskImager to "Write" the fresh image to your sd card!? You can simply go the other way and "Read" the current system back into an image file.

[2017-01-06 12:08] EliasGabrielsson commented on #66
@ThomDietrich I saw that, we just need an unique identifier for Pine64. I don't own any myself. But when you say it, @dmcwhinnie could you run `cat /proc/cpuinfo` and post the output here?

[2017-01-06 13:29] ThomDietrich commented on #41
Hey @BClark09, thanks. I'll have a look into it next week. I guess some more steps will be needed with the new online/offline packages.
I saw that there are two or three build types. Please correct me if I'm wrong:
**unstable**: Will always deliver the latest snapshot.
**testing**: Will always deliver latest beta. (or stable when no newer beta is available)
**stable**: Will always deliver latest s

[2017-01-06 13:34] ThomDietrich commented on #19
openHAB is currently switching over to a new server, this problem will not occur in the future ;)

[2017-01-06 13:58] BClark09 commented on #41
Absolutely right on the build types. Changing the source list for now should be all that is required whilst online/offline versions exist.

When offline is removed, "openhab2-online" will become "openhab2" but since you can't directly rename packages from different sources, the order of commands to make the switch should be:

[code]

Followed optionally by:
[code]

I'm working on getting the openh

[2017-01-06 14:11] anttisep commented on #67
The repository seems to have come back available. Closing this issue.

[2017-01-06 14:11] #67 closed

[2017-01-06 17:50] ThomDietrich commented on #67
Hey @anttisep you should just have waited :D The problem is unfortunate for sure. I hope/believe this problem will not occur with the new repository available soon. From the instructions you posted I get the impression that yo dug deep into the openHABian scripts. Nice work ;)

[2017-01-07 09:57] kubawolanin opened #68 "Replace apt snapshot repository"
Apt repository changed for recent openHAB2 distro. See [this thread](https://community.openhab.org/t/replacement-of-the-apt-snapshot-repository/19674) for more details.

Also it would be good to have a choice in openHABian config whether you want to update to "unstable" (old "snapshot") or "stable" distro.

Thank you @ThomDietrich for your work! 🙂

[2017-01-07 15:42] dmcwhinnie commented on #66
@ThomDietrich.  I think I figured out the apt-trasnport-https issue.  it is actually related to the java issue on the pine64.  When the `needed_packages()` is run, it includes `oracle-java8-jdk`.  The problem is on the pine that java install results in this error

`Package oracle-java8-jdk is a virtual package provided by:
  oracle-java9-installer 9b149+9b149arm-1~webupd8~0
  oracle-java8-installe

[2017-01-07 15:46] dmcwhinnie commented on #66
@EliasGabrielsson Here is the /proc/cpuinfo

`root@openhab:/opt/openhabian#  cat /proc/cpuinfo
Processor       : AArch64 Processor rev 4 (aarch64)
processor       : 0
processor       : 1
processor       : 2
processor       : 3
Features        : fp asimd aes pmull sha1 sha2 crc32
CPU implementer : 0x41
CPU architecture: AArch64
CPU variant     : 0x0
CPU part        : 0xd03
CPU revision    : 4

Hard

[2017-01-07 15:51] dmcwhinnie commented on #57
@ThomDietrich I think the real issue is going to be getting the 32-bit Oracle.  Only place I found it was from the Oracle website, where you have to agree to their terms before downloading through the web browser.  I tried to find a way to get it from webupd8team on ppa.launchpad.net, but couldn't find it (or was beyond my abilities).  That would be ideal because they have the ability to accept th

[2017-01-07 16:40] mg-arne commented on #65
I have the same issue.

[2017-01-08 17:44] ThomDietrich opened #69 "Add openhabian-config symlink creation to Basic Setup"
It's currently part of a special routine, should move to "Basic Setup".
https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/414

[2017-01-08 18:30] brrrglund commented on #19
Thanks, tried again this morning and it worked =]

[2017-01-08 22:01] ThomDietrich commented on #57
https://community.openhab.org/t/im-losing-my-hair-lol/19790/1

[2017-01-09 16:05] brunosarlo opened #70 "Installation finishes but says "seems to have failed""
Hi, first of all thanks for this magical img!

I have this alert after installation and just wanted to report it, in case it's helpfull for you.

My first try give me this alert when I logged in first time:

`Attention! The openHABian setup process seems to have failed on your system.
Sorry, this shouldn't happen! Please restart the installation process. Chances
are high setup will succeed on the

[2017-01-09 17:43] ThomDietrich commented on #70
Hey @brunosarlo, you really decided to install openHABian on the wrong day :) There have been some changes to the openHAB repository today and I'll change the openHABian installation script this evening. I'll let you know. After it's done you just have to execute the mentioned two commands.

[2017-01-09 18:26] BClark09 commented on #41
Turns out that we can make it so that `sudo apt-get install openhab2` will remove `openhab2-online` for you!

@ThomDietrich. thought you should know that the new package types will be available when https://github.com/openhab/openhab-linuxpkg/pull/18 is merged and it's had a chance to have one build.

The older offline/online packages will still exist as long as the version that contains it does s

[2017-01-09 18:41] ThomDietrich commented on #41
It's about time to move over! I've just switched over to the new repository.
It's already tested on my system.
The next step will be to

1. Switch to installing `openhab2 openhab2-addons` or only `openhab2` on new systems
2. Transition updating systems away from `openhab2-offline`
3. Provide the choice to install stable, testing or unstable through the menu (With stable being the default)

[2017-01-09 19:04] kubawolanin commented on #68
Closing since was resolved with #71 - Thanks @ThomDietrich

In the future, do you think it will be feasible to choose between latest (e.g. openHAB2 final) and unstable (snapshot)?

Best regards

[2017-01-09 19:04] #68 closed

[2017-01-09 19:15] ThomDietrich commented on #68
https://github.com/openhab/openhabian/issues/41#issuecomment-271367723

Yes ;)

[2017-01-09 19:15] ThomDietrich commented on #70
@brunosarlo You should be good to go.

[code]

[2017-01-09 19:15] #70 closed

[2017-01-11 11:18] ThomDietrich commented on #57
For reference: https://community.openhab.org/t/my-openhab-org-is-online-ios-app-doesnt-show-sitemap-solution-java-update/12858/64

[2017-01-11 18:17] ThomDietrich opened #72 "openHAB install routine"
``if (INTERACTIVE) systemctl start openhabe2.service``

[2017-01-11 18:38] ThomDietrich opened #73 "NGINX routine: signature error"
[code]

[2017-01-11 18:40] BClark09 commented on #73
[code]
Should have stopped that error prevailing no?

[2017-01-11 18:45] ThomDietrich commented on #73
I've got no time right now, hence the ticket. Of course you are right and the more interesting part of my backlog is:

[code]

[2017-01-11 18:48] BClark09 commented on #73
subkeys.pgp.net might be the better server to use here. It's the one reccomended by [the debian wiki](https://wiki.debian.org/SecureApt#How_to_find_and_add_a_key)

[2017-01-11 18:54] ThomDietrich commented on #73
A subsequent call of these commands did however work just now...
Not sure how to handle that issue. We could switch the server, check for a retry parameter with `gpg` or handle the return value of this command and stop the execution.

[2017-01-11 18:57] BClark09 commented on #73
Third option, save the key in the include option and use that file instead of the server?

[2017-01-12 16:47] ThomDietrich commented on #66
@kaikreuzer if you would find the time, could you please post your output of this command on your pine as a second reference? I'll also write a posting in the pine64 forum. Thank you!

[2017-01-13 16:32] leiweke opened #75 "Change keyboard layout in raspi-config is not working"
I sudo raspi-config and change option I3 Change Keyboard Layout to German gives no error, but if you end raspy-config it will still be english, no Y=Z Z=Y ....

newest download and build from today 13.01.

[2017-01-13 16:53] ThomDietrich commented on #75
[Use SSH.](https://community.openhab.org/t/openhabian-hassle-free-rpi-image-login-failed/18816/4?u=thomdietrich)

If you really want to use a keyboard, try the first two commands here or edit the config file directly: https://wiki.debian.org/Keyboard

[2017-01-13 17:03] leiweke commented on #75
Thanks but i did that no luck. i also checked /etc/default/keyboard the settings are there but y is still z

[2017-01-13 17:15] ThomDietrich commented on #66
It's a bit embarrassing I can not link to the docs.openhab.org article on that ^^

openHABian started as an Raspberry Pi image including and executing scripts to configure everything. Now these files can actually be executed on any other debian/ubuntu based system. You'd just have to clone the Repository and execute `openhabian-setup.sh`.
However: At the moment these scripts assume a few RPi speci

[2017-01-13 17:19] ThomDietrich commented on #75
Did you reboot?
You may also need to change your locale. https://wiki.debian.org/ChangeLanguage

[2017-01-13 17:22] kaikreuzer commented on #66
Thanks for the background infos, sounds wonderful!
I was specifically interested, since I currently still provide the pine SD card image by manually constructing it - being able to use openhabian for it would be gorgeous :-)

[2017-01-13 17:28] dmcwhinnie commented on #66
Yeah I was using your original pine image.  Decided I would see if I could start from scratch, then wanted to setup samba, nginx etc.  So I figured I would see if I could help get Openhabian  working on the pine.  plus I figured you had enough going on and removing the need to maintain an image just for pine would give you all sorts of free time.

If you also have any documented steps you used to

[2017-01-13 17:28] ThomDietrich commented on #66
I could probably provide that image. It would be a minimal system self-configuring at first boot with the latest openHAB build and so on. Of course I could also provide you with the details. I have no further knowledge of the pine64 but if I were to order one, would I have to do that in their official store?

[2017-01-13 17:31] dmcwhinnie commented on #66
Yeah can buy it here: https://www.pine64.org/?post_type=product

I think most of us got it through their kickstarter, which included Wifi/Bluetooth and ZWave modules.

[2017-01-13 17:36] kaikreuzer commented on #66
Would indeed be great to have such! We might find ways to get you a PINE64...

Haha, free time, what's that? Can you elaborate? ;-)

[2017-01-13 17:47] ThomDietrich commented on #66
That would be a good start ;) Whichever way, if I get my hands on one, I'll build that image in probably just a few days. Plus I agree with Davids argument ;)

@dmcwhinnie I'm still betting on you for further testing. Especially with the mentioned ZWave module. I settled with Homematic in my home.

[2017-01-13 17:51] leiweke commented on #75
yes i did a reboot
and also followed the instructions. no luck.

on "normal" Jeesie image it i only change the keyboard without changing the local.

[2017-01-13 17:55] ThomDietrich commented on #75
I read here: https://github.com/debian-pi/raspbian-ua-netinst/issues/226
that you need to `sudo apt install console-data console-setup keyboard-configuration`

[2017-01-13 17:59] dmcwhinnie commented on #66
I don't have any actual zwave devices yet.  I got this with the assumption I would try a few devices, but haven't gotten there yet.   But I can at least see the binding come online.

[2017-01-13 18:51] leiweke commented on #75
okay that was the final solution. thanks a lot

[2017-01-13 18:59] ThomDietrich commented on #75
So the solution is these packages plus setting the layout via raspi-config?

[2017-01-13 19:10] leiweke commented on #75
Yes

[2017-01-13 19:12] #75 closed

[2017-01-14 10:07] kaikreuzer commented on #66
It's on its way, you should receive it on Monday :-)

[2017-01-15 17:28] RaimondB commented on #60
I have just reinstalled using openhabian and things went fluently this time :-D

[2017-01-15 18:19] BClark09 commented on #41
Hi @ThomDietrich, I have prepared a debian repo for you to test with:

It contains, in version-chronological order:

 - 2.0.0~b5 (online and offline) in the testing branch.
 - 2.0.0 in the stable branch (which is actually just a [perhaps unstable] snapshot I built today)
 - 2.0.0~[snapshot] in the unstable branch (built after 2.0.0)

I hope this helps, if you need anything else inside it just let

[2017-01-15 20:36] ThomDietrich commented on #41
Amazing. Thank you @BClark09 !

[2017-01-15 20:37] ThomDietrich commented on #60
Great to hear ;)

[2017-01-15 20:37] #60 closed

[2017-01-17 09:07] ThomDietrich opened #76 "Utilization on RPi Zero"
Investigate after Pine64 efforts are finished
https://community.openhab.org/t/oh-on-the-raspberry-pi-zero/10997/3

[2017-01-17 18:08] ThomDietrich opened #77 "Nginx satisfy any for local subnet"
Add what was introduced here https://github.com/openhab/openhab-docs/pull/214 as an option

[2017-01-18 08:58] nwootton commented on #59
I'm having the same issue. I've been able to remove the de_DE.UTF-8, but adding en_GB.UTF-8 and/or replacing en_US.UTF-8 all result in errors. Tried using raspi-config and via terminal.

[2017-01-18 12:45] ThomDietrich commented on #59
Hello,
I didn't look into this yet.
As a workaround, you should be able to set them manually. These are the commands openHABian uses:

[code]

So please edit /etc/locale.gen according to your needs and execute the two commands. I'll have to look into this problem at a later point.

[2017-01-18 23:57] ThomDietrich commented on #66
https://community.openhab.org/t/64-bit-arm-serial/8493/41

[2017-01-19 21:49] FipsJr opened #78 "Add smb link to the openhab2 log path"

[2017-01-19 21:51] FipsJr opened #79 "add possibility to mount USB storage as log or persistence path to reduce write cycles on the SD card"

[2017-01-20 14:21] ThomDietrich opened #80 "Check karaf pasword change after activation of encryption"

[2017-01-21 22:37] jtmoderate876 opened #81 "Manual Setup instructions create /opt/openhabian/openhabian instead of /opt/openhabian"
I am following the "Manual Setup" instructions on my raspberry pi zero.

I ran into "directory does not exist" - cleaned up as if starting from scratch but this time making an adjustment to this line:
sudo git -C /opt/openhabian clone https://github.com/openhab/openhabian.git

Removing the first "/openhabian" to be:
sudo git -C /opt clone https://github.com/openhab/openhabian.git

[2017-01-21 22:42] ThomDietrich commented on #81
Ah! Wrote that one command out of memory.
The even better solution is
[code]

[2017-01-21 22:42] #81 closed

[2017-01-23 12:50] brunosarlo commented on #70
Thanks! :)

[2017-01-23 21:28] CWempe opened #83 "add syntax highlighting for mcedit"
I updated my syntax hiliighting files for mcedit from 2013 and created a repo.

https://github.com/CWempe/openhab-mcedit

Feel free to use, integrate it and improve if necessary. :)

btw: openhab community is down atm, so i created this issue instead of posting to the thread.

[2017-01-24 18:28] cribskip commented on #3
Hi, I'd like to advocate for borgbackup (https://borgbackup.readthedocs.io/en/stable/). I'm using it successfully in my home network for several nodes and things, f.e. the openhab config.

Newest version even includes "versioning", e.g. show all versions of a file.

Cheers,
Sascha

[2017-01-24 18:35] cribskip opened #84 "Release 1.0 not working for me"
Hi,

today I gave openHABbianpi a try on my trustworthy PI2 which served me ages with openhab 1.8 and raspbian.

So I downloaded the image, dd'ed it to a known-to-work SD and booted. Network went up, ping works. Network showed some activity but ssh was not possible. I waited 10 minutes. Nothing.

Thinking the img is corrupt, I gave it another try. Downloaded again, sha'ed the download, same result

[2017-01-24 20:44] StephanSchuster opened #85 "KNX installation not working (anymore)"
I just wrote the following comment to the owner of the underlying install script (currently awaiting moderation):

[2017-01-24 21:39] mhoumark commented on #84
Hi,
Can verify that it runs just fine on PI2.
The initial process was a bit slow, i think it took about 30-40 minutes to get it up and running.

[2017-01-24 22:13] sreusr opened #86 "Can't use the openhab console"
using ssh like written to connect locally to the console doesn't work (no reply).
Port is open and java listening to it. Any way to debug?

[2017-01-24 22:34] sreusr commented on #86
sorry, works fine

[2017-01-24 22:34] #86 closed

[2017-01-24 22:36] ThomDietrich commented on #86
Hey, the ssh host key is generated at first connection. That's why the first or even second attempt will time out. That's something happening on relatively weak systems like the RPi. I'll eventually implement a fix for that. For now, just be patient (as it says in docs [here](http://docs.openhab.org/administration/console.html))

[2017-01-24 22:37] ThomDietrich commented on #84
Did you read documentation? http://docs.openhab.org/installation/openhabian.html

![grafik](https://cloud.githubusercontent.com/assets/2870104/22270019/21fe61a2-e28e-11e6-9f55-7a5c58039d3a.png)

[2017-01-24 22:39] #84 closed

[2017-01-24 22:41] ThomDietrich commented on #85
Interesting indeed. Please keep me posted. If you do not receive a response in the next few days, please tell me and I'll include a modified version directly in openHABian.

[2017-01-25 00:28] sreusr commented on #86
hoi thomas :)

thanks for the clarification and sorry for the "inconvenience", i had to
wait some more than a few seconds on my rpi 2b+, that made me undetermined.

big thanks for this great work, does the job like a charm!:)
please let me know if i can help you out any how.

best regards,
simeon

ps: i closed the issue by the time of your email, if thats fine for you.

Am 24.01.2017 um 23:36 schr

[2017-01-25 00:29] sreusr commented on #86
thanks for the clarification and sorry for the "inconvenience", i had to wait some more than a few seconds on my rpi 2b+, that made me undetermined. big thanks for this great work, does the job like a charm! let me know if i can help you out any how.

[2017-01-25 07:11] ThomDietrich commented on #86
Sure thing. You would help a lot if you continued reporting these kinds of details. openHABian is quite young and I wanted to invest some time into usability next

[2017-01-25 19:13] tischla commented on #85
Hi,
Script stops with:

checking for LIBUSB… yes
EMI because of usb
checking for ev_run in -lev… no
configure: error: libev not found
make: *** No rule to make target ‘clean’. Stop.

thx
Roland

[2017-01-25 20:29] LeDumpier commented on #28
@kubawolanin A huge thanks to you and the others for the information here. I implemented the commands described by you above and Voila, I could retrieve the logs. Nice indeed. As a beginner it means your steps are pretty much comprehensive.

I'm looking forward to seeing the setup option in the OpenHABian menu :)

It would be useful to use in Habpanel UI for testing, i.e. to put up some switches,

[2017-01-25 21:37] ThomDietrich commented on #28
This is still on the todo list! Valuable feature indeed. I've been swamped with other things like the documentation for the openHAB 2 docs page. @LeDumpier this will start frontail on boot automatically. You might not even need it.

[2017-01-26 08:42] cribskip commented on #85
There are 2 packages missing: libev-dev libev4
Afterwards, after triggering from within openhabian-config, it builds just fine.

KR,
Sascha

[2017-01-26 08:44] cribskip commented on #65
I did a fresh install yestday, openhab2 works for me.
Seems like after
Ignoring predefined value for KARAF_HOME
it can't find its dependent components anymore.

KR
Sascha

[2017-01-26 10:01] ThomDietrich commented on #65
This is an unknown problem to me. Please use

[code]

Then look at `/var/log/daemon.log` and `/var/log/openhab2/openhab.log` for possible cause. I don't think that's an openHABian problem and sure hope it can be solved by restarting once for example.

[2017-01-26 10:03] ThomDietrich commented on #85
@stephanschuster was the script updated or is the solution by @cribskip all that's needed? sure sounds like a clean solution.
@cribskip so adding these to packages to the installation routine is all that's needed?

[2017-01-26 11:21] nboeckmann commented on #65
Hi,

I've had the same exact issue after running through the `openhabian-config`. I've had to install openhab-addons with `sudo apt-get install openhab2-addons` to get it to work.

[2017-01-26 11:23] stephanschuster commented on #85
Well, I'm not at home at the moment. So I cannot verify this. But I remember that I definitely installed libev-dev and libev4 and retriggered the install script. Not sure anymore if the build was really successful then. I've tried various stuff meanwhile. In the end I never managed to see KNX packages with knxtool. But that might have other reasons. My setup: RPI3, openHABianpi, knxd, TUL stick wi

[2017-01-26 11:46] ThomDietrich commented on #65
So that is not a fresh install?

[2017-01-26 11:54] stephanschuster commented on #85
Even if it might be a bit off-topic: May I ask you guys for help with my personal problem? I think I have a pretty common setup, so other users of openHAB(ian) would benefit from this as well.

My setup:
- Raspberry 3
- [TUL Stick](http://busware.de/tiki-index.php?page=TUL) flashed with "transparent TPUART" firmware plugged into RPI3 and connected to KNX bus (done by my electrician, so should be o

[2017-01-26 12:43] tatsche commented on #85
I definitely install libev-dev and libev4, but the script fails with the same issue:

checking for ev_run in -lev... no
configure: error: libev not found

Cheers

[2017-01-26 13:52] nboeckmann commented on #65
I don't get your point. I've downloaded the openhabian image and extracted it to my SDCard and went through the described installation steps. I was having the described issue afterwards. Installing the openhab2-addons has fixed my issue.

[2017-01-26 14:35] Zigulle commented on #85
Hallo,

same here. libel-dev is installed, but the script fails with the same issue:

checking for ev_run in -lev... no
configure: error: libev not found

Greetings

[2017-01-26 15:18] ThomDietrich commented on #85
@stephanschuster you can for sure ask these kinds of things. But please not here. You'll reach more people in the community forum https://community.openhab.org/tags/knx

Regarding the issue: Please note, that I myself am not using knx. Hence would be great if you came up with an idea and reported back so i can fix it in script. You should also reach out to the openhab community for help.

[2017-01-26 16:50] stephanschuster commented on #85
@ThomDietrich: Sorry for the off-topic post. I moved it to [here](https://community.openhab.org/t/setup-trouble-openhab2-knx-tul-busware-de-knxd/21242) as you suggested.

[2017-01-26 16:52] ThomDietrich commented on #85
No problem. It's just more likely to not solve one problem if people start talking about another ;)

[2017-01-26 23:53] stephanschuster commented on #85
Okay, for me it's working as expected now.

What I did:
- new clean install of openHABian
- build the latest source code of knxd (0.12.x) exactly as detailed [here](https://github.com/knxd/knxd#building)
- followed the stuff in section "Adding a TPUART USB interface" (due to my TUL stick)
- modified /etc/knxd.conf
- reboot

Done. I can see the packages with knxtool. Perfect. Now I can move on ...

[2017-01-27 00:20] stephanschuster commented on #85
Grrr. knxd seems to work but now I cannot access http://openhabianpi:8080/. Connection refused all the time. Even after reboot. Any ideas if and how this could relate to the knxd installation? Unfortunately I did not try to access the webpage before installation of knxd. But in my last installations of openhabianpi it always worked. Some hint on how to debug this?

[2017-01-27 18:46] kaikreuzer commented on #57
Just came across this by chance.
I can confirm: On 64-bit ARM boards like the PINE64, you'll need to do
[code]
afterwards, 32-bit Java works well. This is what I did for the PINE64 SD card image as well.

Wrt the Oracle license issue: We should anyhow move to [Zulu Embedded](http://www.azul.com/downloads/zulu-embedded/), which works well as 32-bit on the PINE64 as well with the above steps.

[2017-01-28 16:07] meyju commented on #65
I had the same issue after a clean install of openhabian. Installing openhab2-addons didn't fixed the problem. Did a fresh install of openhabian again and had no errors. Maybe the setup routine had some issues while downloading. I saw a lot of "dpkg ignore dependencies" messages.

[2017-01-30 00:06] rhinomods commented on #65
I am having the same issue,
I have made a clean install 3 times thinking I broke something.
After clean install it works fine. I installed Milight binding and rebooted the Pi, and it breaks..
@ThomDietrich when i run your commands, (restart and then status) Then look into the two logs
I do not see anything but the installation of the binding. No other error information.

just this under status

`s

[2017-01-30 12:10] ThomDietrich commented on #65
Okay that's really strange. @rhinomods I'll do exactly what you described this evening with my testing RPi. Let's see...

[2017-01-30 15:46] ThomDietrich commented on #64
Hey @alvarq sorry for answering on this only now. What's the effect of what you are posting here.

Please be aware of https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/650
I'll be looking to implement this.

[2017-01-31 11:31] nwootton commented on #59
Thom - sorry I didn't get a notification that you'd replied to this. I'll try that ASAP and get back to you.

[2017-01-31 22:54] stephanschuster commented on #85
Michael, the author of the install script, updated his script and created a git repo:

Source: http://michlstechblog.info/blog/raspberry-pi-eibknx-ip-gateway-and-router-with-knxd/

I did not try it. I'm fine with my own compilation. According to some first comments, the script is now working again. Maybe openhabian should use the new git repo for the KNX install script

[2017-02-06 07:48] cauer71 commented on #65
I have the same issue today

[2017-02-06 22:01] ThomDietrich commented on #65
Everyone, sadly I was swamped with other tasks the last couple of days. Wanted to do testing today only to find out that my spare RPi is without SD card now. I've ordered one today and will test as soon as it arrives.

[2017-02-07 08:43] cauer71 commented on #65
I run the setup again. The second time it was successful

[2017-02-07 11:12] ThomDietrich commented on #65
That's what I would expect. Simply doesn't make sense for hundreds of installations to succeed and single ones to magically fail. I'd suggest to check the faulty setups for problems. I've written a docu part on that:

http://docs.openhab.org/installation/openhabian.html#faq-successful

I'll close this ticket.

[2017-02-07 11:12] #65 closed

[2017-02-08 10:14] ThomDietrich opened #87 "Add bluetooth package"
https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/650?u=thomdietrich

Also for e.g. `lsusb`: usbutils

[2017-02-08 13:10] bits4life opened #88 "Manual Setup on fresh ubuntu 16.04 minimal server"
Like requested in the docs I would like to report some errors when using openhabian-config on a freshly installed ubuntu 16.04 minimal server from mini.iso.
First the good things
- Java 8 install from the menu worked perfect.
-1wire install worked

Some issues I  encountered
Basic setup fails with _E: Package 'oracle-java8-jdk' has no installation candidate_ (Just wonder why java is also installed

[2017-02-08 13:26] ThomDietrich commented on #88
Hey @bits4life,
thanks for your report! As it happens I was going to work on a few extended platform support features this evening. I'll make sure to take all your seen errors into consideration. I'll keep you posted!

Best Regards, Thomas

[2017-02-09 00:34] ThomDietrich opened #89 "Make pi samba user, install and setup libpam-smbpass"

[2017-02-09 05:30] rekab commented on #65
I ran into this today on a fresh install. Tried installing openhab2-addons, didn't fix it. Fully re-installing with

`sudo apt-get remove openhab2-addons openhab2`

followed by

 `sudo apt-get install openhab2-addons openhab2`

fixed it. I don't have any other debugging info other than this appeared in the syslog (https://github.com/openhab/openhabian/files/762663/syslog.txt) while the install was

[2017-02-09 18:43] rekab commented on #65
I have a gigabit fiber connection and I gave it plenty of time on my brand new rpi 2. From my syslog, the initial failure was at 5:40 and was in an obvious crashloop for 30+ minutes:

    $ grep -i stop.*exception syslog.txt
    Feb  9 05:40:31 openHABianPi stop[1293]: Exception in thread "main" java.lang.NumberFormatException: null
    Feb  9 05:40:38 openHABianPi stop[1749]: Exception in thread

[2017-02-11 16:58] ThomDietrich opened #93 "pine64 Support"
I'm in the process of building an openHABian pine64 image.
@kaikreuzer @dmcwhinnie

Progress so far:

* with #90, #91 and #92 I've paved the way for the openHABian config tool to be compatible with other platforms (Pine64 tests still needed)
* I've decided to go with [Ubuntu Base Image by longsleep](http://wiki.pine64.org/index.php/Pine_A64_Software_Release#Ubuntu_Base_Image_.5B20160716-1.5D_by_lo

[2017-02-11 17:16] ThomDietrich commented on #93
First build successful. Flashing now

[2017-02-12 00:13] dmcwhinnie commented on #93
Purchased a new SD card this week, so ready to test when you are...

[2017-02-12 16:02] ThomDietrich commented on #93
The image is almost finished. The next step will be modifications and improvements inside the openhabian setup. That's easier. @dmcwhinnie I'd be happy to provide you with a first image in a few hours.

[2017-02-12 19:06] BClark09 commented on #41
Sorry to have to do this to you again! We will be moving the snapshots to a new repo, since Bintray can't support the nightly nature of openhab:

[code]

I've placed a snapshot build on there for you to test with, but at the moment it is not GPG signed, so you will have to state yes when it tells warns you of no authentication. That's the most likely place it'll go but the "debian-local" name migh

[2017-02-12 20:49] ThomDietrich commented on #41
Hey @BClark09 thanks for the heads up!
Actually this is not of concern to here *atm*. openHABian doesn't have the function to switch to another branch yet. http://docs.openhab.org/installation/openhabian.html#switch-openhab-branch
But of course I wanted to add that function eventually. Thanks!

[2017-02-12 21:17] ThomDietrich commented on #93
@dmcwhinnie It took longer than I thought but here it is: https://drive.google.com/open?id=0B67AyLNQlS3dMndLSkY0TnlDYXM

[2017-02-12 21:42] dmcwhinnie commented on #93
great!   May not get to it today, but will get it in the next coupe days.

On Sun, Feb 12, 2017 at 3:17 PM, Thomas Dietrich <notifications@github.com>
wrote:

[2017-02-12 22:11] kaikreuzer commented on #93
Started flashing my SD card :-)

One drawback to the RPi net-installer is that the extracted image is 4GB, so initial flashing takes much longer.

[2017-02-12 22:14] ThomDietrich commented on #93
Indeed :) One does appreciate that after a while.

Sadly there was a small error in the image, you will not have much fun with it. Give me a few seconds.
It would be great to have a few testers in the next few days.

[2017-02-12 22:14] pigetto opened #94 "Tellstick Binding fails"
Cannot add Tellstick Add-on (1.9.0 or 2.0.0)

**openhab.log:**
2017-02-11 14:58:28.599 [ERROR] [l.discovery.TellstickBridgeDiscovery] - Could not load telldus core, please make sure Telldus is installed and correct 32/64 bit java.
java.lang.UnsatisfiedLinkError: Unable to load library 'telldus-core': Native library (linux-arm/libtelldus-core.so) not found in resource path (/usr/share/openhab2/runt

[2017-02-12 22:15] kaikreuzer commented on #93
Ok, cancelling the flashing...
Will be happy to test any further updates!

[2017-02-12 22:20] ThomDietrich commented on #94
Did you see https://github.com/openhab/openhabian/pull/56

[2017-02-12 22:55] pigetto commented on #94
Oops, missed that one, sorry!

[2017-02-12 22:58] #94 closed

[2017-02-13 00:50] ThomDietrich commented on #93
Finally here we go! https://drive.google.com/open?id=0B67AyLNQlS3dWkVPMjFMbWdJZWs
The setup process seems to be stable now. It will be a bit simpler as soon as the pine image build project accepted three PRs of mine. Okay, currently there are two problems:

1. The first boot seems to need a bit longer to provide network connectivity, the second boot will then successfully start and finish the open

[2017-02-13 03:16] dmcwhinnie commented on #93
First install looks good! To fix the armhf library issue, these steps need to be added.

[code]

Once I did that, I was able to start openHAB.  Reboot started everything automatically.

I also did some basic tests with samba, z-wave addon installed, and detected the zwave module shipped with the original IOT Pine 64 shipments.

[2017-02-13 08:59] kaikreuzer commented on #93
Err, stupid question: What is the default user to log in with?

[2017-02-13 11:38] ThomDietrich commented on #93
I found a solution to the first problem (not in the image yet, so you will have to reboot once) and can confirm that the steps as described by @dmcwhinnie do the job (Thanks!).

@kaikreuzer ``ubuntu:ubuntu`` ;D

[2017-02-13 11:42] kaikreuzer commented on #93
Ah :-) Needs to be changed 😎

[2017-02-13 13:04] kaikreuzer commented on #93
Just FTR: Whatever I execute, I see many of these warnings:
[code]

[2017-02-13 13:04] ThomDietrich commented on #93
I had longer discussions about that before. till now we decided to stay with the default password (e.g. `pi:raspberry`) but ask the user to change it: https://github.com/openhab/openhabian/blob/pine64-build/openhabian-setup.sh#L1006-L1042 - This routine is called whenever a user exits `sudo openhabian-config`.

[2017-02-13 13:05] ThomDietrich commented on #93
Ah, setting locale was one of the last things I automated yesterday. Didn't ensure it's running smoothly...

[2017-02-13 13:08] kaikreuzer commented on #93
I was also hoping for a different user, like e.g. "openhab" instead of "ubuntu". But I see that this won't work for e.g. the netinstaller that isn't under our control. And nothing to urgent for sure. But on the long run, it would be neat to have the same user on any openHABian installation and not different once depending on whether you run it on pi or pine.

[2017-02-13 13:28] kaikreuzer commented on #93
Regarding Zulu JDK, all I needed to make it work was:
[code]

@dmcwhinnie Are `libncurses5:armhf`&  `libstdc++6:armhf` really required as well?

@ThomDietrich I also found the solution for the font issue! It is as simple as installing `fontconfig:armhf`!

[2017-02-13 13:34] kaikreuzer commented on #93
Configuring the Z-Wave board as `/dev/ttyS2` also directly worked without any further tweaking - so overall, I agree with @dmcwhinnie: Great work so far! 👍

[2017-02-13 13:37] dmcwhinnie commented on #93
I never confirmed all 3 were required.  I had found the information somewhere, in the past, which said all 3 were needed.  Once I had it working, I never went back to fully confirm if all 3 were needed.  I suspect only the 1 is needed, and your setup seems to confirm.

[2017-02-13 13:52] ThomDietrich commented on #93
Oh but it is :smiley: I just decided to set it to pi/ubuntu for now. You see, in the beginning of openHABian I wanted a "hassle-free" start, which includes being able to log in with the password RPi users with little or no Linux experience know: `raspberry`. Now with possibly more and more platforms supported I'd agree, one username:password would be nice.
Are you sure about the openhab user? That

[2017-02-13 14:04] kaikreuzer commented on #93
Well, it would be in line with [our docs for manual setup](http://docs.openhab.org/installation/linux.html#manual-installation).

[2017-02-13 14:06] kaikreuzer commented on #93
Or do you mean we should actually have two users? "openhab" for running the service and then an admin/sudo user for manual logins?

[2017-02-13 14:07] ThomDietrich commented on #93
@kaikreuzer could please provide me with one example command how to provoke the locale warning...

Thanks. Turns out all I missed in my late nighter yesterday was the `apt update` :sweat_smile:

Amazing. Do I still need to confirm this on the RPi?

You mean inside openHAB? No changes on system side needed? Perfect!

Okay then, I'll add the one and it's good that all three of them are mentioned her

[2017-02-13 14:21] ThomDietrich commented on #93
[code]
This is a system user without (ssh) login ;)

[2017-02-13 14:27] kaikreuzer commented on #93
Ok, then I would go for "openhabian".

It e.g. happens when doing apt-get installs like
[code]

It has already been confirmed to be working [here](https://github.com/openhab/openhabian/pull/92#issuecomment-279170417). What might be good is to check the minimal requirement. It might be enough to install `libfontconfig1:armhf` - we might not need the "full" fontconfig. Likewise, I had installed `ttf

[2017-02-13 19:18] ThomDietrich commented on #93
The shell will look like this:

[code]

Maybe we can come up with something nicer?

Building new image, including `libc6:armhf libfontconfig1:armhf` and the first boot fix.

[2017-02-13 21:47] dmcwhinnie commented on #93
For the status LED, looks like it is doable based on this
https://gist.github.com/pfeerick/00b04df3ce65979158b117b4e1f7c168
and
http://forum.pine64.org/showthread.php?tid=2234

The issue I see is that this is a script running in a loop, so would have to spawn something and keep it running in the background.  Not quite as clean as the PI for causing it to heartbeat.

[2017-02-13 22:34] kaikreuzer commented on #93
Maybe some shorter hostname? `openHABPine`? `PineHAB`?

[2017-02-14 01:25] ThomDietrich commented on #93
Here we go. I've uploaded a new image to test. Changes since yesterday:

* Changed username:password to `openhabian:openhabian`
* Added `libc6:armhf` for Zulu - tested!
* Added `libfontconfig1:armhf` for charts - tested!
* Improved boot up readiness test
* Removed two steps from the build that were merged in the used project today
* Make sure openHAB is started after being installed
* Checked loca

[2017-02-14 01:43] dmcwhinnie commented on #93
I like  `smart:home`.  With my typing skills I'll never get enthusiast right each time....

I'll let you know how the testing goes...

[2017-02-14 03:19] dmcwhinnie commented on #93
Here are some observations.  A couple things may just be me,  I will re-image and test again to confirm Tuesday

1. Installed zwave and some others (chromecast, HTTP, DSC Alarm, weather) at the same time.  All the others worked except zwave.  zwave would show blank screen in paper UI when navigating to the "add thing".  no errors in any logs.  I uninstalled and then reinstall, then it worked as ex

[2017-02-14 03:46] dmcwhinnie commented on #93
On the LED heartybeat front... none of those commands work on the system/power LED....my board also doesn't have an LED on the board other than the one for power.

[2017-02-14 07:05] kaikreuzer commented on #93
Imho this never existed.

Nope, "_default" always exists, it is auto-generated from the available Things. You can set "your" default in the Paper UI to whatever you call your sitemap.

But let's not get off-topic here, just wanted to note that I do not see any reason for entering issues.

[2017-02-14 07:57] ThomDietrich commented on #93
@kaikreuzer I was talking about [this](https://cloud.githubusercontent.com/assets/2870104/22919498/81b25d12-f290-11e6-8dcb-e4c448fac35f.png). Shouldn't this be the screen every new user sees if he didn't set a default ("_default" being one of the options)? I see reason for entering issues because this is one of a few usability concerns I have :see_no_evil:

Hey @dmcwhinnie, Wow it's great to know

[2017-02-14 08:25] kaikreuzer commented on #93
No idea. When and where was that shown? Why do you mention it here, does that mean that it behaves differently on other installations (not openHABian on Pine)? I am not aware of any changes on such things for at least a year, so I wonder why this comes up... But sure, if you think something is broke, feel free to create an issue.

[2017-02-14 10:03] ThomDietrich commented on #93
Clearly off-topic, sorry. Will create an issue over at eclipse smarthome

[2017-02-14 12:51] robertselberg opened #96 "[Feature request] Read only filesystem using root-ro"
This script mounts an overlayfs on the rootfs so that all writes are directed to a tmpfs. I think this could be a nice feature to have to minimize sd card wearing. (maybe it can be enabled/disabled using openhabian-config)

Script: https://gist.github.com/niun/34c945d70753fc9e2cc7

How to install:

    # cd /etc/initramfs-tools/scripts/init-bottom/ && wget https://gist.github.com/niun/34c945d70753

[2017-02-14 12:54] robertselberg commented on #79
I found a script called root-ro that I described here: https://github.com/openhab/openhabian/issues/96
It mounts tmpfs as overlay to / which will make all writes to go ram instead of disk. (you lose all changes on reboot).

Maybe this can help.

[2017-02-14 12:58] ThomDietrich commented on #96
Could you please shortly describe which problems you are trying to prevent by making root read-only?

[2017-02-14 14:13] robertselberg commented on #96
I believe most people doesn't care about logs but do care about memory card
wearing. This is one way of protecting the memory card.

On Feb 14, 2017 13:58, "Thomas Dietrich" <notifications@github.com> wrote:

Could you please shortly describe which problems you are trying to prevent
by making root read-only?

—
You are receiving this because you authored the thread.
Reply to this email directly, v

[2017-02-14 14:30] ThomDietrich commented on #96
Thought so.
SD card wear is a scare story really. It's more important to have a reliable and uninterrupted power supply: http://hackaday.com/2016/08/03/single-board-revolution-preventing-flash-memory-corruption

I did some measurements a while back. Sampled the writes to the SD card on my production openHAB RPi for one week, projected the results up to a year and threw the result at the promised (

[2017-02-14 16:12] zdzichu commented on #50
This is the job for the operating system itself - you can enable `RuntimeWatchdogSec=` in `/etc/systemd/system.conf`

OTOH, it would be nice if openHAB implented sd_notify() support, with application level watchdog.

[2017-02-14 16:27] ThomDietrich commented on #50
@zdzichu the first part of your answer would be something in the scope of openHABian.

I'd be careful with adding all kinds of things, just because we can. The reason for adding a watchdog are not yet clear to me. I did not yet experience nor hear of an openHAB freeze/crash and if any part of the RPi hardware is unstable, it's probably wise to take care of that issue instead of automatically resta

[2017-02-16 00:21] ThomDietrich commented on #93
FireMotD problems are fixed. https://github.com/willemdh/FireMotD/pull/34, https://github.com/willemdh/FireMotD/pull/35
Looking into the "zulu thing" now @kaikreuzer

[2017-02-16 02:52] ThomDietrich commented on #93
I'll send a mail with my findings tomorrow. The short version: Läuft

[2017-02-16 15:39] ThomDietrich commented on #93
The End Is Nigh.

* Zulu Embedded is now installed from repository (should work on Pine, Pi and Debian) (Charts are working)
* FireMotD PRs are merged. The login screen is now clean and correct
* Wifi setups now also covers the Pine, the firmware is only installed on RPi @dmcwhinnie
* A PR for documentation is available

I will do one last important test this evening: RPi compatibility. If this is

[2017-02-17 08:58] kaikreuzer commented on #93
Let me know once you have a new image available for testing!

[2017-02-17 11:08] ThomDietrich commented on #93
There you go :wink: https://drive.google.com/open?id=0B67AyLNQlS3dam9HQVpDMU9VaGs

[2017-02-17 11:10] kaikreuzer commented on #93
Downloading ⏳

[2017-02-17 11:12] ThomDietrich commented on #93
In my eyes it's finished, All improvements that might still be needed are unrelated to the base image.

[2017-02-17 13:09] ThomDietrich opened #98 "Optional Component: OLA"
Reported by "skatun": https://community.openhab.org/t/install-ola-from-git-because-apt-get-does-not-work/21140/1

The exact commands and needed checks and error conditions still need to be figured out.
Also it would be the better choice to clone the ola repository to `/opt/ola`, then link it to bin. Check openhabian itself for the steps.

[code]

[2017-02-17 14:03] kaikreuzer commented on #93
FYI, when running `apt-get upgrade` I still see the locale warnings:
[code]

[2017-02-17 14:13] ThomDietrich commented on #93
But why...

My system:
[code]

These are the commands supposed to be executed:

[code]

[2017-02-17 14:24] ThomDietrich commented on #93
I fear you'll have to investigate. This doesn't make sense to me and I'm not seeing these issues on my* Pine.

What happens after `LC_CTYPE="en_US.UTF-8"`?

[2017-02-17 15:07] kaikreuzer commented on #93
Everything fine then:
[code]

[2017-02-17 15:11] ThomDietrich commented on #93
https://askubuntu.com/questions/599808/cannot-set-lc-ctype-to-default-locale-no-such-file-or-directory

At least an explanation...

[2017-02-17 15:14] ThomDietrich commented on #93
Could you please try the following and reconnect/reboot:

[code]

[2017-02-17 16:31] kaikreuzer commented on #93
That solves the issue!

[2017-02-17 16:58] ThomDietrich commented on #93
Amazing :sparkles: Thanks Kai ;)

I'll do the last changes today and then release both new images. I'll do announcement in the openHABian thread as usual.

[2017-02-17 17:10] kaikreuzer commented on #93
Besides the locale, everything looks really good!
I tried a lot of stuff, including charts, Z-Wave, etc - all working like a charm.
Awesome work, @ThomDietrich!

[2017-02-17 18:04] dmcwhinnie commented on #93
Yay! Good to hear!  I think this will close out these 3 issues too.
[57](https://github.com/openhab/openhabian/issues/57),[58](https://github.com/openhab/openhabian/issues/58),[66](https://github.com/openhab/openhabian/issues/66)

[2017-02-17 21:43] #93 closed

[2017-02-17 23:09] #57 closed

[2017-02-17 23:09] #66 closed

[2017-02-18 09:34] tnemrap commented on #28
Is it possible to supress lines in Frontail like in grep -v "NIBE_Raw"?

[2017-02-18 11:31] umiddelb commented on #93
I've tried the latest image (openhabianpine64-2017021801-git088eb4e.img). Concerning the locale issue, there is still a mismatch between the default setting (`en_GB.UTF-8`) and the locales to be generated by default (`en_US.UTF-8`). Either you switch to `en_US.UTF-8` or just enable `en_GB.UTF-8` in `/etc/locale.gen`.

[2017-02-18 11:51] ThomDietrich commented on #93
@umiddelb I'm afraid I do not understand. There is no en_GB

https://github.com/openhab/openhabian/blob/master/build-pine64-image/openhabian.pine64.conf

[2017-02-18 12:30] ThomDietrich commented on #93
@AngelosF you might want to take a look at this https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L237L247

[2017-02-18 13:03] umiddelb commented on #93
I see. `en_GB.UTF-8` is my default locale on the box I use to login to the Pine64.
I've noticed that the file `/etc/default/locale` is empty on the Pine64, so sshd obviously takes the locale settings from the system where I come from

After

    sudo update-locale LC_ALL="en_US.UTF-8" LANG="en_US.UTF-8" LC_MESSAGES=POSIX

the locale setting in pinned to `en_US.UTF-8` on the Pine64.

[2017-02-18 13:45] ThomDietrich commented on #93
Hm okay... that's exactly what I'm doing. See https://github.com/openhab/openhabian/issues/93#issuecomment-280676361

Just tested on my device:
[code]

[2017-02-18 13:55] umiddelb commented on #93
May be I've taken the wrong image, `/etc/default/locale` is empty in `openhabianpine64-2017021801-git088eb4e.img`

[2017-02-18 14:26] ThomDietrich commented on #93
Nope that's the one. Should be filled after executing "Basic Setup" once. However that's part of the initial setup... Could you open a new issue please!?

[2017-02-18 15:19] zenz opened #99 "OpenHABian v1.1 RPi image not bootable."
As title.

[2017-02-18 16:18] zenz commented on #99
OK, the new image solve the problem.

[2017-02-18 16:18] #99 closed

[2017-02-18 16:29] ThomDietrich commented on #99
Thanks for reporting the issue!

[2017-02-18 16:29] #89 closed

[2017-02-18 16:31] ThomDietrich commented on #88
Hello @bits4life, All of this should be covered by the new version released today. Would be great if you could give this another try! Please open a new issue or reopen this one with everything you  experience failing or missing! ;) Thanks

https://github.com/openhab/openhabian/releases/tag/v1.1

[2017-02-18 16:31] #88 closed

[2017-02-18 16:35] ThomDietrich commented on #65
Hey everyone. The new version released today includes the switch from Oracle Java to Zulu Embedded Java. I had the feeling, that your bad experience was linked to the way I had to handle the installation of Oracle Java. With Zulu the installation process got a lot cleaner and less error prone. If you have the chance, feel cheerful to try again ;)

https://github.com/openhab/openhabian/releases/tag

[2017-02-18 16:36] #80 closed

[2017-02-18 16:36] ThomDietrich commented on #78
This is part of Version 1.1!

[2017-02-18 16:36] #78 closed

[2017-02-18 16:37] ThomDietrich commented on #76
It's working and already documented at docs.openhab.org

[2017-02-18 16:37] #76 closed

[2017-02-18 16:39] ThomDietrich commented on #72
This is solved differently in Version 1.1

[2017-02-18 16:39] #72 closed

[2017-02-18 16:39] ThomDietrich commented on #87
Linke to #64

[2017-02-18 16:40] ThomDietrich commented on #62
This should be solved for a long time now. Thanks for initially reporting @JoergPi !

[2017-02-18 16:40] #62 closed

[2017-02-18 16:41] ThomDietrich commented on #69
Solved in Version 1.1

[2017-02-18 16:41] #69 closed

[2017-02-18 16:45] ThomDietrich commented on #59
Hey @Waldknoblauch and @nwootton,
just so you know. With Version 1.1 I introduced a few changes regarding this topic. I'll still have to add a menu entry to switch from within openhabian-config. Till then, please see: http://docs.openhab.org/installation/openhabian.html#timezone-locale

I would not recommend using raspi-config and will remove it from openHABian when doing the above.

What do you t

[2017-02-18 17:59] umiddelb commented on #93
The `first-boot.sh` failed last time for unknown reason (I got a notification on the console, but I didn't retain `first-boot.log`, unfortunately). This time `first-boot.sh` completes the setup without any error.

[2017-02-18 18:23] ThomDietrich commented on #93
But then... you should have seen this message: http://docs.openhab.org/installation/openhabian.html#faq-successful ??

[2017-02-18 19:22] zdzichu commented on #50
Hi,

First, I'm sorry. I misread this bugreport, thinking it is about openHAB itself. It is not, this is a bugreport about openhabian. In such case, enabling system-wide watchdog in systemd is a good idea, and setting `RuntimeWatchdogSec=` is something that should be done by the distribution makers.

Now, answering to your question, Thom. Adding application-level watchdog is done to make sure appl

[2017-02-18 19:39] ThomDietrich commented on #50
Thanks for the exhaustive explanation! I'll tag @kaikreuzer

If you think an integration would give us certain benefits or new possibilities, you could create a PR! ;)

[2017-02-18 19:46] ThomDietrich commented on #50
I can actually think of a simple use case. The method `SDNotify.sendStatus()` could be used to inform systemd about the current state of openHAB. Users in the forum often think their installation is "working" because systemctl status says "active" ...

[2017-02-18 20:52] umiddelb commented on #93
Hm, when I logged in via ssh, I've seen the usual Ubuntu banner, not the customized one. And I'm pretty sure that I didn't get the [extensive error message](http://docs.openhab.org/installation/openhabian.html#faq-successful) on the console.

[2017-02-20 18:11] JoergPi opened #100 "Install and check whiptail"
Hi all,

I tried a fresh install today using openhabianpi-ua-netinst-20170218-git11d8ebc.img. Basic installation worked well, but I could not start openhabian-config:
[code]
My fault?

JoergPi

[2017-02-20 18:32] ThomDietrich commented on #100
Interesting. Could you please maximize your SSH window before starting openhabian-config. Which SSH client are you using?

[2017-02-20 18:51] JoergPi commented on #100
Hi ThomDietrich,

that's openssh from xubuntu 16.04. Even with a 4k fullscreen window the same behaviour ...

[2017-02-20 18:54] JoergPi commented on #100
btw,

is it possible to change the username in the install config (like I did successfully with the network setting) to my standard user name or will I run into trouble with the default user checking?

JoergPi

[2017-02-21 13:12] ThomDietrich commented on #100
Oh :-/ I have an idea which change brought this upon us, don't know why this happens though. Could you play around with the Height and Width of the menu please (bring the Width below 80).

Modify the file `/opt/openhabian/openhabian-setup.sh`: https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L1184-L1185

Yes you can change the username. Directly after flashing change username

[2017-02-21 13:20] JoergPi commented on #100
Tanks,  i will try as soon as i am back Home ...

Am 21. Februar 2017 14:12:53 schrieb Thomas Dietrich
<notifications@github.com>:

[2017-02-21 18:40] JoergPi commented on #100
So,

got back, changed the settings to different values between 60 and 120, did run the changed script and the opebhabian-config command  every time, checked with putty from a win10-install - but no effect at all ...

[2017-02-21 21:45] JoergPi commented on #100
Ha, got it: whiptail is not installed after initial install run!
"apt install whiptail" did the magic ;-)

JoergPi

[2017-02-22 12:23] ThomDietrich commented on #100
Oh, hahaha that's funny. Whiptail should definitely be available on the system. I'll add it to Basic Packages and include a test if the command is known. Thanks for making me aware!!

[2017-02-22 14:31] JoergPi commented on #100
I have to thank you for your work with OpenHabian!

[2017-02-22 17:26] ThomDietrich commented on #100
@JoergPi I've added the needed change as a PR.
It still riddles me, why was whiptail not installed on your system? The reason why I never noticed it not being part of the installation process is, that the openhabian image already includes it to begin with. What's going on there?

[2017-02-23 11:10] JoergPi commented on #100
No idea, I did a headless install. Is there an install log somewhere on the CF to check for install errors?

JoergPi

[2017-02-23 15:48] ThomDietrich commented on #100
Yes, the file is called something similar to `/var/log/raspbian_ua_netinst.log`. Only the last few lines in this file are important.

[2017-02-23 16:39] JoergPi commented on #100
Hmm,

the last few lines of the raspbian_ua_netinst.log:

`"=== Start executing post-install.txt. ===
2017-02-21_19:36:51_UTC [openHABian] Booting for the first time!
2017-02-21_19:36:51_UTC [openHABian] Installing git package... OK
2017-02-21_19:44:13_UTC [openHABian] Cloning myself... OK
2017-02-21_19:44:23_UTC [openHABian] Copying configuration and first boot script... OK
2017-02-21_19:44:23_UT

[2017-02-23 17:14] ThomDietrich commented on #100
I've solved it.

I saw this error before: `grep: /proc/cpuinfo: No such file or directory`
Throughout the code of openhabian-setup.sh (the same as openhabian-config) there are checks for a few platforms and operation systems. While in the unattended installation phase, the RPi can not be identified by the most reliable method I've found, hence I've implemented a simple check: `if [ "$hostname" ==

[2017-02-23 17:34] ThomDietrich commented on #100
I've added one more condition to the PR. Could you please test the following on your RPi?

[code]

[2017-02-23 18:04] JoergPi commented on #100
Exactly: no rapsiconfig on my pi3 and yes, I changed the hostname directly after flashing.
Copied the bash-script-line into a script fiel and executed it: no output.

OK, than I would re-install now and change the hostname afterwards (or may never ;-).

[2017-02-23 18:20] JoergPi commented on #100
And, at least, it's a key lesson: "what can be changed by DAU that will be changed by DAU - sooner or later"

;-)))

Does someone know the english version of DAU?

[2017-02-23 22:41] ThomDietrich commented on #100
I have to excuse the command above, it will not work without another. However I'm certain it would now.
So, if you haven't done already, please reinstall WITH changed hostname, so we can make sure it works now ;) I want this to be a feature, also made sure it's possible with the pine64 image.

Google tells me the translation would be Luser, I've never heard that though. Maybe just noob? Hehe
Howev

[2017-02-23 22:51] #100 closed

[2017-02-24 18:50] JoergPi commented on #100
Hi,

I founf my spare SD card and just performed a fresh install *with* changed hostname after flashing and it worked well:
`=== Start executing post-install.txt. ===
2017-02-24_17:51:34_UTC [openHABian] Booting for the first time!
2017-02-24_17:51:34_UTC [openHABian] Installing git package... OK
2017-02-24_17:52:44_UTC [openHABian] Cloning myself... OK
2017-02-24_17:52:47_UTC [openHABian] Copying

[2017-02-24 18:51] JoergPi commented on #100
Ouch, what happend to the formatting ;-)

[2017-02-24 19:38] ThomDietrich commented on #100
You need to use ```
Try it now ;)

[2017-02-24 19:46] JoergPi commented on #100
Ah, I used the "insert code" button and this puts a single apostroph (or whatever this lettes is named) and the cursor in between...

[2017-02-24 20:34] ThomDietrich commented on #100
😉👍
Is the extra single OK line really there?

[2017-02-24 23:29] JoergPi commented on #100
this one:
[code]

[2017-02-25 11:28] TS-Tec opened #103 "OpenHABian crashes again and again - probably udevd issue"
Hey all,

I am using openHABian since 3 or 4 weeks and are very happy with whole package at all.
@ThomDietrich Thanks for the great work!

But what is driving me mad are system crashes repeating every few days. I did a clean install of the whole system 4 times because I was even not able to recover from backup images.

What happens:
The system runs nice for a given time and then starts to do unnor

[2017-02-25 13:30] ThomDietrich commented on #100
Found it, fixed it. Thanks! ;)

[2017-02-25 13:49] cole701 commented on #100
English Version of DAU = Dumb Ass User....  So it is a universal word... ;) - oh and no offense....

[2017-02-28 12:58] ThomDietrich commented on #85
@stephanschuster as this issue [seems unchanged](https://community.openhab.org/t/setup-trouble-openhab2-knx-tul-busware-de-knxd/21242/5?u=thomdietrich), let's replace the third party script. Would you care to post a script? It could already be fully automatic but any solution I can use is already okay.

[2017-03-01 10:59] sihil opened #105 "Openhabian on Pine 64 2Gb won't boot without HDMI"
I've not done a lot of troubleshooting on this yet but wanted to open this here in case anyone else is experiencing the same thing.

I've successfully installed openhabian on a pine 64 2gb board with the zwave daughter board. It works great and was super easy to get set up so first of all congratulations and thank you to all of the contributors.

The one thing I've found so far is that whilst ever

[2017-03-01 12:07] ThomDietrich commented on #105
Hey @sihil thanks for taking the time to report this issue, besides these I'm happy everything else worked out for you.

This problem doesn't make sense to me. What's the special role of the HDMI port on the Pine A64? Why would something being connected to it make any  difference!?

openHABianPine64 is mainly based on https://github.com/longsleep/build-pine64-image which in return is what is used

[2017-03-01 16:12] ThomDietrich opened #106 "SSH: add empty authorized keys file"
Prepared with all permissions and such

[2017-03-04 18:31] ferratello commented on #85
Hi, due to a sd-card file system problem I've just "reinstalled" from scratch openhabian (v. 20170218) on my raspberry pi 3.
I had some problem installing knxd from openhabian-config, so I wrote this small script that worked like a charm (for me) [https://github.com/ferratello/knxd_installer](https://github.com/ferratello/knxd_installer) ...
...hope can be helpful.

[2017-03-05 10:15] botura opened #107 "Can´t install openhabian"
Install keeps booting and never finish.

It looses connectiong retrieving different packages. My internet seens to be ok (my pc doens´t loose connection).

It would be nice if it could restart from the last downloaded package and not all over again.

Log always looks like below (except each time with a different package):

...
P: Validating libbz2-1.0
P: Retrieving liblzma5
wget: can't connect to

[2017-03-05 12:58] botura commented on #107
I think that the problem is with this mirror: nbtelecom.com.br

Is there a way to not use this mirror?

[2017-03-05 13:10] aness-github opened #108 "openhabianpi-ua-netinst-20170218 has no pi user"
Fresh install using openhabianpi-ua-netinst-20170218-git11d8ebc and RPI3 results in an install without a pi user.

Looking at the passwd file I did find the openhabian user, but this user seems to be undocumented.

[2017-03-05 18:02] ThomDietrich commented on #107
Hello @botura,
judging by your description this might be a bit tricky. The openHABian unattended netinstall (that's what you've downloaded here) expects a reliable repository, which you sadly don't seem to have with your ISP/location. :(

We could try to fix this somehow but I'd suggest a different approach. There is a second way to install openHABian.

1. Download, flash and boot Raspbian Lite
2.

[2017-03-05 18:06] ThomDietrich commented on #108
Undocumented? I'm curiously surprised by that 😄

* https://github.com/openhab/openhabian/releases/tag/v1.1
* http://docs.openhab.org/installation/openhabian.html#raspberry-pi
* https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/736
* https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/731

[2017-03-05 20:27] botura commented on #107
Hello @ThomDietrich,

It worked! I had to repeat some steps because my mirror is really instable, but it´s ok now.

Thanks!!!

[2017-03-05 20:28] #107 closed

[2017-03-05 20:36] aness-github commented on #108
Ack, I've clearly been blind and/or reading outdated docs.

[2017-03-05 20:36] #108 closed

[2017-03-05 23:45] sihil commented on #105
Doesn't make sense to me either. I'll find a spare SD card and experiment with the base images this week and get back to you with the results.

[2017-03-08 21:02] stellanel commented on #8
Hi
Usually  documentation and the community solves my problems. But openbaian owserver installation is so new that I can not find anything on Google!
I am migrating an old owfs installation on NSLU2/unslung 6.? to Pi2B/Openhabian.
Installing went just fine, I "love" the openhabian initiative !
My test rig is Bus Master=usb ds9490r, ds1820 and Louis Swart LCD Screen Controller
owdir /
/10.12E15F010

[2017-03-09 11:57] ThomDietrich commented on #8
@staehler can you help here?

[2017-03-09 13:31] staehler commented on #8
Unfortunately, I can't. This issue seems to be not a problem with openhabian, but a general onewire configuration.
So far I understood, this owserver was configured correctly in an older installation and worked fine. So why you don't use this /etc/owfs.conf in your new installation? If some devices don't appear, this might be a problem with onewire itself or with the owfs-configuration.
onewire in

[2017-03-13 15:18] nwootton commented on #59
@ThomDietrich Just gone back to OpenHABian and used the instructions you linked to above worked fine.

[2017-03-13 15:33] ThomDietrich commented on #87
Instructions: https://community.openhab.org/t/solved-what-am-i-missing-openhabian-and-bluetooth/21265/10

[2017-03-13 21:41] Urmel opened #109 "Manually installing openhabian: useradd, etc-dir & setcap issues"
I just installed openhabian manually on a qemu-virtualized raspian image (which might have nothing to do with the issue). What I did...

Followed the instruction on the page http://docs.openhab.org/installation/openhabian.html under "Manual Setup":
[code]
**(actually the sudo part for the second line was missing in the instructions)**

In the config interface, I subsequently started the setup task

[2017-03-14 00:23] sihil commented on #105
I've finally got round to installing longsleep's `xenial-pine64-bspkernel-20161218-1.img` and it exhibits exactly the same behaviour. When HDMI is plugged in it boots and when it's not plugged in it seems to do nothing at all.

Upon further experimentation I've discovered that if you DON'T plug an HDMI display in on the first ever boot then it DOES boot and continues to boot even when an HDMI disp

[2017-03-14 07:38] ThomDietrich commented on #105
interesting findings! Let's see what others in the forum have to say. You might want to also create an issue here: https://github.com/longsleep/build-pine64-image/issues

[2017-03-14 09:24] sihil commented on #105
I was trying to reply to longsleep's reply on the forum but my account no longer seems to be allowed to reply so I'm putting it here for now (with the aim of moving it later).

I'm using a Raspberry Pi 2A PSU that I had to hand so I'm confident that power is not an issue and the issue only starts on subsequent boots if an HDMI display was attached on the first boot - and it doesn't sound like it s

[2017-03-14 20:48] sihil commented on #105
I've just re-imaged my openhab without an HDMI display connected on first boot and can confirm that my experiments with longsleep's image are also borne out with openHABian. My Pine64 can now happily boot without an HDMI screen connected.

I've not proven first boot with display connected is broken in the same way (I'm kinda bored of imaging SD cards after doing it circa ten times yesterday), but

[2017-03-15 22:10] Urmel opened #110 "package whiptail may be missing and hindering manual installation"
In openhab-config, there is a query for the username commonly used to log in. The command to input the username uses the program "whiptail" for inputting, if the package "whiptail" is not installed on the system, the input will not take place at all and the user is just confronted with an error message

2017-03-15_21:52:24_UTC [openHABian] Checking for root privileges... OK
2017-03-15_21:52:24_UTC

[2017-03-16 10:17] ThomDietrich commented on #110
🤕 there is a [function for that](https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L157)... which is called after the configuration file part ^^

[2017-03-16 12:40] stellanel commented on #8
Hello
Sorry for late reply, now back from vacation! Yes, you helped me actually! I added "usb_regulartime" in the file owfs.conf!    "Owdir" now shows the "Louis Swart LCD Screen Controller"!
Continuing to lern more about "systemctl" in order to start "owhttpd" and also, what must be done when I get "Connection refused" when I run "ownet" based owPerl/owPython scripts! Thanks!

[2017-03-16 13:49] ThomDietrich opened #111 "Optionally install Zulu Cryptography Extension Kit"
https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/802

Was requested but is only needed by a fraction of users.
Problem, legal implications: https://www.azul.com/products/zulu-and-zulu-enterprise/zulu-cryptography-extension-kit/

[2017-03-16 13:52] ThomDietrich opened #112 "Install Graphical UI (window manager)"
Either as an optional component or as part of docs. Should still be discouraged.

[2017-03-16 13:54] ThomDietrich opened #113 "Link/mount all openHAB folders in one place"
for a better overview and backups

https://community.openhab.org/t/openhabian-hassle-free-rpi-image/13379/793?u=thomdietrich

[2017-03-16 13:59] ThomDietrich commented on #109
Hello @Urmel,
these errors can be expected the if you run basic setup in the beginning because neither Java nor openHAB are installed yet. My suggestion in the moment would be to run Basic Setup once in the beginning and after all other steps.
Of course I can see how this is not ideal and I was thinking to restructure the menu. Suggestions are welcome!

[2017-03-16 14:01] ThomDietrich commented on #103
Hey, I believe we were talking in the community forum? Where you able to solve this issue?

[2017-03-17 06:50] Rockonit42 opened #114 "MQTT binding not visable."
I have loaded up openhabian 1v1 from an image and also installed the Mosquito MQTT broker from the config shell which I have tested on the network and is working fine.
When I install the MQTT binding in the Paper UI it is not visible in the Configuration>Bindings page .
I have also installed the Network Binding which is visible there and items etc.
Have I missed something with the MQTT binding ?

[2017-03-17 12:11] ThomDietrich commented on #110
Fixed in https://github.com/openhab/openhabian/commit/d12d3711ab67ada1fc1a459e6ffae3c8558a1797

[2017-03-17 14:17] ThomDietrich commented on #114
Hello, please be aware that openHABian installs openHAB for you, all further configuration is done just on any other openHAB setup, hence you should ask your question in the community forum.

* http://docs.openhab.org/addons/bindings/mqtt1/readme.html
* https://community.openhab.org/t/mqtt-binding-not-running-in-oh2-paperui-after-install-in-openhabian/21593

Good luck! ;)

[2017-03-17 14:17] #114 closed

[2017-03-17 19:40] #59 closed

[2017-03-17 19:42] ThomDietrich commented on #59
Hey guys, please pay attention to version 1.2. Should solve this whole issue.

[2017-03-17 20:32] Urmel commented on #109
Hi @ThomDietrich,
if its really not a must to have these things setup before Java and openHAB, just split the item and have a "Setup Preparation" and a "Setup Finalization" (or something like it).
It's for the unexperienced user just easy to click 1,2,3,4 ... :)
Thx.

[2017-03-17 20:49] ThomDietrich commented on #109
Basic Setup was originally intended for an upgrade of the existing system. Only later I abused it for manual fresh setups.
I've just released Version 1.2 of openHABian. The next version will concentrate on menu structure!

[2017-03-18 12:43] mstormi commented on #3
Step back a second and think of the whole picture.
If your SD card breaks, you need to reinstall openHABian, too. This is not as simple as the initial installation run and can take a lot of time, especially since most people will have lots of non-openHAB, yet smart home related configs such as mosquitto, self-written scripts and various customizations that they accumulated over time.
What a smart

[2017-03-18 19:13] ghost opened #116 "Problem to complete install, error with tzupdate"
Hi, i have a problem to complete install on Raspberry pi Zero W, setup timeout on autosetting time zone. The Raspberry is correct connected to wireless network. any idea?

[2017-03-18 23:51] ThomDietrich commented on #116
Didn't experience that during my tests. Maybe related to your ISP or location?
You can manually set the timezone before installation: After flashing the image open the file "openhabian.conf" on the sd card and uncomment the timezone parameter. It should work now.

Would you please help solve this issue by testing tzupdate after the installation was finished? I'D be interested in the exact error me

[2017-03-19 09:23] docbit9 commented on #116
before i tried to setting timezone manually but i've not seen (?) comment to line timezone....
With setting timezone manually installation correctly end.

![tzupdate](https://cloud.githubusercontent.com/assets/26510004/24079688/d46ac0fa-0c8d-11e7-9998-b53db8c2463a.PNG)
This is error message on i tried to install tzupdate

[2017-03-19 21:51] mrerhart opened #117 "Problem during install on a Raspberry PI 3"
Hi,

I tried to do an install using this image with the PI connected to the ethernet but it did not complete due to this error.
openhabianpi-ua-netinst-20170317-git5125a3d-crcf1577bcb.img

Validating libbz2-1.0
P:
Retrieving liblzma5
wget: can't connect to remote host (189.45.5.90):
Connection timed out
E:
Couldn't download pool/main/x/xz-utils/liblzma5_5.1.1alpha+20120614-2_armhf.deb!

Oh noes, s

[2017-03-20 00:24] ThomDietrich commented on #117
Hey, this looks like a temporary server problem users encounter rarely. Please just try again. If the problem persists, please use the Raspbian Lite based image, the advantages are described here: https://github.com/openhab/openhabian/releases/tag/v1.2
Please let me know of the outcome. Good luck!

[2017-03-20 09:15] maschenborn commented on #3
Never heard of amanda. Sounds interesting.
I'm using openHABian on Pi3 moved to an USB-Stick via the openhabian-function.
For Items, rules etc. I like a git repository instead of a backup - then it's easier for me to check changes.
But if the Stick or the SD-card crashes, I only have a month-old manual created backup.

How could an amanda workflow look like?
Installing Amanda on the same Pi3 as OH

[2017-03-20 10:40] mstormi commented on #3
A git repository is nice, but we need to offer backup for users with offline servers, too, for those that want to be independent of cloud providers and internet connectivity.
Yes, one would install Amanda on the Pi (openHABian server, that is) and attach dedicated storage. You can use any sort of storage with Amanda. USB HDD, NAS mount, USB stick, whatever, even AWS cloud storage. It's up to the u

[2017-03-20 12:13] ThomDietrich commented on #3
Hey guys,
I'm also using git to track and store my configuration. I'd agree that this is not the ideal solution for unattended backups. Another simple solution is to use a synchronization service as described in #113

I'd separate two use cases.

1. Backup of the complete SD card
2. Backup of a selected set of important user files

The first use case could for example be solved with RaspiBackup me

[2017-03-20 13:25] mstormi commented on #3
Well, I partly agree that Amanda doesn't look as 'sexy' as the other, simpler options at first glance.
To _setup_ Amanda isn't all that easy and intuitive, but the main reason for that is that it's so flexible.
But since we (well, me, I'd be doing that) will create a standard setup as part of openHABian, that will not be any user's problem.
And if a user still wants to tailor it to his needs (more

[2017-03-20 16:51] mrerhart commented on #117
Hi Thom,

I tried again now but gave it error again, this time to download another file.

I already gave up the Raspbian Lite based image because of another problem, but I'll try again and ask for help around here if it does not work.

Thank you for now.

=================================================
raspbian-ua-netinst
=================================================
Revision git~11d8ebc
Bui

[2017-03-20 16:55] ThomDietrich commented on #117
You should go with the Rasbian image. It's more reliable. In fact that's why I've introduced it and that's why I'll probably abandon the ua-netinst image soon.

[2017-03-20 21:42] #28 closed

[2017-03-21 16:49] haroldh commented on #33
Today I found this thread, discussing exactly my situation.
Having a RBP3 and the Razberry add-on board, my setup qualifies for this thread.
However, I have also 2 additional serial connections to a P1 port (smart meter) and an RFXCOM. The USB-connections /dev/ttyUSB0 and ..1 are both connecting to OH2 after going through several internet searches in order to setup the RBP3. From your documentatio

[2017-03-21 17:21] ThomDietrich commented on #33
Hey,
admittedly the setup we are providing is a bit absolute and does all that's needed to get any of many devices on the serial port working. If you want these three to cooperate you'll **probably** do the following:

* Remove every port from `/etc/default/openhab2` which is not the Razberry.
* Do not disable Bluetooth. There were reports this will work and it doesn't. Please pay attention to htt

[2017-03-21 18:01] Kerr1st opened #119 "Pine64 img- NPM not installed fails at Line 70"
Hi Love Openhabian!
Received the following 1)**error**:
2) checked whether _installed_ re-ran install same _error:_
3) Also noticed earlier on in the script:

1) $ apt -y install nodejs
Reading package lists... Done
Building dependency tree
Reading state information... Done
nodejs is already the newest version (4.2.6~dfsg-1ubuntu4.1).
0 upgraded, 0 newly installed, 0 to remove and 1 not upgraded.

[2017-03-21 18:08] ThomDietrich commented on #119
Hey, this seems to be related to #118 which was merged only yesterday. Let me look into this this evening.

[2017-03-21 18:14] ThomDietrich commented on #119
I've removed frontail from the setup for now. Please try again!

[2017-03-21 18:27] Kerr1st commented on #119
Wow! very fast... sorry still same error.... full capture

[11:08:34] openhabian@openHABianPine64:/usr/local/bin$ sudo openhabian-config
2017-03-21_11:19:34_PDT [openHABian] Checking for root privileges... OK
2017-03-21_11:19:34_PDT [openHABian] Loading configuration file '/etc/openhabian.conf'... OK
2017-03-21_11:20:03_PDT [openHABian] Updating myself... OK - Commit history (oldest to newest):

8

[2017-03-21 21:58] #110 closed

[2017-03-21 22:00] ThomDietrich commented on #109
One small step: Before setting permissions I'm now checking of openHAB has previously been installed.

[2017-03-22 10:30] mstormi commented on #3
Thomas, which format do you expect contributions in ? README, an install.sh oder debian package ?
I have Amanda working on my openhab Pi now and documented the steps - well, more or less, to be verified by you and others :)
As you can have multiple configs and choose which one(s) to use at backup runtime, I thought I create one config to work on SD cards, one on share/NAS  (like my own HW setup) o

[2017-03-22 14:14] ThomDietrich opened #121 "Change user password function"
passwd and smbpasswd

[2017-03-22 22:10] dfletter opened #122 "hassle-free openHABian image fails on network"
Hi
I tried to install using the easy way on the boot image you gave but no matter what I do, it does not reach the network by itself. I have RPi3 without the z-wave shield installed yet. All the documentation assumes that it will succeed in gaining an ip address and continue so if this is a common error people have, a word about how to go about reconfiguring the Linux to enable the ethernet connec

[2017-03-22 22:51] ThomDietrich commented on #122
If your Pi is correctly connected via Ethernet your DHCP server should assign it an IP. An internet connection is needed to succeed with the setup.

How do you know the device "does not reach the network"? You should see a new device called "openHABianPi" in your (router's) DHCP lease table. If that's not the case, maybe the image was not correctly flashed or corrupted during download.

[2017-03-22 22:55] #106 closed

[2017-03-24 19:48] kedvsk opened #123 "Installation hangs on Raspberry PI 3"
Installation hangs on: " Waiting for dpkg/apt to get ready..."

[code]

[2017-03-28 00:14] mmilinkov opened #126 "Mosquitto trademark recognition"
This is a bit of a nit, but it would be appreciated if the proper trademark recognition was given to Mosquitto in the documentation, and (for example) in the openhabian-config tool.

Mosquitto is an Eclipse Foundation project, and as such it should be referred to as "Eclipse Mosquitto" at both the first, and the most prominent use of the name in any document or tool.
https://www.eclipse.org/legal/

[2017-03-28 08:16] mstormi commented on #3
@ThomDietrich have you read my previous post?

[2017-03-28 13:02] ThomDietrich commented on #3
Hey @mstormi, now I did :) All sounds good to me.

You are talking about raw SD card backups and specific folders/files backups. Are you going to address both with Amanda?

You can contribute your finished solution as a PR or post the solution as a step by step instruction set (which I would need to convert to a PR).

If you are going to build a PR, here are a few hints:

* The main file you'll ne

[2017-03-28 17:05] mstormi commented on #3
ok, will try building the PR. Will be quite a bit of work so will take some time.
Can I assume we have a working mail system ? Is there any known reuseable admin mail address at this stage ?

[2017-03-28 21:15] ThomDietrich commented on #123
Doesn't make sense to me. Never happened to me. Is your SD card smaller than 8GB?

[2017-03-29 13:45] ThomDietrich commented on #3
There is no mail system configured nor is one prepared. We've discussed this in the past and [decided against it](https://github.com/openhab/openhabian/issues/20). Please leave notifications out for now.

I thought about adding openHAB items for system status information but didn't yet do that. An item could also be used to inform about the last successful backup and such. This should be part of a

[2017-03-29 14:01] mstormi commented on #20
Hmm, a UNIX server with no notification to its admin? That's what openhabian still would be, regardless of the user's expertise.
Under the hood, there's so many Linux packages that expect the mail system to work, many of which openhabian will make use of.
I consider that to be dangerous if you effectively hide all output from the user. He'll miss lots of hints and early warnings that way, too.

I

[2017-03-30 08:00] mstormi commented on #3
Argh, things are getting complicated.
I've got the directory (NAS mount or permanent USB attached storage) and AWS S3 based variants working but fail on the local SD one, and I feel that's the most important one because it's the only one to work locally without a need to dive into Linux (mount from NAS oder create filesystem on USB storage etc).

Currently it seems we need a more current version o

[2017-03-30 11:49] ThomDietrich commented on #3
Hey,
in favor of getting a first version ready for review and testing I'd leave the SD card based backup out for now. I'd see the option to backup to a filesystem path (HDD, NAS, ...) as the basic requirement. Every user is able to flash the backup SD card image if necessary. I personally see no big advantage in the direct SD card replication.

Regarding the readme: Please keep it as short as poss

[2017-03-30 13:57] mstormi commented on #3
Well I still feel the SD backup to be the most favorable option because S3 requires connectivity+cloud storage service, and the filesystem path first of all requires you to _have_ a HDD, NAS or USB stick and to know how to mount it.
But I'll leave it out for now. Will readdress it when there's news such as Raspian Amanda package update.

[2017-03-30 14:24] mstormi commented on #3
[Here](https://github.com/openhab/openhabian/pull/127) you are.

Try to get it to work and let me know where you encounter issues. I'm sure there will be some :)

[2017-03-31 09:51] mstormi opened #128 "minimizing (SD card) writes"
Hi,
this started off as a discussion on SD card writes and SD corruption.

The current 'move system to USB' menu option will actually rather mislead the average user because he will have read about SD corruption and will likely expect this move to increase availability.
But except in special cases (like a USB HDD), it won't. A USB stick uses the same tech and is as-unreliable as are SD cards.

I'd

[2017-03-31 10:58] ThomDietrich commented on #128
https://community.openhab.org/t/openhabian-problem-after-upgrade/23446/8?u=thomdietrich

[2017-03-31 11:13] mstormi commented on #128
and [https://community.openhab.org/t/oh2-saving-sd-card-writes/25859/34](https://community.openhab.org/t/oh2-saving-sd-card-writes/25859/34l) and probably many more....

So while we seem to agree on the principles (SDs are basically ok, don't add HW, invest in backup instead), I actually don't want to discuss how unreliable SD cards are (or not), that's a somewhat religious topic. Let's face the f

[2017-04-02 16:08] stellanel commented on #8
Testing "owserver" installed with openhabian 1,2 on RP12B give me these results and problems!
All my test, writing to "Louis Swart LCD Screen Controller" using owdir ,owhttpd and perl script(ownet), is fully functional. But i receive the following error from:

* Openhab 1.8.3 with onewire binding 1.8.3 on Synology DSM 6.0:
"2017-04-01 19:51:07.510 [ERROR] [o.o.b.o.i.c.OneWireConnection ] - writing

[2017-04-03 16:31] ThomDietrich commented on #126
Hello @mmilinkov and thanks for the information. I/We are always trying to play fair and inside the rules and standards in place. I've just updated the wording inside the openHABian Configuration Tool, please let me know if I missed a prominent spot.
I'll leave this issue open, as I did not yet address the [documentation](http://docs.openhab.org/installation/openhabian.html), which I'll have to ed

[2017-04-04 13:36] FulvioSpelta commented on #128
Just a hint: if you are going to use your Raspi or other sd based computers in a production environment consider the use of proper sd card eg: https://www.sandisk.com/about/media-center/media-resources/product/oem-design/industrial-solutions/industrial-sd-microsd
(Im not related to SanDisk it's just an example search for other options)

[2017-04-04 13:41] metbril opened #130 "Add veto files to smb conf share"
Please also add veto files to [openHAB-conf] like [openHAB-share].

https://github.com/openhab/openhabian/blob/master/includes/smb.conf#L229-L230

[2017-04-04 13:55] ThomDietrich commented on #130
Hey,
I didn't do that at first to possibly catch freshly introduced side effects but yeah sure.

Do you see any reason to still provide [openHAB-conf]? I've left it in for compatibility reasons but was to eventually remove it in favor of [openHAB-share].

[2017-04-04 14:41] rtvb commented on #130
I would not mind getting rid of the conf share all together. Had not yet noticed that the share share provides access, too.

[2017-04-04 14:45] ThomDietrich commented on #130
Didn't announce the share share yet. It's in "hot beta phase" right now ;) Same goes for https://github.com/openhab/openhabian/pull/118 if you are interested.
I want to add one more change, then I'll announce version 1.3

[2017-04-05 09:16] rtvb opened #131 "Add option to choose download repo from config"
If you like to switch from stable to beta or nightly you have to edit the repo used by apt-get yourself. It would be nice if the openhabian-config tool would provide a switch option.

[2017-04-05 12:02] ThomDietrich commented on #131
If everything stays as planned I'll have some spare time this evening.

[2017-04-05 12:34] rtvb commented on #3
Just curious. How can one create a raw sd card copy of a running system with open and constantly changing files? Like my influxdb database?

[2017-04-05 12:38] ThomDietrich commented on #3
It's always recommended to stop services before taking a backup. Most systems will survive these live backups however, similarly to sudden power losses. A database for example implements mechanisms to roll back unfinished transactions. That said, just like with power loss, avoid if possible.

[2017-04-05 13:24] mstormi commented on #3
Yes just as @ThomDietrich says, most systems will survive this, including those restored from a backup taken with an active DB under load.
While it's not complete nonsense, it's more of myth with its origin in the early IT days (remember Sybase? ...) than still a real problem nowadays.

It never hurts to add a separate database backup cycle and if I did run Influx, I'd do as mentioned in the previ

[2017-04-09 14:20] ThomDietrich commented on #131
I was always a bit unsure how to secure the switching between different versions, back and forth, while also making sure the configuration stays sane. Basically this can not be ensured with the constant improvements happening in unstable.
Therefore I decided to implement a one-way option to switch over to unstable. I guess this will be sufficient for 80% of the interested users.

https://github.co

[2017-04-09 14:20] #131 closed

[2017-04-09 19:52] k-a-p opened #133 "Mosquitto setup fails when the password includes a space"
I entered a password which included a space and that made the Mosquitto setup to fail. See screen output below:

$ mosquitto_passwd -b /etc/mosquitto/passwd openhabian 1234 5678
Error: -b argument given but password file, username or password missing.
FAILED

Solution would be to (at least it worked for me on the console) put doublequotes around the password e.g. "1234 5678"

[2017-04-09 22:35] ThomDietrich commented on #133
Hey @k-a-p, thanks for reporting!
I'm unsure about how to "solve" this issue. You should not put a space in passwords, I'm not saying it's not possible but highly unusual. The error message could be clearer or an active check&fail for spaces could be implemented. I'd not implement changes to support spaces. How do you think about that?

[2017-04-09 22:49] szymic1 opened #135 "Strange behaviour of Fibaro Flood Sensor with Razberry and OpenHabian"
One/twice a day without real reason (='flooding' ) OpenHabian receives something like this (log bellow). Simply flood sensor item triggers alarm in my configuration "CzujnikZalania_LazienkaGora" - it changes from NULL to ON in the same time burglar alarm (what is inside Flood Sensor) changes also from NULL to ON. It happens for  2-3 sec and alarms return to OFF.
It seems that happen during regular

[2017-04-09 23:55] ThomDietrich commented on #135
This is an openHAB error, probably related to the zWave binding.
This is not in any way related to openHABian. Please post your question in the openHAB community forum.

[2017-04-09 23:55] #135 closed

[2017-04-10 07:41] szymic1 commented on #135
Ok. I've tought that Z-Wave binding is a part of OpenHab.

[2017-04-10 13:16] ThomDietrich commented on #133
Sounds good, let's do that 👍

[2017-04-10 13:18] ThomDietrich commented on #135
It is (kind of)
However this issue tracker is reserved for openHABian specific things. Be careful to not confuse openHAB and openHABian ;)

[2017-04-13 09:22] ThomDietrich opened #136 "Mention sudoers in the documentation"
https://community.openhab.org/t/openhabian-hassle-free-openhab-setup/13379/912?u=thomdietrich

[2017-04-13 19:54] SuperTrembler commented on #123
I have the same issue.
It will fail the first time with a kernel panic, then after if will just hang at this step

[2017-04-14 20:51] SuperTrembler commented on #123
Not sure why, but after switching to using the wifi it worked

[2017-04-18 00:16] martindlarsson opened #137 "Serial Error: Port /dev/ttyAMA0 does not exist"
A fresh install of the latest image running on a Raspberry Pi 2 Model B Rev 1.1 and trying to get my Z-wave (Razberry) to work. I ran openhabian-config to add support for razberry and then followed the instructions here: [cd-jackson.com/...](http://www.cd-jackson.com/index.php/openhab/habmin/10-habmin-zwave-binding-initialisation). But when I save the settings for the controller I get Serial Error

[2017-04-18 09:49] martindlarsson commented on #137
I got it working! Did as this forum post suggested: https://community.openhab.org/t/has-anyone-gotten-razberry-working-with-openhab-2/12539/11
Specifically the /boot/cmdline.txt and the usermode stuff. Maybe something to consider when releasing the next version?

[2017-04-19 08:14] #64 closed

[2017-04-19 08:16] ThomDietrich commented on #87
Tested solution: https://community.openhab.org/t/solved-what-am-i-missing-openhabian-and-bluetooth/21265/11

[2017-04-19 08:21] ThomDietrich commented on #137
All of this has long been implemented and can be found in the openHABian Configuration Menu:

* http://docs.openhab.org/installation/openhabian.html#first-steps
* https://github.com/openhab/openhabian/issues/33#issuecomment-267465644

[2017-04-19 08:32] martindlarsson commented on #137
That is good but apparently that did not help in my situation. I can investigate what step in the forum posts steps did the trick. Either the /boot/cmdline.txt edit or the group thing.

[2017-04-19 08:56] ThomDietrich commented on #137
Hmm all of this is covered and the Razberry is used by many openHABian users without problems. Who knows what caused the problem. Let's see if anyone else encounters the issue, if so feel free to comment here!

[2017-04-19 08:56] #137 closed

[2017-04-19 09:31] MarkJonas opened #138 "openhabian-config does not properly disable serial console"
**tl;dr**
I just freshly installed openHABian 1.2 and had difficulties getting a Razberry Z-Wave module to work on a RaspberryPi3 although I used openhabian-config for disabling the console. I fixed the issue by manually removing the console=serial0,115200 part in /boot/cmdline.txt.

**Long Story**
After installation of openHABian 1.2 on a RaspberryPi3 I disabled the serial console using sudo open

[2017-04-19 10:50] ThomDietrich commented on #137
Probably related to https://github.com/openhab/openhabian/issues/138

[2017-04-19 10:55] ThomDietrich commented on #138
Hey, the line supposed to take care of this step is this one: https://github.com/openhab/openhabian/blob/master/openhabian-setup.sh#L633

As you can see I'm matching `tty*` instead of `serial0`. I'm not sure at which point this was changed.
The safest fix for now is probably to just duplicate this line and replace "tty" by "serial".

[2017-04-20 14:37] nils-bauer opened #139 "Add pigpio package"
I commited a [GPIO binding](https://github.com/openhab/openhab2-addons/pull/1334) which depends on the pigpio package.
If this package is preinstalled the users can use their PIs GPIO Pins without any linux skills.
Pigpio is in the repo (can be installed via 'sudo apt-get install pigpio').

[2017-04-26 17:28] ThomDietrich commented on #139
Gladly. I'll comment in the other thread.

[2017-04-26 21:41] VanHogan opened #140 "Add usbutils to distro"
Please add package usbutils to the distro.

[2017-04-26 22:35] ThomDietrich commented on #140
No real problem but could you tell me why?

[2017-04-27 06:29] VanHogan commented on #140
Oops, sry i thought i did mention it…. Somehow that was not included in my posting.

I’m setting up enocean via the enocean usb300 module and i discovered that lsusb is missing. I tjink that the usbutils would be helpful for other dongles as well. (i needed them because i have problems getting enocean up and running but that is OT here).

[2017-05-07 02:35] 1activegeek opened #143 "Network lost upon restart"
On occasion, I've had a need to restart the system. It seems I'm running into an odd issue though that only strikes on reboots where power isn't lost to the system. If I was to totally power off the system, then start it again, I have no issue.

If I issue a `shutdown -r now` command, the system will reboot. Since I have a WiFi connection, I'm able to get connected again, but it's not coming up on

[2017-05-17 12:51] vanilla-thunder opened #144 "installation behind firewall fails because of wrong timestamp"
when running openhab2 behind firewall (where some required ports are closed) it fails to sync date and time, so later when you are supposed to select UI on first start, it obviously fails to install ui addons because of wrong timestamp.
[code]

maybe using some other time sync service with access on port 80, which should not be closed on any firewall,  would solve this issue.

[2017-05-23 21:47] Lockzi opened #145 "Comitting changes!?"
Why am I seeing this after manually installing a package (netcat)?

[code]

Were my images uploaded somewhere to git as a pull request?

[2017-05-30 11:15] BClark09 commented on #41
Hey @ThomDietrich, I was looking through the list of my open issues. Since you're running on the stable version I'd assume we can close this? If not, would you like some help with that function to switch branches?

[2017-05-31 09:40] ThomDietrich commented on #41
Hey Ben, actually I've implemented something in this direction. I forgot to mention the PR (https://github.com/openhab/openhabian/pull/132) here. The function is capable to install unstable as a fresh setup or as an upgrade to an existing stable setup.
I'd say with that this issue is solved, what do you think?

[2017-05-31 09:40] #41 closed

[2017-05-31 10:03] BClark09 commented on #41
Yep that looks good! Thanks again!

[2017-06-02 09:37] ThomDietrich opened #146 "Add NodeRED as optional component"

[2017-06-02 09:47] ThomDietrich commented on #145
Hey @Lockzi, sorry for the late answer.
Don't worry, nothing is being uploaded anywhere! One of the main credos of openHAB (and openHABian) are privacy. openHABian installs and configures a software called [etckeeper](https://help.ubuntu.com/lts/serverguide/etckeeper.html) which manages a backup of your `/etc` folder locally (under `/etc/.git`). You are the only one with access to it and if you ar

[2017-06-02 09:51] ThomDietrich commented on #144
Hey, sorry for the late reply. Were you able to solve this issue for you? To me this sounds like a problem unrelated to openHABian in the sense that it is way too specific to be of concern to the openHABian way. Please start a discussion with me if you disagree :)

[2017-06-02 09:53] ThomDietrich commented on #143
Hey @1activegeek ,
sorry for the delay. Is this problem still present? This sounds like a rather strange behavior. You'll need to take this issue up to https://github.com/longsleep/build-pine64-image though, which is the base image for the openHABian image.

[2017-06-02 11:31] vanilla-thunder commented on #144
I had to manually set the date, time and reboot, so installation continued.

We literally run over 100 PCs behind our company's firewall including windows, linux, macs and other raspberries with regular raspbian.  None of them had ever problems getting date and time from the internet, openhabian is so far the one and only OS with this issue.
Since raspbian works, but openhabian not, it seems to be

[2017-06-02 13:53] 1activegeek commented on #143
@ThomDietrich - I believe it is indeed. I haven't tested lately, but nothing else has changed, so I have no reason to believe it has changed. I tend not to like "testing" it often unless necessary due other the fact that it hangs my OpenHAB setup (HomeKit and Hue) don't like the switch from the physical NIC to the Wifi NIC. Due to the physical not lighting up properly, everything is then advertise

[2017-06-03 23:37] MrFrostmaul opened #147 "Boot up fails with Kernel panic after upgrade (ua-netinst)"
Image "openhabianpi-ua-netinst-20170317-gitbd31755f-crc88a5ae46.img" booting on RapberryPi 3 getting error in screenshot on first startup/boot. I have tried on two different SD Cards, but same error.
![2017-06-04 00 33 42](https://cloud.githubusercontent.com/assets/4203009/26757715/f7ff4ac4-48bd-11e7-9935-7e339fecd883.jpg)