[2020-04-21 16:52] jwsp1 commented on #648
Getting the same error. Hope someone who has a solution will share it with us :)

[2020-04-21 16:56] holgerfriedrich commented on #648
Can you give more information about the install? Any hints in first-boot.log what could have failed?
And as always: which pi model, lan or wifi, etc....
Thanks.

[2020-04-21 17:06] jwsp1 commented on #648
Sorry, thought the origin of the bug was already known.
I'll share my first-boot.log, I guess "Setting timezone based on IP geolocation... FAILED" is no tragedy, but rather "Installing additional needed packages... FAILED" is one.
Using RaspberryPi Model 3B+, LAN, Samsung EVO Plus 64GB SDcard. Tried several times.

---------
2019-07-10_01:21:35_BST [openHABian] Starting the openHABian initial setu

[2020-04-21 18:03] ghys commented on #692
You could perhaps have a look at following something like [Gitlab Flow](https://about.gitlab.com/blog/2020/03/05/what-is-gitlab-flow/) or something even more simple:

The development would happen on `master` (it's more natural than a `develop` branch or similar like in Git flow), and then there would also be a parallel `stable` branch; then when you feel it's stable enough to update the stable ver

[2020-04-21 18:32] mstormi commented on #648
set mode=debug_maximum in /etc/openhabian.conf and reboot

[2020-04-21 19:06] mstormi commented on #692
FTR, now with #683 finally merged yesterday, any user can set clonebranch= in openhabian.conf to choose his branch.
I like Yannick's 2c, simple and effective.

[2020-04-21 19:19] ghys commented on #692
Making master>stable PRs might seem like a hassle at first, but you get a convenient way of reviewing what's added since the last stable "release", and the default PR messages proposed by GitHub (concatenation of the commits' messages) will essentially be your changelog.

[2020-04-21 20:02] mstormi commented on #715
@holgerfriedrich with #683 now merged, is this still an issue ?
Did you check if build.bach works again ?

[2020-04-22 01:11] ecdye commented on #832
This would also resolve #697

[2020-04-22 06:21] holgerfriedrich commented on #697
@EliasGabrielsson I do not see a possibility to do the userspace mounts in userspace in docker, so build.bash needs to be run as root. Current implementation of build.bash gives you an error message with recommendation to run the script as root in this environments. So I will close this, please feel free to reopen.
@ecdye using github actions does not solve this, it shows exactly the same problem

[2020-04-22 06:21] #697 closed

[2020-04-22 06:27] holgerfriedrich commented on #832
Open questions for me:
* I don't want to do things twice, for me it is not clear what we should to with travis and what we should do here.
* Using the build action for the image works on my repository and will create an artifact of ~300MB. For me it is not clear how we deal with storage space and get rid of older artifacts, AFAIK github policy is to expire all artifacts after 90 day.

[2020-04-22 09:31] jwsp1 commented on #648
Oddly, it works now. Haven't changed anything besides using another SD-card (32GB instead of 64GB) and trying the third time...

[2020-04-22 18:20] mstormi commented on #692
Just learned that Microsoft drives a similar strategy. They have optional updates which are previews of future patches that get enforced on regular patch days. Users can choose to install them ahead of time. So those optionals are the equivalent of our `master` while the regular patches would be what's in `stable`.
(ok, to some M$ may not be a good reference but let's be frank the Steve Ballmer da

[2020-04-22 18:42] ecdye commented on #692
If implemented we should make it a new version release as it is a very radical change from past usage.

[2020-04-22 19:47] holgerfriedrich commented on #692
I think we have planned to clean up pending PRs and issues, get the CI to work reliably, release another 1.x image.
Then prepare the 2.0, removing pinea64 support and other hardly maintained features. New features only in the 2.x...

Transition will be tricky, as old releases will update themselves from master....

[2020-04-22 20:08] ecdye commented on #692
Perhaps remove 1.x support by setting it to longer track changes from the master repo or something akin thereto when the time comes.

[2020-04-22 20:54] #832 closed

[2020-04-23 17:10] mstormi commented on #692
This is not a new feature but stabilization improvement at it's best.
So we *could*  introduce it before 2.x and without invalidating our agreements.

The clonebranch= parameter should help.
But for sure will need to thoroughly think of a proper way of introducing this and when.

[2020-04-23 18:34] holgerfriedrich commented on #840
rc.local compat error = first-boot script fails with exit code >0, misleading

[2020-04-24 22:26] #559 closed

[2020-04-24 23:31] mstormi commented on #850
it took a simple change (docker run without -t) to #684 to make aarch tests excute on native ARM now.

[2020-04-24 23:31] #850 closed

[2020-04-25 12:56] mstormi opened #855 "Monitoring/metrics of OH running in Travis"
When testing builds in Travis, deploy an average-sized OH config and run diagnostics how much RAM this uses in total (iostat too, eventually) so we can determine feasibility of running 64bit Java (or even full OS) on specific HW (specific amount of RAM).
Check with/without ZRAM enabled, too.

Problem:
Running in docker is causing a lot more memory usage to be reported than without, often 10 times

[2020-04-25 18:34] mstormi commented on #763
Agree. So how to proceed, change ? Would you do it or would you expect me to write a PR on your package ?

[2020-04-26 05:44] holgerfriedrich opened #856 "Update test.bash and documentation"
Test.bash is outdated.

* In #683 Dockerfile has been renamed. We need to update testing related scripts
and CONTRIBUTING.md, README.md `docker build -f Dockerfile.openhabian-x86 ...` *OR* decide  to rename Dockerfile.openhabian-x86 to Dockerfile (affects .travis.yml)
* Shellcheck test is incomplete (build.bash is not shellchecked, see .travis.yml for reference)
* Feature request: add calling bats

[2020-04-26 07:40] mstormi commented on #856
@holgerfriedrich mind to finally review ?
It's simple and still affecting users.

[2020-04-26 07:45] mstormi commented on #856
Did you try build.bash after #684 meanwhile ?
Latest *is* shellchecked BTW.

[2020-04-26 08:59] holgerfriedrich commented on #856
@mstormi I think you got me wrong, test.bash does not do it, so pre-commit testing might overlook it

[2020-04-26 21:47] #723 closed

[2020-04-26 21:47] #729 closed

[2020-04-26 21:47] #805 closed

[2020-04-27 20:17] #694 closed

[2020-04-27 20:32] mstormi commented on #715
@holgerfriedrich with all build system PRs now merged, is this still an issue ?

[2020-04-27 20:35] mstormi commented on #699
Elias with the all-new build system in place, is this still an issue ?

[2020-04-27 20:39] mstormi commented on #693
@openhab/openhabian-maintainers @holgerfriedrich
would you think this is still in line with our recent agreement to shift focus to reliability rather than new features ?
I think it's a new feature and an edge case (if I was to use a camera, I wouldn't use a Pi hat)

[2020-04-27 21:09] holgerfriedrich commented on #693
I think it is useful to demonstrate capabilities, but probably not the typical use case for openHAB.
Not yet clear how to implement, and challenging to add useful tests in our CI.
Seems to be out of focus right now.

[2020-04-27 21:51] holgerfriedrich commented on #715
Adding of `repositoryurl`and `clonebranch` to `/etc/openhabian.conf` resolved this issue.

[2020-04-27 21:51] #715 closed

[2020-04-28 08:22] mstormi commented on #669
Thinking to add GC optimization parameters instead of/in addition to -Xms
Goal: keep compiled rules in RAM. There's multiple reports of days of several seconds when a rule was used again after some hours of inactivity.

Candidates:
1. -XX:-UseAdaptiveSizePolicy -XX:+UseParallelGC -XX:InitiatingHeapOccupancyPercent=95
2. -XX:MinHeapFreeRatio=15 -XX:MaxHeapFreeRatio=30
3. -XX:+UseCodeCacheFlushing

[2020-04-28 08:28] mstormi commented on #669
FYI with #684 merged, we can build all these variants in Travis
BUT mind #855: I have not found a good way to measure and compare memory usage _inside_ Travis yet. Any ideas welcome.

[2020-04-30 14:48] gismofx commented on #562
@ThomDietrich  @EliasGabrielsson  I'm still experiencing this issue with 2.5 and latest openhabian-config.

`$ systemctl start grafana-server.service
OK
Updating Grafana admin password...{"message":"Invalid username or password"}OK Updating Grafana configuration...
$ sed -i -e /^# disable user signup \/ registration/ { n ; s/^;allow_sign_up = true/allow_sign_up = false/ } /etc/grafana/grafana.i

[2020-04-30 21:22] holgerfriedrich commented on #562
@gismofx I was able to reproduce your problem, but only when installing for the second time.
Grafana server responds with "Invalid username or password" when password was already set before.
Is this also the case on your side?

[2020-04-30 22:08] gismofx commented on #562
@holgerfriedrich I received an error both times, After the second time, I came here with the copied output. It may have been a different error the first time, but I recall the last line in terminal said "FAILED".

[2020-04-30 22:11] holgerfriedrich commented on #562
@gismofx maybe password too short, grafana needs minimun 5 characters.....
I see, we need some error handling here.

[2020-05-01 07:38] mstormi commented on #669
Using our new CI pipeline, I just found out that Azul JVM does not work in 64 bit on RPi 3/4.
Couldn't believe that and thought the tests must have been bad but validated by failing to manually upgrade my own box. It's true.

[2020-05-01 10:04] mstormi commented on #622
I'm wary of this proposed procedure. I don't mind to support Ambian maintainers but they have not really shown interest in this and, more important, we make ourselves dependent on them. We should not do that.
I'd rather drop PINE support now and tell PINE users (and those to use other unsupported ARM HW, see also #730) to check out Armbian, no matter if it includes exported work of ours or not. Ma

[2020-05-01 10:08] mstormi commented on #623
anything we would need to do other than to state that in the README ?

[2020-05-01 10:26] mstormi commented on #621
Not sure I agree here.
Let's make sure first we talk about x86 only here (there's also Ubuntu on Raspi but that never has been supported so I think this talk is not about that).
Now there's way more users (out of those to run x86) that run Ubuntu than do run plain Debian x86.
A quick glance at the code shows Ubuntu specific code in InfluxDB and Homegear installation.
Both today seem to provide Ubu

[2020-05-01 13:49] mstormi commented on #699
I have not seen any homegear BATS test or install fail throughout all of the new build system development.
Please reopen if you see it happen again.

[2020-05-01 13:49] #699 closed

[2020-05-01 13:59] mstormi commented on #228
@BrutalBirdie @motionless can you please precisely describe the problem and what you think we would need to change in openhabian.
I don't understand the relation to Mosquitto. openhabian-config just uses apt-get so there should be no difference no matter what package you install. It's either always using ipv6 or never.
We also have no influence on your Inet connection, and we don't change anything

[2020-05-01 21:07] holgerfriedrich commented on #623
In order to keep the codebase clean, remove any if_jessie clauses.
Deprecation note in README.
Do we need a disclaimer when openhabian-config starts on Jessie?

[2020-05-01 21:19] holgerfriedrich commented on #523
@EliasGabrielsson had a short look at this when I worked on #860, I don't think we should do anything here. Putting an org_name requires the corresponging org name to be created in Grafana. Not setting it defaults the value to "Main Org." which does exist.

As nobody reported any problem here, I think we can close the ticket.

[2020-05-01 21:26] mstormi commented on #665
will add CM1,CM3 support in #861
see if that fixes your issues

[2020-05-01 22:36] mstormi commented on #519
What's the way forward on this - is there any concrete TODO ?

[2020-05-01 22:37] mstormi commented on #523
Sounds reasonable to me.
@EliasGabrielsson please reopen if you disagree.

[2020-05-01 22:37] #523 closed

[2020-05-02 05:53] holgerfriedrich opened #862 "Setting timezone fails for new installations"
`openHABian] Setting timezone based on
IP geolocation... FAILED`

Further investigation: tzupdate fails due to some Python issue.

`openhabian@openhab:~$ tzupdate
Traceback (most recent call last):
  File "/usr/local/bin/tzupdate", line 6, in <module>
    from tzupdate import main
  File "/usr/local/lib/python2.7/dist-packages/tzupdate.py", li
ne 69
    ) from None
         ^
SyntaxError: invalid

[2020-05-02 10:50] mstormi opened #863 "UARTs/HATs/Bluetooth on RPi"
UPDATE: skip to [here](#issuecomment-711073456)

Do serial cards (incl. HATs), options 35/1,3 still work for Pi4 ?
Bluetooth? WiFi ?

See:
https://www.raspberrypi.org/forums/viewtopic.php?t=246324
https://github.com/raspberrypi/firmware/blob/master/boot/overlays/README
https://www.raspberrypi.org/forums/viewtopic.php?t=244827

[2020-05-02 18:32] mstormi commented on #623
See my proposed change #730 on HW/OS support.
So in this issue, there's the removal of jessie reminiscences from the code to remain.

[2020-05-03 16:11] yuergen commented on #839
Thank you!

[2020-05-03 17:42] mstormi commented on #862
right, it's to fail very often
but try python3/pip3 first

[2020-05-03 17:50] holgerfriedrich commented on #562
@gismofx PR #860 is merged, it should fix the problem. Can you confirm?

I am closing the issue, please reopen it in case you still experience a problem.

[2020-05-03 17:50] #562 closed

[2020-05-03 17:54] holgerfriedrich commented on #760
With PR #860 merged, the influx and grafana setup changed.
Thanks, @AndyHowell, for the suggestion to reset the passwords. This is now done for Grafana and local InfluxDB installations.

I am now closing the issue, please feel free to reopen in case you still experience problems.

[2020-05-03 17:54] #760 closed

[2020-05-03 17:59] holgerfriedrich commented on #862
AFAIR, I did not want to introduce py3, as the base system includes only py2 until now....

[2020-05-03 18:03] mstormi commented on #838
cannot reproduce, will reopen if encountered again

[2020-05-03 18:03] #838 closed

[2020-05-03 18:06] mstormi commented on #862
yes but meanwhile it's in now anyway, call it with python3 so give it a try

[2020-05-03 23:18] #862 closed

[2020-05-04 11:00] mstormi commented on #795
got feedback on the forum some time ago already that patch is alright

[2020-05-04 13:47] BrutalBirdie commented on #228
Oh f*ck! I did not get any notification about this Issue, I am very sorry for the delay!

My initial issue was never related to mosquitto, is was targeted at the initial install process.

The initial problem for me was that openHABian install apt tried to use IPv6 and failed without a real verbose output. Leading to a never ending install process.

imo the best option would be to make it a config

[2020-05-04 15:03] mstormi commented on #228
I don't understand yet what your issue is in the first place so don't talk about solutions yet please.
What does not work with the initial install process ?
Does that still happen with the latest version?
What is that flag supposed to do ? and finally
*Why* do you think you need to have that ?

[2020-05-04 15:42] mstormi opened #866 "nginx install broken"
There's at least 2 problems on nginx install:
Seems a number of directories fail to get created on nginx package install. Need to take care of that in our install routine.
My problem with nginx failing to start started with a missing logdir after works on ZRAM (where /var/log/nginx was deleted).
This was on buster w/ ZRAM to "own" `/var/log` (incl. "`nginx`" below), but there is nowhere in neither

[2020-05-04 21:47] #714 closed

[2020-05-04 23:00] BrutalBirdie commented on #228
Problem was/is that when starting openHABian for the first time, it tried for ever to apt install and failed after 1 hour or more.
then when inspecting the apt logs I noticed it tried to use IPv6 but failed without a message

The initial start of openHABian hanging up on apt install

Did not have the time to test it again, but it got reported several times in the community.

The flag I tried to pr

[2020-05-04 23:30] mstormi commented on #228
Then please do. We moved to buster meanwhile that could have changed things.
Also it seems a bit unlikely that it keeps trying ipv6 forever without ever falling back to ipv4.

[2020-05-05 00:56] ecdye opened #868 "AdoptOpenJDK Option"
So while researching adding AdoptOpenJDK as a Java provider, I became clear that there are two options. I could create a similar routine to what we use for Zulu or I could create a much more complicated script for `apt-get`. While for managing the installs for just AdoptOpenJDK would be fairly easy. Switching between Zulu and AdoptOpenJDK becomes complicated.

Thoughts?

[2020-05-05 07:38] mstormi commented on #868
Why would you need a complicated routine for Adopt? If they provide a repo, checking for latest vs. installed version should be left to apt-get instead of doing it manually. Shouldn't that rather ease than complicate the code (in comparison) ?

Why would switching be complicated ? I'd imagine you keep both installed and just run update-alternatives ...

[2020-05-05 14:03] ecdye commented on #868
Ah, OK. That is more what I was after. Just keep both installed and run `update-alternatives` then.

[2020-05-05 16:27] BClark09 commented on #866
I can't test, but a glance it's because [Lines 6 and 10 in the default nginx.conf](https://github.com/openhab/openhabian/blob/master/includes/nginx.conf#L6,L10) need `#REDIR` keywords.

[2020-05-05 18:35] mstormi commented on #866
Yes that worked. Whyever that was missing.
Could you please review #867 ?

[2020-05-05 18:47] mstormi commented on #669
FYI with #848 merged we now enforce 32bit Azul install where 64 would not work

Java parameters are still TBD

[2020-05-05 19:19] mstormi opened #870 "start-level parameters to force proper load order for things,items,rules"
/var/lib/openhab2/etc/scripts/startup.script

bundle:start-level org.openhab.core.model.thing 83
bundle:start-level org.openhab.core.model.thing.ide 83
bundle:start-level org.openhab.core.model.thing.runtime 83
bundle:start-level org.openhab.core.persistence 85
bundle:start-level org.openhab.core.model.item 90
bundle:start-level org.openhab.core.model.item.ide 90
bundle:start-level org.openhab.cor

[2020-05-05 20:18] dacr opened #871 "Exec persist not working at least with OH 2.5.4"
Using latest openhabian ISO on a PI 4, I'm trying to persist items update through the exec persist solution but nothing happens.

Used configuration (`/etc/openhab2/persistence/exec.persist`) :
[code]

Run script command (`/etc/openhab2/persistence/exec-persist.sh`) :
[code]

But I didn't get anything, all access rights and file ownerships are well set; the `exec.persist` is well taken into accoun

[2020-05-05 22:51] mstormi commented on #871
I'm sorry but that's no openHAB**ian** issue. Post your question on the forum.

[2020-05-05 22:51] #871 closed

[2020-05-06 13:50] #866 closed

[2020-05-06 19:32] mstormi commented on #669
Current code set a low -Xms (16m) on ARM devices < 1GB, slightly increases -Xms -Xmx over defaults if on ARM with >= 1GB and uses JVM defaults if on x86.

Things may change when 64bit OS for ARM becomes available but there is none such there today.
64bit JVMs turned out not to run on 32bit OS so we now check and downgrade if necessary.

After playing with various more settings on memory, I believe

[2020-05-06 19:32] #669 closed

[2020-05-08 13:45] f2calv opened #872 "openHabian fresh install on pi 4 fails with `[openHABian] Script '/boot/first-boot.bash' failed.`"
I'm not a Linux guru so I followed [the beginner instructions](https://www.openhab.org/docs/installation/openhabian.html#raspberry-pi-prepackaged-sd-card-image) and prepared a 32GB sim with [openhabian-pi-raspbian-201908050414-gitca0976f-crc6a66b5a1.img.xz](https://github.com/openhab/openhabian/releases/download/v1.5/openhabian-pi-raspbian-201908050414-gitca0976f-crc6a66b5a1.img.xz) and just at th

[2020-05-08 15:45] mstormi commented on #872
Check out the [debug guide](https://github.com/openhab/openhabian/blob/master/docs/openhabian-DEBUG.md) and turn to the community forum for help, please.

[2020-05-08 15:45] #872 closed

[2020-05-08 18:38] Davidoff77test opened #874 "openhab doesn't start because Java"
I've tried fresh install of openhabian on Rpi4. And during upgrade I get message
java: error while loading shared libraries: libjli.so: cannot open shared object file: No such file or directory
The same one I get when I try to find out java version with java -version.

[2020-05-08 20:10] mateusz-dykszak opened #875 "needed_packages() - python-pip fails on Ubuntu 20.04"
Ubuntu 20.04 does not support python 2 by default. So installing need packages through Configuration Tool fails because python-pip package does not exist.

python-pip can still be installed but is not as easy as "apt install ..."
It's described for example here: https://linuxize.com/post/how-to-install-pip-on-ubuntu-20.04/

BTW: Is python 2 really needed by OpenHabian?

[2020-05-08 20:10] mstormi commented on #874
Did you use the image ? What do you mean by "during upgrade" ? Is it a fresh install or not ? what did you do in order to "upgrade" ?
Can you try to reinstall java via openhabian-config menu 63 and send the output of **ldd \`which java\`**

@ecdye: FYI

[2020-05-08 20:12] mateusz-dykszak commented on #875
And another BTW: It's my first post in this community so "Hello everyone".

[2020-05-08 20:18] holgerfriedrich commented on #875
I think last call to pip was removed from the code in #864. I'll give it a try to remove the installation and see what happens with the CI build.

[2020-05-08 20:39] inis1981 commented on #874
I'm having this same issue, after upgrading to 2.5.3 openhabian, i can not go into openhab-cli console due to this error. Also none of my gui's are loading.

[2020-05-08 20:40] abissoli commented on #874
Hi, same problem here. Launched openhabian-config menu "02 Upgrade System" and this is the output:

2020-05-08_22:20:53_CEST [openHABian] Checking for root privileges... OK
Hit:1 http://raspbian.raspberrypi.org/raspbian buster InRelease
Get:2 http://archive.raspberrypi.org/debian buster InRelease [25.2 kB]
Ign:3 https://dl.bintray.com/openhab/apt-repo2 stable InRelease
Get:4 https://dl.bintray.com

[2020-05-08 20:54] jteich commented on #874
Running `java` under strace, I can see it find the libjli.so library file but ignoring the it for some reason. I am pretty sure that the libjli.so file isn’t being built correctly (at least for the Raspbian/ openhabian version). I tried this will more than one version of zulu as available here: https://www.azul.com/downloads/zulu-community/?version=java-8-lts&architecture=arm-32-bit-sf&package=jdk

[2020-05-08 22:45] mstormi commented on #874
Looks like Azul screw up the Zulu Java package.
For the time being, your best bet is to manually download and install an older version from their website.

[2020-05-08 22:51] mstormi commented on #655
FYI, we have another problem right now. Latest Azul package is broken.
We really need to come with a solution to cache "good" releases of upstreams.

Needless to say that the "integrate often" approach doesn't work when maintainers are absent.

[2020-05-08 23:01] holgerfriedrich commented on #874
@mstormi I don't think it is broken. @jteich just said that he tried even the older releases....
Did we somehow mess up which architecture to grab?! Which package would the old installer with the hardcoded download URL have used?

[2020-05-08 23:10] mstormi commented on #874
https://cdn.azul.com/zulu-embedded/bin/zulu8.40.0.178-ca-jdk1.8.0_222-linux_aarch32hf.tar.gz

I don't think it's about architectures. It downloads the proper architecture file.

But we should analyse this before using the static file as a "fix".

[2020-05-08 23:12] mstormi commented on #874
Why the heck is the jdk owned grafana:mosquitto (on my test box) ???

[2020-05-08 23:13] mstormi commented on #874
Yes something's wrong with architectures: it installed ...aarch32sf not ...hf

[2020-05-08 23:14] holgerfriedrich commented on #874
Did you notice aarch32sf vs aarch32hf?

[2020-05-08 23:25] mstormi commented on #874
hmm I don't know the Azul API.
It seems to give me an aarch64 file although the link requests "hw_bitness=32"
I think it's safest to revert to the static file for now then let's dissect that Zulu API behavior

[2020-05-08 23:38] mstormi commented on #874
curl -H "Accept: application/json" "https://api.azul.com/zulu/download/community/v1.0/bundles/?jdk_version=8&ext=tar.gz&os=linux&arch=arm&hw_bitness=32" gives a couples of bundles, hf first but also sf
Haven't gotten down to the bottom of this yet

[2020-05-09 00:13] mstormi commented on #874
I just merged #877

All, please restart openhabian-config, answer yes on update, and try 02 Upgrade again and let me know if that helps

[2020-05-09 00:24] ACJUK commented on #874
Yay!  Looks like things are coming back online.  Well done, and thank you.  Ironically installed OpenHAB a day or 2 ago due to stability problems with SmartThings and have just moved about 40 devices over.

:)

Haven't tested fully but it definitely looks encouraging.

[2020-05-09 00:26] mstormi commented on #874
It's an Azul issue. Not the first time they change their download API without prior notice.
Pretty annoying... we're looking into alternative Java providers.

[2020-05-09 00:32] mstormi commented on #874
Well once up it run stable :)

[2020-05-09 00:56] ACJUK commented on #874
Just part of the fun when playing with this sort of thing :)

Thanks again!

[2020-05-09 01:17] ecdye commented on #874
Sorry @mstormi I was bust this afternoon, I'm looking into it right now.

[2020-05-09 01:26] ecdye commented on #874
Quick summary of what happened from first glance, Azuls API is very variable and does not allow specifying the hf or sf option in the query. As such it just return whichever one it has available first. Their API is slow to update and must only have sf build in it right now and not the hf build. However the hf build exists just their API is trash.

TLDR; This likely will happen every time that Azul

[2020-05-09 01:36] ecdye commented on #874
@mstormi I am querying the latest bundle, however you did not that is why there was a list of several bundles. Because of this, it makes it so that we have not real control over the floatness of the binary returned. Hopefully, Azul will patch it.

[2020-05-09 02:41] inis1981 commented on #874
I can confirm I'm up and working again.

[2020-05-09 02:43] inis1981 commented on #874
This is my first issue in 3 years. You're in good hands.

[2020-05-09 07:56] abissoli commented on #874
Up and running. Thanks.

[2020-05-09 07:57] Davidoff77test commented on #874
Great, it works. Thx

[2020-05-09 09:51] mstormi opened #878 "make Java install resilient"
Following up on #874, there is a need to make (first & foremost but not exclusively) Java install more resilient.

Need to consider both a short term and a strategic approach in parallel.

On short term, we need to evaluate the _list_ of available packages and select hf ones.
@ecdye I didn't have the time to dissect this in detail at 2am so may be wrong, but unlike what you wrote in #874 the URL O

[2020-05-09 14:32] f2calv commented on #872
Thanks for the debug guide link.
However I did a 3rd fresh install the same as before and... there was no error, weird.

@mstormi for what it's worth the [debug guide](https://github.com/openhab/openhabian/blob/master/docs/openhabian-DEBUG.md) is not linked from the [openHabian page](https://www.openhab.org/docs/installation/openhabian.html#faq-and-troubleshooting), that might help others...

[2020-05-09 18:43] ecdye commented on #878
No, @mstormi I was querying the Latest binary and that is what Azul returns: compare these links:
https://api.azul.com/zulu/download/community/v1.0/bundles/latest/?jdk_version=8&ext=tar.gz&os=linux&arch=arm&hw_bitness=32
https://api.azul.com/zulu/download/community/v1.0/bundles/?jdk_version=8&ext=tar.gz&os=linux&arch=arm&hw_bitness=32

[2020-05-09 18:49] ecdye commented on #878
The builds started failing about two days ago. We could have caught it but I was busy trying to get RL things done and wasn't paying enough attention to make the connection.

What you did to fix it should suffice in all cases except when Azul is in the middle of uploading their latest builds and the `hf` build is not available. That seems to be a very low chance. I am hoping to get Azul to fix it,

[2020-05-09 20:01] mstormi commented on #878
Same for me. But relying on that is a broken concept. Maintainers cannot be on duty 24x7, 365 days a year. Hence my focus on a strategic approach to mitigate the need for fast reaction.

Ok, then skip looking for a final fix and move on to the strategic approach I raised.

[2020-05-10 01:26] ecdye commented on #878
My one worry about keeping local copies is that then we can run into licensing issues with the packages that we include.

[2020-05-10 08:13] mstormi commented on #878
For Zulu _Community_ it say you can "download and use without restrictions".
[Note: IIRC in the code we use names "Enterprise" and "Embedded" which is wrong as that's the commercial versions. Code we use is the free "Community" however.
For that, I have not even found a licensing file. If anyone does please point me there.

[2020-05-10 08:41] mstormi opened #879 "correct references to Azul java versions"
We download and use the "Community" version for both, x86 and ARM.

Code and docs however sometimes still refer to these as "Enterprise" and "Embedded" version s, respectively.

Need to remove/correct these referrals (java-jre.bash, docs/openhabian.md)

[2020-05-10 09:04] #875 closed

[2020-05-10 16:09] ecdye commented on #879
No, the ARM builds are actually embedded. Azul has made embedded builds available like all of their community builds.

[2020-05-10 20:09] mstormi commented on #879
Err, ok. The current download link contains a "community"part.
And it's not about the code but about licensing, isn't it? Those distributed as 'community' fall under 'community' licensing (=no restrictions, essentially), or am I mistaken ?

[2020-05-10 20:37] #810 closed

[2020-05-10 21:10] mstormi commented on #870
Core devs like us not to mess with start levels

[2020-05-10 21:10] #870 closed

[2020-05-10 21:42] ecdye commented on #879
I'm actually not sure about that part. I would need to look into it, I mostly just re-implemented the download using the API. You can prove that it is actually a embedded build by looking at the links that it returns for downloads from the API it is pulling from the embedded folder.

[2020-05-11 02:09] ecdye commented on #879
I think that Embedded builds are mostly just optimized for SoC's like the RPi. I could be wrong though. I'll look into it more tomorrow morning.

[2020-05-11 07:28] mstormi commented on #879
Yes, Embedded essentially is ARM and Enterprise is x86.
I believe Community isn't a real build but just the same Embedded/Enterprise packages but with a different license attached.

[2020-05-11 11:02] mstormi commented on #874
@ecdye builds to fail again because of sf
https://travis-ci.com/github/openhab/openhabian/jobs/329874957#L1285

[2020-05-11 11:10] mstormi commented on #874
Aaahh, stop panicking.
I hadn't rebased that repo build on master to contain the hotfix yet.
All's fine.

[2020-05-11 11:10] #874 closed

[2020-05-11 13:44] mstormi opened #881 "openhabian-config to enforce use of openhabian.conf"
Use these parameters:
clonebranch, repositoryurl to clone latest openhabian from on startup ?
mode to turn openhabian-config into verbose debug mode(s)

[2020-05-11 18:12] ecdye commented on #879
So I got in contact with Azul and their rep is going to get me in touch with the product manager to see if we can work something out.

[2020-05-11 18:49] mstormi commented on #288
Hello @ConfusedTA

is this still an issue? If no please close, thank you.

[2020-05-11 18:52] mstormi commented on #532
pinging @BClark09 Benjy, is this still an issue we would need to work on ?

[2020-05-11 18:54] mstormi commented on #210
@openhab/openhabian-maintainers could anyone please comment if this is still an issue in current openhabian?

[2020-05-11 18:56] mstormi commented on #608
@alfista2600 @holgerfriedrich could either of you please try to reproduce with current openHABian ?

[2020-05-11 19:00] mstormi commented on #77
Haven't encountered anyone to ask for this on the forum, and on second thought, anyone on the inside can directly OH instead of through proxy.
As you also suggested this I'll close the issue. Reopen if you feel we're in need to get that added.

[2020-05-11 19:00] #77 closed

[2020-05-11 19:04] BClark09 commented on #532
I believe so, yes. openHABian still sets the property:

https://github.com/openhab/openhabian/blob/292d452288205d4043d6b83066ec1290f6b1ec47/functions/system.bash#L341

[2020-05-11 22:15] mstormi commented on #532
and it's as simple as to remove it ? are you sure it'll work without ?

[2020-05-12 09:54] BClark09 commented on #532
Yes but if you set a permanent/unique device name, you'll need to include it the setting and this means having to set the others too.

[2020-05-12 09:57] mstormi commented on #532
Pardon, I don't understand. Do you need to set it in some situations ? If so why setting this by default is wrong? and what "others" are you referencing?

[2020-05-12 10:08] mstormi commented on #532
Read https://community.openhab.org/t/testers-wanted-removing-the-dgnu-io-rxtx-serialports-recommendation/68327 - did your last comment refer to symlinks ?

Then what would you propose to be the right fix - remove everything including the openHABian option 35 ? Or just remove it to be in by default but keep 35 ?

[2020-05-12 10:50] BClark09 commented on #532
The serial library we use by default scans for serial ports that start with the strings in [this list](
https://github.com/NeuronRobotics/nrjavaserial/blob/master/src/main/java/gnu/io/RXTXCommDriver.java#L653-L664). However, if `Dgnu.io.rxtx.SerialPorts` is set, the library only uses the parameter and ignores the list.

openHABian sets the parameter to use:

[code]

Which is only limiting, all the

[2020-05-12 10:56] mstormi commented on #532
Ok, then as 35/3 does not allow for adding free-form names but only adds -Dgnu... for ports already in your list, it is useless as an option, hence I'll remove it.  PR to come in the next minutes.

[2020-05-12 15:35] #532 closed

[2020-05-12 17:38] ecdye commented on #879
So, Azul's PM team is now aware of the issue and is looking into a fix. I'll update when I hear anything else.

[2020-05-12 17:41] ecdye commented on #878
@mstormi would it be better to consolidate #879 into this issue and make this a thread to track and address all Java issues relating to Zulu?

[2020-05-12 19:26] mstormi commented on #878
For the sake of tracking, no as it's completely different issues.
But any PR can be the fix to several issues at once so just feel free to fix them in one go.

[2020-05-12 20:48] ecdye commented on #878
I would but right now I'm more or less in hurry up and wait mode for a fix from Azul.

[2020-05-12 23:30] ecdye commented on #655
I don't believe that this is entirely necessary, in the Azul instance you refer to, it was more of a oversight than anything else. Additionally, the fix you suggested does not work in the case outlined as the system still downloads the binary and then bypasses the cache.

Also, the whole principle of openHABian is to create a lightweight system to be run on a small system like a RPi. The principle

[2020-05-13 08:40] mstormi commented on #655
not sure what you mean (and no, not to be discussed here but in the respective issue please) but I fail to understand why we cannot (pre-)store a proven working copy

That's just an interpretation of yours and to be frank it's wrong. System size does not matter, there's enough space left even on a 8GB SD to do that. And don't take on the wording ("caching"), it's just one way of describing my inte

[2020-05-13 09:28] mstormi commented on #228
FYI https://community.openhab.org/t/setup-of-openhabian-continuously-fails/94893/18

[2020-05-13 10:47] mstormi opened #886 "Evaluate alternatives to Raspbian"
Interesting that HASS uses Balena ResinOS and that it does not show a boot issue that Raspbian does: https://community.openhab.org/t/openhabian-setup-fails-due-to-ipv6/98717/3

I'd guess they're mostly the same under the hood but let's dig into the differences to see if it's worth switching or at least to take advantage of the work done in there.
ResinOS is also Docker optimized (prime reason for

[2020-05-13 15:26] mstormi commented on #886
Well it's apparently a little different than I thought in the first place.
Balena provides docker images (which we also use for testing) but no plain images beyond a basic balenaOS per SBC. But that in turn only seems to work for their service (and ours would have to be available as a docker image to make use of that).

[2020-05-13 15:53] mstormi opened #887 "disable IPv6 ?"
See https://community.openhab.org/t/openhabian-setup-fails-due-to-ipv6/98717 and elsewhere on the net for people to have a problem with Raspbian to use IPv6 (only) on boot.

See https://raspberrypi.stackexchange.com/questions/23884/force-ipv4-address for a potential way to change/fix that in openHABian.

Opinions ?

[2020-05-13 18:10] ecdye commented on #887
I certainly think that we should prefer IPv4 especially in Java as I personally have issues every time with Homekit and Java IPv6. Overall, I don't think we need to disable it but rather find a way to make IPv4 preferred unless the user overrides.

[2020-05-13 20:34] mstormi commented on #887
Agree. But how ?? You can prefer ipv4 over v6 in specific cases only [like apt](#228) but not globally.
Open for any suggestion to do the magic.

[2020-05-13 20:58] ecdye commented on #887
I'm not sure. I'll look into it a bit.

[2020-05-14 08:56] mstormi commented on #357
I'll close this issue as I neither get any response in a month nor that I'm aware of the problem to still exist.
Reopen if you disagree but if so please describe the current state again and what's the problem on that.

[2020-05-14 08:56] #357 closed

[2020-05-14 10:45] mstormi commented on #313
Just a thought: we already have the webserver running that displays `boot.log` during installation.
Wouldn't it make more sense to send a redirect to the dashboard (port 8080) when install has finished rather than to start/config nginx for just that purpose?

[2020-05-14 12:30] gitMiguel commented on #828
+1 to this.

And when the installation depends on internet connectivity we should wait for proper systemd hooks before starting the install script. Please see https://wiki.freedesktop.org/www/Software/systemd/NetworkTarget/#runningservicesafterthenetworkisup.

[2020-05-14 13:09] gitMiguel commented on #887
I disagree. Network problems/misconfigurations should not be resolved on this level. If the network isn't properly up, the installation should fail and user be informed.

I'm curious, @ecdye, what IPv6 problems have you encountered?

[2020-05-14 15:24] mstormi commented on #887
Well. We aim to build an image that installing works in as many environments as possible.
So what can we do if openHABian gets an IPv6 that isn't correctly setup or does not work to download packages? Force a fallback to use an IPv4 which should work.
As I said I'm open for any suggestion to do that magic but for now I don't know how to do it except to disable IPv6, BTW see #888. This implements a

[2020-05-14 16:21] gitMiguel commented on #887
Maybe I'm trying to say that the underlying OS should handle the fallback and we shouldn't need a switch to disable something. We could use some "getaddrinfo magic" to help the OS to prefer IPv4. See this [stackexchange.com](https://unix.stackexchange.com/a/13263) topic.

I know that all kinds of environments should be supported but if it's not properly configured?

[2020-05-14 16:28] ecdye commented on #887
Homekit does not work with IPv6 and that is quite annoying. Then my personal experience has been that with the devices on my network that don't support IPv6, connecting to my RPi has been very difficult when it has defaulted to IPv6.

[2020-05-14 16:44] gitMiguel commented on #887
I expected something more specific that just "it doesn't work".

[2020-05-14 16:57] holgerfriedrich commented on #828
@gitMiguel thanks for the input.

A few other things are to be considered, e.g.
- wifi setup stored in openhabian.conf needs to be patched into the system config (as early as possible....)
- for sake of clean outputs of the installer at best the system startup is finished
- Raspbian itself has delayed tasks which start with a small delay after the graphical target is reached
- apt daily needs to b

[2020-05-14 16:59] ecdye commented on #887
In my experience,(this could be just my own personal network setup) IPv4 devices connecting to IPv6 devices tends to fail. Additionally, the average layperson is usually running a IPv4 network at their house.

I think that this is an issue better solved at the Debian options level meaning it should be addressed by the kernel with an option to prefer IPv4 when possible. Therefore the solution that

[2020-05-14 18:39] mstormi commented on #887
That's a good hint, thanks. (@ecdye check it out on your box)
So would we want to modify `/etc/gai.conf` by default in openHABian ?

[2020-05-14 21:09] gitMiguel commented on #828
* Can wifi setup be separated to own script and service file that is for example triggered before network is up?

* So we would then wait for the system to fully load before triggering the install? Yes why not. The delay isn't IMO too much.

* What are these tasks and what problems they cause?

* Apt daily is a service itself and can be stopped/paused or even disabled.

* I'm not familiar with thi

[2020-05-14 21:34] gitMiguel commented on #887
@ecdye, sorry but I don't understand what you mean here. These are two different protocols that devices either support or then they don't.

Disabling IPv6 to debug network problems is fine but as a default option? No.

[2020-05-14 22:49] ecdye commented on #887
Devices connecting to the network using the IPv4 protocol can't connect to devices connecting to my network on the IPv6 protocol. But like I said it may just be my network that is causing the issue.

[2020-05-15 08:27] mstormi commented on #655
BTW The latest Raspbian (lite) image that is available for download includes Oracle JDK and other packages that require licensing. For their handling see [here](https://www.raspberrypi.org/downloads/raspbian/)

[2020-05-15 08:29] mstormi commented on #878
FYI The latest Raspbian (lite) image that is available for download includes Oracle JDK and other packages that require licensing. For their handling see [here](https://www.raspberrypi.org/downloads/raspbian/)

[2020-05-15 15:11] ecdye commented on #655
Is it possible to remove licensed packages?

[2020-05-15 15:12] ecdye commented on #878
Do we need to worry about the licensing?

[2020-05-15 15:21] ecdye commented on #886
Food for thought: Are we targeting Docker or end-user HW as our primary concern?

[2020-05-15 16:45] mstormi commented on #886
Plain SBC hardware only, no Docker ever.

[2020-05-15 16:46] mstormi commented on #878
what do you mean ? because we in turn include Raspbian ?

[2020-05-15 19:23] ecdye commented on #878
Yeah

[2020-05-16 10:46] mstormi commented on #878
I think we should leave a reference on the downlaod page like the Raspbian guys did.

[2020-05-16 10:53] mstormi commented on #879
FYI
[code]
                                                                                                                                                   ^^^^^

[2020-05-16 14:19] mstormi commented on #655
Of course, Raspbian is no fixed bundle.

[2020-05-17 01:13] ecdye commented on #879
It has always said that.

[2020-05-17 20:24] #228 closed

[2020-05-17 20:24] #887 closed

[2020-05-19 00:29] AsianAttack opened #893 "Unable to locate package python3-bluez"
After updating OpenHabian and running openhabian-config, when I choose "Apply Improvements"->"Packages" I receive the following output:

[code]

[2020-05-19 00:29] AsianAttack commented on #893
Subsequent run:

[code]

[2020-05-19 02:45] ecdye commented on #893
What platform are you on? When I look on my end I see the `python3-bluez` package.

[2020-05-19 05:34] holgerfriedrich commented on #893
#876
Seems we need special handling for certain platforms....

[2020-05-19 13:52] AsianAttack commented on #893
Sorry, I should have included the platform. I'm running on a Raspberry Pi Zero W.

[2020-05-19 15:44] holgerfriedrich commented on #893
@AsianAttack can you please provide the operating system? Plain raspbian or installed from an openhabian image?
`cat /etc/debian_version`
Thanks.

[2020-05-19 18:23] AsianAttack commented on #893
No problem, it's 9.11

[2020-05-19 18:28] AsianAttack commented on #893
FWIW, the RPi0W has bluetooth: https://www.raspberrypi.org/products/raspberry-pi-zero-w/

[2020-05-19 18:56] holgerfriedrich commented on #893
@AsianAttack thanks, this is stretch (Debian 9), so it is still in the scope of openhabian. Our current image is based on buster (10).

@mstormi for jessie (8) I would agree, but as it affects stretch, I will see what I can do. Not sure where this package is needed anyway....

[2020-05-19 19:25] mstormi commented on #893
BTW:
https://raspberrypi.stackexchange.com/questions/112508/unable-to-locate-package-python3-bluez

python3-bluez failed to install on my own box, too, simply because the package is not in the repo.
But I noticed I still had the stretch repo in /etc/apt/source.list.d/raspi.list and when I changed that to buster, it found the package.
So that seems to have arrived just recently, probably it was pyt

[2020-05-19 23:28] AsianAttack commented on #893
Hi @mstormi,
What I know is that I had trouble starting the system when I tried to download the latest 1.5 version from https://github.com/openhab/openhabian/releases. I therefore downloaded 1.4 and it worked fine for starting the system. Perhaps I should have tried 1.5 again, but it seems risky for me to upgrade at this point. OpenHab, however, upgrades itself when I run `openhabian-config` and t

[2020-05-20 07:08] mstormi commented on #893
_What_ issue do you mean ? An unneeded package fails to install because it does not exist for the OS version you run, that's all. So there's an error message but that's not an "issue".

Oh dear. Now _that_ is not a supported setup unless you dist-upgrade to buster (which is what 1.5 is based on). And that would make your issue disappear, right?

Holger just said stretch is "in scope", that does no

[2020-05-20 07:18] mstormi opened #896 "Builds to fail"
See https://travis-ci.com/github/openhab/openhabian/jobs/337265122#L1242 for x86 and
      https://travis-ci.com/github/openhab/openhabian/jobs/337265128#L1264 for arm32

After installation, openhab2 fails to start because of java, that's why builds ultimately fail

Possibly it downloads some wrong or bad package ?

Pinging @ecdye  @holgerfriedrich

[2020-05-20 07:43] mstormi opened #897 "Rescue mode"
This is a "collector" issue to collect facts and ideas  on problems with obtaining the IP address/DNS/whatever is needed to proceed with openHABian image installation runs.

See https://community.openhab.org/t/openhabian-setup-fails-due-to-ipv6/98717/26 for an env where the openHABian image failing to install because the DHCP server does not provide any proper ipv4 address.
These issues are hard t

[2020-05-20 07:47] holgerfriedrich commented on #896
did you see the failing install of libc packages just before zulu install starts?

[2020-05-20 08:50] mstormi commented on #896
Good catch.  That's apparently the relevant difference If I compare sub-builds from the same run
https://travis-ci.com/github/openhab/openhabian/jobs/337265126#L1225
https://travis-ci.com/github/openhab/openhabian/jobs/337265128#L1260

Although they have different line numbers so *something else* is different.

Might be due to differences in base images.
Test building within the "testbuild" branch

[2020-05-20 11:44] mstormi commented on #896
I changed to .... -build images just in those Dockerfiles to fail, resulting in a good build:
https://travis-ci.com/github/openhab/openhabian/builds/167098275

So I believe the following is what we see:
* the libc packages are required to run java, but they are missing in _some_ of the repos
  (those to fail, x86 and arm64, these are)
* using the ...-build images comes with them preinstalled so bu

[2020-05-20 13:25] AsianAttack commented on #893
Hi @mstormi,

The issue here is that openhabian-config crashes when I choose "Apply Improvements"->"Packages". I don't mind having or not having the package. I expect the tool to complete its work without error.

Yes, and if that's what I need to do to have OpenHab run properly, I suppose I can. I am concerned about whether or not it will upgrade properly, but I acknowledge that that's my problem.

[2020-05-20 15:11] #893 closed

[2020-05-20 18:52] mstormi opened #899 "Refactor code to not stop on package installation failures"
Today this makes openhab-config or an unattended installation fail.
Code should continue rather than exit (routines to use `return` instead of `exit`).

[2020-05-20 19:00] mstormi opened #900 "allow for forcing hw specific install"
Let's add hw= and os= parameters to override is_xxx() detections of hardware and OS version so we can "force" CI testing on a particular virtual (CI-only) HW/OS.
Users with unsupported HW that way could also force theirs to be treated like one of the supported boxes.

[2020-05-21 13:37] #900 closed

[2020-05-21 17:12] AliFarmer001 opened #906 "Installation of InfluxDB and Grafana (still) fails to complete"
Hi,

Doing a vanilla install of openHab on a RPi 4 from the openHABian installer.

Completed the installation then went into openhabian-config and selected the install optional components and install InfluxDB & Grafana.

The installation ran through then failed - see below :

All went well to start with...
Setting up libqt5sensors5:armhf (5.11.3-2) ...
Setting up grafana-data (2.6.0+dfsg-3) ...
Se

[2020-05-21 18:34] mstormi commented on #896
which are exactly those same repos as the BT packages in #902 are missing in - coincidence ?

[2020-05-22 00:03] ecdye commented on #896
Oddly enough, it seems to have corrected itself. Perhaps it was just a bug with the upstream.

[2020-05-22 01:05] ecdye commented on #906
Is this a RPi4 1gb? If so, then you should not be trying to use Grafana as it is a known memory hog and will likely fail.

[2020-05-22 02:58] holgerfriedrich commented on #906
Hi @AliFarmer001,
grafana-cli is not found, this has been reported by few people on the grafana bugtracker.

To help yo we need more information:

Can you please provide more information about your OS environment?

Can you try to locate it (my guess: `/usr/sbin/grafana-cli`)? Can you call it directly?

Please provide the content of `$PATH` variable.

Thank you.

[2020-05-22 07:08] mstormi commented on #896
Yeah, odd.
I just received a bunch of Travis mails to report various _old_ builds both to fail and to succeed.
My [latest one ](https://travis-ci.com/github/mstormi/openhabian/builds/167681799)still fails but just for a specific architecture.

[2020-05-22 07:28] mstormi commented on #896
At 5am ? Wow.
But what's optional about this here?

[2020-05-22 08:04] mstormi commented on #896
As you might know commits to repos with existing PRs actually create *two* builds for the same code. With my most recent attempt, one of them failed, the other one worked:

https://travis-ci.com/github/openhab/openhabian/jobs/338738959
https://travis-ci.com/github/mstormi/openhabian/jobs/338738947

[2020-05-22 08:23] mstormi commented on #881
#882 to implement it but to replace "mode" by "debugmode"
repositoryurl will not be used because it would be too complex with the current code.
But it's also a useful security measure to not make that configurable to point outside GitHub/openhabian repos.

[2020-05-22 08:24] mstormi commented on #863
help wanted for what exactly left to be done ?

[2020-05-22 09:16] holgerfriedrich commented on #863
Someone who is into bluetooth and at best also uses a Pi HAT which need serial:
- RPi4 BT: clarify overlay pi3-miniuart-bt still applies (for me it seems it does not make sense on a RPi4 unless you set the CPU frequency scaling statically).
- RPI4 BT: clarify if you still need to do something about the BT when you want to use a HAT
- RPI4 BT: maybe use the proper BT overlay to disable it (which mi

[2020-05-22 11:58] mstormi commented on #863
Ok, so that's beyond the scope of #861, right?
Can we finally merge that ? I removed the link to this issue here so that it does not get auto-closed on merge.

[2020-05-22 15:54] axlerose commented on #906
Hi

I've a similar issue but the problem is that openhabian didn't install grafana because it didn't find it on ppa repo so to perform a correct installation i've to add the grafana ppa before the installation, perform an apt-update and next it was installed and make the same problem of the admin password reset.

i add an other detail, after the admin password reset issue , i try to access to graf

[2020-05-22 16:38] axlerose opened #908 "FireMotD"
Hi

After the FireMotD installation on Ubuntu Server 20.04 i've notice that the used RAM percentage didn't work, and i've the error:

[code]

[2020-05-22 17:02] ecdye commented on #896
Perhaps its because Travis's arm support is still in beta and being worked on?

[2020-05-22 19:37] mstormi commented on #908
Well FireMotD is just a tool we bundle with openHABian. We install the latest version.
If that doesn't work on latest Ubuntu please open an issue with the developers over at
https://github.com/OutsideIT/FireMotD/

[2020-05-22 19:37] #908 closed

[2020-05-22 20:36] mstormi commented on #896
We will not find out. ARM may be alpha but we also had many builds to fail on x86 so I don't think that is the main reason.

[2020-05-23 11:13] mstormi commented on #693
I hope you agree if I was to say it's not in scope for openHABian.
So will close. Feel free to reopen if you have code to share to make it work.

[2020-05-23 11:13] #693 closed

[2020-05-23 11:14] mstormi commented on #629
Going for Adopt 11 _and_ Zulu 11 now, with Zulu 8 to remain the default for now.

[2020-05-23 12:52] mstormi commented on #285
pinging @BClark09

[2020-05-23 19:38] mstormi commented on #608
pinging @alfista2600 @holgerfriedrich

[2020-05-23 19:38] mstormi commented on #288
pinging @ConfusedTA

[2020-05-23 19:40] mstormi commented on #879
any feedback from Azul ? Do we need to do anything ?

[2020-05-23 20:01] mstormi commented on #316
pinging @BClark09

[2020-05-23 20:17] mstormi commented on #482
I don't see a point in this any more. Grafana without any database whatsoever does not make sense,
and the current install procedure allows for using an external InfluxDB instance, too.
If installed locally, default use of ZRAM for all persistence data mitigates SD wearout.

[2020-05-24 01:11] ecdye commented on #879
Nothing from them as of yet.

[2020-05-24 10:15] mstormi commented on #253
After 3yrs on idea level I think we need to close this.
Reopen if you have something new closer to an implementation.

[2020-05-24 10:15] #253 closed

[2020-05-24 10:41] mstormi commented on #415
Given our responses and many changes in Raspbian (now on buster) and openHABian that took place since, I'd say this is no longer an issue or development target.
Feel encouraged to reopen if you still encounter problems with current openHABian.
(if so, please provide a new analysis and solution)

[2020-05-24 10:41] #415 closed

[2020-05-24 10:55] mstormi commented on #399
Seems noone is willing to take on this.
Given a not-that-great risk-to-benefit ratio and, I'll close this for the time being.
Will reopen when its time is on ;-)

[2020-05-24 10:55] #399 closed

[2020-05-24 20:04] ocramleznem commented on #906
Just jumping in here. The same happened to me right now on my new installation on a Raspberry Pi 4 with 4GB of memory. I got texactly the same message as @AliFarmer001

According to @holgerfriedrich my $PATH looks like this:
[code]

and trying the direct call ends in:
[code]

[2020-05-24 21:30] holgerfriedrich commented on #906
@ocramleznem @AliFarmer001
root cause seems that updating the package lists after adding the grafana repository was accidentially removed, resulting in a very old version of grafana being installed from raspbian repo. PR is already submitted, so it should be available soon.
You may need to remove the old version manually `sudo apt remove grafana grafana-data` before proceeding (on my test install

[2020-05-24 21:59] #906 closed

[2020-05-24 22:11] holgerfriedrich opened #912 "WiFi gone after HW upgrade RPi3 -> RPi4"
Tried to upgrade my hardware from RPi3b to RPi4 _without a fresh install_.
WiFi was enabled and working before, LAN not connected.
System booted fine, but WiFi function was gone. Reboot did not help.

Since this is a typical upgrade situation, we should have a look if we can improve the behaviour.

[2020-05-24 22:39] ecdye commented on #912
Did you have WiFi enabled on your RPi3b when you upgraded? If so, perhaps it just is a simple fix of checking the HW on boot and adjusting the settings for network if needed.

[2020-05-24 23:00] ecdye commented on #863
I can't test anything with HAT's as I don't personally use any however I can test some other things.

These two links should help clarify what is happening with regards to `pi3-miniuart-bt` and how it relates to the serial ports (basically the same procedures as in the pi3 at least that's my understanding).

https://www.raspberrypi.org/documentation/configuration/uart.md
https://www.raspberrypi.or

[2020-05-25 05:41] ocramleznem commented on #906
Thanks for your quick fix @holgerfriedrich!

I removed `grafana` and `grafana-data` and restarted the installation by going through and updated `openhabian-config`.

[2020-05-25 08:45] mstormi commented on #912
While I disagree formally (you SHOULD install from scratch and migrate config only), you are correct that it would be a good idea if that worked at least in the most common setup (boot from SD). We should not aim to support external SSD, net boot or the like.

Could you please review #861 so I can merge that asap, it has some changes to affect WiFi.

Is there anything about Wifi in your /boot/conf

[2020-05-25 09:34] mstormi commented on #863
I have a RPi3 with a HAT (to use the UART) so I could disable BT and see if the HAT still works.
But I would not know what/how to test BT, let alone I hate to use that protocol for Home Automation purposes so I'm not euphoric to offer that anyway.

[2020-05-25 12:55] mstormi commented on #912
Just booted from a virgin image and noticed some startup messages about a
"Load/Save RF Kill Switch Status" right below "Starting Blueetooth service".
Probably worth to check out.

[2020-05-25 13:05] #752 closed

[2020-05-25 19:43] mstormi commented on #825
I'd like to move this forward. Aiming for an offline install capable image.

Components we would need to validate / enable caching or other pre-storage method for
(cast "in order of appearance"):

FireMotD
Java see #869
openHAB2 stable release
vimrc, nanorc
Samba (is there a version included with Raspbian already ?)
Frontail

[2020-05-25 20:07] holgerfriedrich commented on #825
Really serious about this?

From my point of view this would require executing the first-boot script before shipping the image.
Otherwise we will end up with two different types of installations with different sets of installed packages.

[2020-05-25 20:32] holgerfriedrich opened #914 "Grafana DB migration during install"
RPi4 2G, own built image, latest openHABian.
Got this error (never seen before):
[code]

Maybe just a coincidence, needs to be investagated.

[2020-05-25 21:10] mstormi commented on #792
Not sure I understand what you want openHABian to do here.

According to https://karaf.apache.org/manual/latest/security,
you can enter `user=plaintextpassword,_g_:admingroup` to `/var/lib/openhab2/etc/users.properties`
and it'll *encrypt* that password when you restart Karaf/OH next time.
That's what options 42 (setup console) does with the default password "habopen" (and it allows for all interf

[2020-05-25 21:24] mstormi commented on #825
Granted I have not analyzed what this would mean in detail but yes I'm serious about this because

My basic idea is to split the current install routines of each of those packages into download and install functions and to only run the downloads as part of an image build, storing download on the filesystem. No need to run the full first-boot I hope.
At installation time we will then download() aga

[2020-05-26 00:23] holgerfriedrich commented on #914
grafana.db may be owned by root on new installs due to race condition.
BATS tests did only check if service is running, not if it can be used.

[2020-05-26 08:25] ConfusedTA commented on #288
I'll admit I've not looked back at this, sorry! I'll see about spinning up a new VM and try to replicate the original issue, but the changes made in #292 does sound like it might well be the fix!

[2020-05-26 08:33] mstormi opened #917 "several BATS tests to fail"
Merging #918 made BATS output appear in 2nd Travis test stage
That revealed several BATS tests to fail once you're willing to look at them :-|
See https://travis-ci.com/github/mstormi/openhabian/jobs/339942816

We need to fix:
- [x] destructive-install_zulu8-64bit
- [x] destructive-install_zulu11-64bit
- [x] destructive-install_zulu8-32bit
- [x] destructive-install_zulu11-32bit
- [x] destructive-i

[2020-05-26 10:30] mstormi opened #919 "piVCCU to replace homegear"
There's quite a number of (German) users to run popular eQ-3 Homematic gear.
The homegear solution included with openHABian however does not support Homematic IP devices.
piVCCU is a project to run the Homematic controller firmware in a lxc container and sounds like that could be a proper replacement for homegear.

https://github.com/alexreinert/piVCCU/

[2020-05-26 11:40] mstormi commented on #896
Closing as it's working now without that we fixed anything about it.
Reasons for build failures remain unknown, though.

Reopen if you encounter anything like this again.

[2020-05-26 11:41] #896 closed

[2020-05-26 11:55] mstormi commented on #863
btw @holgerfriedrich what does the "good first issue" label actually _precisely_ mean ?

[2020-05-26 14:31] ecdye commented on #917
Its failing the Java installation test because it does not have a full openHABian image properly set up and booted. Basically that means that it fails because Java is not installed

[2020-05-26 17:50] mstormi commented on #917
Why would it need a full image ? The BATS test is supposed to be a unit test, i.e. it should install Java, start it up for a smallish test (java -version or the like) and that's it ...

[2020-05-26 18:10] holgerfriedrich commented on #917
@mstormi not easy to debug without any output.
How do we proceed here? Log file as artifact possible? Use $output?

[2020-05-26 19:04] Goldich opened #920 "InfluxDB / Grafana Installation Error - failed to initialize SQL engine"
Hi,
I just tried to install InfluxDB / Grafana via `openhabian-config` and failed. I'm running the latest openHABian on a Raspberry 4.

Here the entire log of the installation.

[code]

[2020-05-26 19:41] holgerfriedrich commented on #920
Hi, thanks for reporting.
It might be a duplicate of #914, so please be patient until #915 is merged.
Then try removing grafana `sudo apt purge grafana`, possibly delete `/var/lib/grafana`.
Then try again.

[2020-05-26 19:45] mstormi commented on #917
Huh? Did you see #918 ?
Rebase on master and you should see your output ...

[2020-05-26 20:25] ecdye commented on #917
It doesn't because it is running in the bare docker image and the openHABian install is what installs Java, not docker.

[2020-05-26 20:45] mstormi commented on #917
@ecdye I don't understand at all what you mean. Please quote lines if you refer to some earlier post,
and don't jump between issues, that's highly confusing.

As replied [here](https://github.com/openhab/openhabian/pull/869#discussion_r430685837), the BATS test itself is to install Java.

[2020-05-26 20:49] holgerfriedrich commented on #917
what I see in my tests is just
[code]

I can track this down to the command run before, but I do not see what happened.
E.g. grafana install failed with exit code. Good to know. But hard to debug.

[2020-05-26 21:02] mstormi commented on #917
I see. Line 12 is systemctl ...
That eventually fails because systemctl doesn't work in docker.
That's why I install a replacement systemctl.py, but maybe not in the Dockerfile used here ?

[2020-05-26 22:30] holgerfriedrich commented on #917
Bad luck, not that easy. This was also my first thought, and in #915 I have already added an additional check to see if the connection to the DB works.... (in addition to the systemctl).
But looking at the grafana error message, already the install fails....

[2020-05-27 08:37] #914 closed

[2020-05-27 08:37] #920 closed

[2020-05-27 09:26] Goldich opened #921 "Grafana Installation Error - Failed to update user password"
Hi,
I have waited for #915 and used the recommended steps in #920. After reinstalling (entirely new) influx and Grafana I have encountered a new issue. As you can see at the end of the log, the Grafana users could not be changed. I'm not sure how to solve this issue now, since the default Grafana admin user neither accepting my set password nor de default one `admin`.

Attached the log:
[code]

an

[2020-05-27 10:47] holgerfriedrich commented on #921
Hi @Goldich, did you try to run the installation a second time (without purging)? The internal db should have settled now....

[2020-05-27 10:58] Goldich commented on #921
Hi @holgerfriedrich,
I have just tried it again. This time no deinstallation straid to install. So I choose the option `Install locally`.

The error sticks at the end.

[code]

[2020-05-27 17:41] mdivus opened #922 "Raspberry Pi 4 + openhabian 1.5 + Razberry2 HAT + Backup not working"
I have a clean Pi 4 setup with a clean openhabian v1.5. Also a green Razberry2 modul HAT.
Setting up software works fine, but I can't get my Razberry connected with my restored openhab backup from my previous Pi3 setup.
Tells me /dev/ttyAMA0 does not exist, although it is listed on the console.
Also Option 3 in openhabian-config -> Serial Port -> *Enabling JVM* is missing in my system

Any help is

[2020-05-27 18:31] mstormi commented on #917
Almost there: https://travis-ci.com/github/openhab/openhabian/jobs/340632926
Come on Holger, just one more to go ...

[2020-05-27 18:42] mstormi commented on #922
Github is not for user support. Please post your question on the community forum.

PS: try removing `-Dgnu.io.rxtx.SerialPorts=.....` from `EXTRA_JAVA_OPTS `in /etc/default/openhab2
Option 3 changed that but it is harmful so we removed the option.

[2020-05-27 18:42] #922 closed

[2020-05-27 19:29] holgerfriedrich commented on #917
lets see what Grafana install comes up with today.... installation fail :-/

[2020-05-27 21:24] mstormi opened #926 "Ubuntu support"
Ubuntu clearly is the most popular Linux flavour for x86.
As we don't provide images for x86, I think we need to support it to gain a broader openHABian user base. As most packages are identical to Debian I wouldn't think it'll be much effort.

- [x]  Code cleanup to remove or update Ubuntu references
- [x]  Travis test case with proper Docker Ubuntu image (focal and bionic LTS releases) => #975
-

[2020-05-27 21:30] holgerfriedrich commented on #863
@mstormi this was introduced by github to mark issues as a good start for new contributors

[2020-05-27 21:30] holgerfriedrich commented on #921
Hello @Goldich, can you please re-check? I have added a restart of Grafana in between which will hopefully resolve the issue.

[2020-05-27 22:35] ecdye commented on #917
Any idea why on the tests I've merged into my Adopt branch and the testbuild branch keep timing out on the Bats tests.

[2020-05-27 23:11] Goldich commented on #921
Hi Holger,
I have tested it and there was no change in the behavior.

[2020-05-27 23:20] holgerfriedrich commented on #921
The problem is that I cannot reproduce it on my test install.... Will have a look again the next days.

[2020-05-28 07:12] mstormi commented on #917
Dunno what you mean, when I looked most were fine.
Give a link....
Is it reproducible? At least try restarting them

[2020-05-28 08:07] suysh commented on #921
Hello,
I have the same problem here. Let me know if you want my logs or try something.
When trying the installation via openhabian-config a second time it goes thru, but after a reboot influxdb is not started anymore at boot.
Kind regards, Hans

[2020-05-28 10:56] mstormi commented on #886
Raspi Foundation coming up with their own 64bit OS:
https://www.raspberrypi.org/forums/viewtopic.php?f=117&t=275370

[2020-05-28 12:32] suysh commented on #921
I just installed my raspberry from scratch (to be sure I have the latest updates), and received the following log until the error.
Kind regards, Hans

`Linux openhab 4.19.118-v7l+ #1311 SMP Mon Apr 27 14:26:42 BST 2020 armv7l

The programs included with the Debian GNU/Linux system are free software;
the exact distribution terms for each program are described in the
individual files in /usr/share/d

[2020-05-28 15:43] ecdye commented on #917
I can't restart them it wont let me. Here is a link: https://travis-ci.com/github/openhab/openhabian/jobs/340618525#L540

[2020-05-28 15:48] ecdye commented on #886
Well once it leaves beta we will need to add support for it.

[2020-05-28 15:50] mstormi commented on #886
Yeah. Would need a docker image in the first place for our CI pipeline.

[2020-05-28 16:33] ecdye commented on #886
Yep

[2020-05-28 17:12] mstormi commented on #917
Button in upper right corner? I was able to restart yours.

[2020-05-28 18:27] ecdye commented on #917
I think it is because I do not have write access to the repository. But it still is timing out after the Zram tests now any idea why?

[2020-05-28 19:25] mstormi opened #928 "Grafana on RPi 0/1"
Yes yes I know I shouldn't raise this.

Point however is that *if* someone decided (against all odds and recommendations) to run it, we should at least install the correct binary.
RPi0/1 are ARMv6l and the standard repo version does not work there.
=> test for hwarch in Grafana install routine and eventually download the hwarch specific version from https://grafana.com/grafana/download?platform=ar

[2020-05-28 19:29] holgerfriedrich commented on #928
...and think of what database to use. Grafana and Infux on a Pi0/1 does not make much sense to me.

[2020-05-28 19:44] holgerfriedrich commented on #917
@mstormi did those bats tests ever work properly in the CI setup we have now? Many of them try to restart openHAO, relay on java and frontail to be availabe.... all the stuff which is currently not installed in the VM for the bats tests!
So my feeling is that we need to run them after a full installation.

[2020-05-28 19:48] mstormi commented on #917
I don't know if they ever worked but none of the BATS unit tests should be built to require any prerequisites. Ethan has already fixed most of the java tests. The frontail install test should _install_ frontail and check after that if it's working.

[2020-05-28 19:54] holgerfriedrich commented on #917
Frontail: agreed.
The tests do not directly restart openhab, but for example java installation procedure will halt and restart openhab.
[code]
https://travis-ci.com/github/openhab/openhabian/jobs/340822671

[2020-05-28 20:22] mstormi commented on #928
Of course. However you can use simple DBs like rrd4j or an InfluxDB or MariaDB to run elsewhere such as on a NAS of yours.
So no excuses not to fix this (I thought it's simple so you can do it while you work on it anyway but if you disagree ok).
Now having said that reminds me of #482. I recently closed that as "does not make sense" but on second thought it _does_ make sense so I reopened.

[2020-05-28 20:24] mstormi commented on #917
They shouldn't be doing that. But as I said I think @ecdye has reworked them already.

[2020-05-28 20:51] ecdye commented on #917
They do and they should but it was really just an issue of return values. The restarting of openHAB does not effect the outcome when installing as it will just fail and continue. It is needed so that when installing new Java versions we don't do it while the current VM is still running. The tests are all fixed for Java as @mstormi said.

The one issue I still have is that for some reason after the

[2020-05-28 21:30] mstormi commented on #917
Ok. So the original intention of unit tests was to have a _separate_ test routine to only contain what's needed but it's actually an even better test to make use of the real installation routine.
Maybe you can change the code there to do something like `systemctl -q is-active openhab2 && systemctl stop openhab2`

I restarted your job and it happens again.
I'm 70% sure it's a Travis issue as the la

[2020-05-28 21:37] Goldich commented on #921
I have tried now the following commands with the same result.
`sudo apt purge grafana`
`sudo rm -fr /var/lib/grafana`
`sudo apt purge influxdb`

I saw this in frontail:
[code]

[2020-05-28 21:54] mstormi commented on #917
What's happening if you call the command on your box?
(beware it screws up install so make sure to run it on a test box only !)

[2020-05-28 23:27] ecdye commented on #917
I think I figured it out, there are a bunch of missing semicolons in functions/packages.bash in if statements (primarily involving whiptail). We will see if that fixes it.

[2020-05-28 23:36] holgerfriedrich commented on #917
...and I finally managed to get the grafana install working... but same error at the end of the test run....
Which files did you change? I will prepare a small PR which does not conflict.

[2020-05-28 23:39] ecdye commented on #917
I just opened #930 to fix it.

[2020-05-29 22:58] ecdye commented on #928
@mstormi I would expect you of all people to ignore this possibility as being completely unnecessary. However, I do see your point.

[2020-05-30 08:14] #795 closed

[2020-05-30 13:36] #692 closed

[2020-05-30 13:36] #881 closed

[2020-05-30 21:13] mstormi commented on #917
* Originally I think BATS tests were executed on a machine AFTER the unattended installation finished.
That's why stuff now missing (lsb-release etc) _was_ installed at that late stage.
Frontail test wants the service to run which in turn is difficult to get to run only using the standard routine that's also used in unattended install.
In cases like that it's ok to reduce the original test to some

[2020-05-30 23:13] #846 closed

[2020-05-31 00:34] #763 closed

[2020-05-31 01:13] #702 closed

[2020-05-31 01:13] #899 closed

[2020-05-31 07:45] mstormi commented on #863
With #861 merged, please redo the list what's left. WiFi disablement you can test, BT alone, too.
BT+serial HAT IMHO never worked and still does not.

[2020-05-31 09:57] #424 closed

[2020-05-31 09:57] #743 closed

[2020-05-31 15:27] #868 closed

[2020-05-31 17:44] mstormi commented on #878
Would you say we're done with this ?

[2020-05-31 17:46] mstormi commented on #856
from .travis.yml: build.bash *is* shellchecked
      - shellcheck -x -s bash openhabian-setup.sh functions/*.bash build-image/*.bash build.bash && echo "shellcheck - OK"

[2020-05-31 17:52] ecdye commented on #878
Yes, until such a time that Azul gets back to me with a proper fix we are done with this.

[2020-05-31 18:00] #878 closed

[2020-05-31 20:32] mstormi opened #936 "Fix repo key downloads"
Several instances like
`cond_redirect wget -O - http://homegear.eu/packages/Release.key | apt-key add -`

can fail if repo file or repo are broken
should be rewritten like this
[code]

[2020-05-31 20:42] mstormi commented on #856
btw does building an image work ? Would like to provide a new one to contain the 02/2020 update from raspberry.org plus our pre-fetched java.

[2020-05-31 20:48] holgerfriedrich commented on #856
@mstormi it should. I started using the image 1.6 milestone to collect what is essential from my point of view.

[2020-05-31 20:50] mstormi commented on #856
haeh?
Won't wait for 1.6, that would be in time for bullseye upgrade.

[2020-05-31 20:52] holgerfriedrich commented on #856
For me 1.6 is just next image milestone. I did remove "bullseye" from title.... bullseye is years away from now

[2020-05-31 20:59] mstormi commented on #856
Well usually we only ever released images together with debian upgrades so I was thinking to call the next 1.5.1 then 1.6 would be for bullseye.
Then again, the Java upgrade also is pretty substantial. We can discuss for sure. Or roll dices ;-)

[2020-05-31 21:06] suysh commented on #921
I did the installation today from scratch, and I received a successful installation message. But after a reboot influxdb is not started and when I try again the installation influxdb+grafana from openhabian-config it failed.
[code]

[2020-05-31 21:06] mstormi commented on #831
Tracking installation errors in #840 and BATS tests to fail in  #917

[2020-05-31 21:06] #831 closed

[2020-05-31 23:53] ecdye commented on #936
This is part of what I would consider a bigger issue that involves rewriting most if not all of the functions for safer and more consistent execution and status reporting.

I am going to start re-writing many of the functions and will include this as part of the process.

[2020-06-01 00:00] ecdye opened #937 "Rewrite of openHABian core functions"
There are many places where the existing code is in need of a good tune up to make it safer in execution and to keep to a standard more consistently.

This will take a while but I will open a PR and begin to rewrite the core of openHABian to have much safer execution and more clear outputs.

Related #936

[2020-06-01 08:20] mstormi commented on #921
just fyi https://community.openhab.org/t/update-upgrade-grafana/95299/43

[2020-06-01 08:25] Skinah opened #939 "README.md has a broken link"
The link for ``check out the fake HW feature.`` in the readme is broken.
Link that my browser trys to open is...
https://github.com/openhab/openhabian/blob/master/openhabian.md/#fake-hw

should it be the below?

https://www.openhab.org/docs/installation/openhabian.html#fake-hardware-mode-fake-hw

[2020-06-01 09:32] holgerfriedrich commented on #921
PR #927 is now under review. This hopefully fixes the installation issues.
Installation works fine in Travis CI builds and also worked fine for me.

[2020-06-01 09:37] holgerfriedrich commented on #917
see also #927, it fixes influx, grafana, frontail.
workarounds for homegear in place.

open point: will we rework the java tests to actually test if openhab can run with the installed java? Currently this is commented out in java-jre.bats, since during the destructive tests we do not have openhab installed.

[2020-06-01 11:05] mstormi commented on #926
see also https://community.openhab.org/t/java-on-non-openhabian/99904/8
@ecdye: curl missing for Java at least on Odroid/bionic (not sure if that's plain bionic but I would think with regards to non-kernel stuff like curl it will be), so should be an easy catch

[2020-06-01 11:43] #939 closed

[2020-06-01 12:06] mstormi commented on #917
Using openhab to run the Java unit test is not needed and would create hard to resolve dependencies.
It's tested anyway later on in integration/deployment tests.

So can we close this issue ?

[2020-06-01 12:14] holgerfriedrich commented on #921
@Goldich  @suysh  #927 is now merged to master branch.
Please make sure that you switch to master branch before doing the installation. `openhabian-config` will anyway ask, if not use option 01 to switch to master.

Can you please re-check if the issue is resolved now?

[2020-06-01 12:24] holgerfriedrich commented on #936
Consider using a helper function to implement this. mktmp could also be your friend.

[2020-06-01 12:54] Goldich commented on #921
Hi @holgerfriedrich,
I have changed to the master branch and pulled all updates until the latest PR. I have first purged Grafana & Influx DB with the following commands:
[code]
Then I installed via `openhabian-config` both new. At the end I have received 2 errors. The Grafana Admin Password could not be changed and Grafana could not connect to InfluxDB, displaying an access error.

I found in the

[2020-06-01 14:43] ecdye commented on #926
They got the install to work and if they had installed the basic needed packages using menu 11 it would have worked perfectly.

[2020-06-01 14:45] ecdye commented on #936
Yep.

[2020-06-01 15:23] holgerfriedrich commented on #921
Hi, @Goldich,
thank you for your really helpful error reports an testing!
I cannot reproduce on my systems, but we can try different solutions.

Could you please try the following modification to `/opt/openhabian/functions/influxdb+grafana.bash`:
replace
[code]
by
[code]
and see what happens?

[2020-06-01 15:28] Goldich commented on #921
Shall I purge Grafana again for that?

[2020-06-01 15:34] holgerfriedrich commented on #921
Yes, please. And please remove `/var/lib/grafana` to make sure the .db file is gone.

[2020-06-01 15:48] Goldich commented on #921
It worked. No issues, no errors and everything setup. You can close this issue, when you have committed this change.

Thank you very much for your help ❤

[2020-06-01 16:59] holgerfriedrich opened #942 "zram to be built in CI"
ZRAM service is not installing in CI due to missing gcc, see
[code]
https://travis-ci.com/github/openhab/openhabian/jobs/342255583

Please add all tools required to compile and install it to dockerfiles.

[2020-06-01 17:05] #921 closed

[2020-06-01 17:09] holgerfriedrich commented on #917
Java/Openhab interaction to be checked in integration tests.
All other checks are ok.

[2020-06-01 17:09] #917 closed

[2020-06-01 19:48] mstormi opened #943 "Deploy new nrjavaserial"
We have not gotten feedback to our test drive yet but according to Jan (a core dev), OH 2.5 on Java 11 is suspected to fail on using the serial interface because of an older version of the nrjavaserial library to cause this.
While a newer fixed version of the lib exists -confirmed to work with OH3-, unfortunately as the OH core is frozen this will not be put to use with OH 2.5 any more by means of

[2020-06-01 20:57] mstormi commented on #926
Yeah. Actually I wonder whether `openhabian-config unattended` would have worked and if we should put that into the docs for any non-image install.

[2020-06-01 21:23] holgerfriedrich commented on #926
Will you close #621?

[2020-06-01 21:56] mstormi commented on #926
I think so yes

[2020-06-01 22:32] mstormi commented on #621
As commented we *should* support Ubuntu. Taking this forward in #926.

[2020-06-01 22:32] #621 closed

[2020-06-02 10:23] mstormi commented on #608
pinging @alfista2600 @holgerfriedrich again
there's some new thread on this on the forum so worth checking out

[2020-06-02 13:22] mstormi opened #946 "New image"
With the [new Raspbian image out](https://www.raspberrypi.org/downloads/) we should compile, test for compatibility and finally release a new image.
## DONE
update first-boot.bash (done in #890), rc.local / error output #840 / #890, add Oracle OpenJDK to menu #948,first-boot.bash#L132 halts install if no Internet => #950, git,make,gcc packages must be preloaded with the image, frontail install han

[2020-06-02 13:39] holgerfriedrich commented on #946
Test images (32 and 64bit) including PR #890 and #931 available from:
https://github.com/holgerfriedrich/openhabian/actions/runs/121959703

[2020-06-02 14:46] suysh commented on #921
I tried today again, but still same problems. I'm on the master branch (seen in title openHABian Config tool.
There is some confusion about menu item '03 openHAB Stable' when the master branch is selected. Do I have to run this item or not? Typically after writing the image I run every step in the config tool.

[2020-06-02 15:39] mstormi commented on #946
My first attempt on a RPi3 unfortunately failed right away on "updating packages", then exit.

You also need to
* set debugmode=off (instead of on)
  (although while still under development, "maximum" is probably a good choice)
* merge #944

[2020-06-02 15:47] mstormi commented on #921
When you flash the image you don't have to manually run *any* of the menu options.

[2020-06-02 15:50] suysh commented on #921
Aha, so only install mosquitto and influx+grafana with the tool?

[2020-06-02 15:52] mstormi commented on #921
yes, or whatever external tool(s)

[2020-06-02 15:54] suysh commented on #921
OK. Thanks for your help.
I've just started another writing image to try the setup.

[2020-06-02 18:23] suysh commented on #921
No success :-( Sorry.
What I did:
Write openhabian image, boot, wait for login prompt, start tool, install mosquitto, install influxdb+grafana. No errors received during installation.
Reboot, try to place backup influxdb back : influxdb service was not started during boot.
Start tool, install influxdb+grafana, then I get errors : see log below.
[code]

[2020-06-03 07:28] suysh commented on #921
@mstormi Could it be that the dirs `/var/lib/influxdb/meta` and `/var/lib/influxdb/data` have the wrong permissions after default installation ?
When I do `sudo chmod -R +777 /home/openhabian/copy/database/` I can restore my database with the right permissions and influxdb start after reboot.

[2020-06-03 07:29] suysh commented on #921
should be `sudo chmod -R +777 /var/lib/influxdb`

[2020-06-03 09:55] mstormi commented on #937
Another brick in this: Rewrite to use ${TEMP:/tmp} to honor $TEMP.
Just have the problem myself that I cannot install Java because /tmp is not large enough.

[2020-06-03 12:09] mstormi commented on #943
Ok so there's maybe a misunderstanding of mine. The problem has only been observed on Windows so no need to act for us. I thought I had read about that elsewhere, too, but can't find it any more.
Will therefore close this and reopen if there's news such as eventually some Java test driver to report it.

[2020-06-03 12:09] #943 closed

[2020-06-03 12:14] mstormi opened #948 "OpenJDK option"
OpenJDK is/will be part of Raspi OS images which are going to be the basis for our new image, too.
So it'll already be installed there. Some openHAB people even to use it today.

We should allow for activating it via openhabian-config menu.

[2020-06-03 14:31] ecdye commented on #937
where is $TEMP defined? Is it just an option for a user to export it so that we can use it for them?
Java should not be using tmp to install, can you point me to where it is?

[2020-06-03 14:33] ecdye commented on #937
Also, do you want me to make one Behemoth PR and merge it all at once or would you like me to do it in smaller chunks to help make it more manageable.

[2020-06-03 19:47] mstormi commented on #937
$TEMP is a generic env variable any user can set in his bash profile
https://github.com/openhab/openhabian/blob/master/functions/java-jre.bash#L239 and L368

I think having a set of PRs is easier to handle and validate. Make them groups of similar fixes.

[2020-06-03 19:52] mstormi commented on #948
@ecdye saw this one ? Maybe a quick win as it's already installed ?

[2020-06-04 01:15] ecdye commented on #937
Sounds good. That is what I thought $TEMP was for.

[2020-06-04 01:18] ecdye commented on #948
I saw you opened it, I have not look much at the new RPi OS. I'll look into it some once I have the first set of rewrites complete (I am going to rewrite all of `packages.bash` and make that the first piece to test once it is merged and being validated I'll look at it but my guess is it will be pretty simple.

[2020-06-04 03:27] ecdye opened #949 "[RFC] BATS testing setup"
I personally believe that we should rethink the way that we categorize BATS tests (ie. 'destructive' and 'installation') as right now the way they are setup is very blurred when it comes to categorization.

I believe that this happened because of the many changes in the build system and the way that we test.

I think that we should move towards not categorizing the BATS tests but rather treat them

[2020-06-04 06:55] mstormi commented on #948
No hurry. When rewriting, keep potential offline install in mind (is there packages we need for OH to work that are NOT already available as part of the image).

[2020-06-04 07:09] mstormi commented on #949
Well I introduced dev- fairly recently only.
In terms of WHAT they test they're mostly the same as the others. They're just meant to be used when you're _developing_ on a feature so they are tested first and allowed to fail.
Then again things changed. Regular BATS tests moved to 2nd stage so we could as well unite those. Read: give up on dev- as a separate Travis stage. We can still allow for nami

[2020-06-04 20:10] #942 closed

[2020-06-05 02:34] ecdye commented on #949
My thoughts were more that there is only one test that currently uses the moniker "installation" making it a little worthless. Additionally, where do we draw the line? IMO if we follow the currently defined standard, we should be calling the Java tests "installation" as they are part of a standard installation.

I hope you get the point I am trying to make.

[2020-06-05 08:18] mstormi commented on #949
Just a little bit, and mind implementation. It must ensure not to run any other tests after one that was (or could have been) destructive in its impact. Running one destructive test after another destructive one could make the 2nd fail in theory, but as tests should not destroy more than necessary, it usually does not harm because their impact is on separate parts of the system so does not interfe

[2020-06-05 10:36] multimartin commented on #908
@axlerose - did you get this fixed ? I get the same error - with the same config...

[2020-06-05 13:02] mstormi commented on #825
I created an access list on my router to block the openhabian box from accessing Internet, then
I called `openhabian-config unattended` on CLI and watched where it started to hang.

We need to browse/check those routines we call in openhabian-set.bash

- [ ] frontail install hangs in "npm install" if server unreachable
- [ ] does preload/include default Java (Zulu 8) with image work ?
- [ ] what h

[2020-06-05 15:49] ecdye commented on #949
Also certain functions are unable to be used in a unattended mode (ie. FIND) therefore will never receive bats tests.

[2020-06-09 21:37] mstormi opened #952 "Interrupting unattended installation can break it"
I just interrupted an unattended install but on reboot it fails to continue on "apt-get --yes upgrade"
Manual execution of that resulted in "E: dpkg was interrupted, you must manually run 'sudo dpkg --configure -a' to correct the problem."
After I did and rebooted, installation continued.
So while of course a user should not interrupt, and this problem probably is not specific to the new image, so

[2020-06-10 08:03] mstormi commented on #912
Not sure if that's related but see https://github.com/openhab/openhabian/pull/931#issuecomment-641815609

[2020-06-10 19:39] mstormi opened #957 "Java warning on stable default install"
I merged master into stable today. After that I get a warning on a new image based install saying
"Untested Java Version, ..." even before it is installed and although it says it's installing Zulu8-32.
May have been in master unspotted, or something went wrong with the merge.
@ecdye Please check.

[2020-06-10 20:25] #957 closed, assigned to nobody

[2020-06-11 09:27] StMSchl opened #959 "grafana fails after reboot"
Dear all,

I'm just trying to migrate from OH1 to OH2 ... one issue came up this moring.
System: Openhabian (stable) on Pi4 with zram

Symptom: grafana fails after restart:

Jun 11 11:11:25 ... systemd[1]: grafana-server.service: Main process exited, code=exited, status=1/FAILURE
syslog:Jun 11 11:11:25 ....systemd[1]: grafana-server.service: Failed with result 'exit-code'.
syslog:Jun 11 11:11:25 .

[2020-06-11 13:04] E1i0 opened #960 "Openhabian-config tool doesn't obtain public IP"
When trying to set up a reverse proxy using https, and when the tool asks to fill in my domain, I fill in my duckdns.org domain (that is working fine). When the script checks if the domain IP is the same as my public IP, I get an error message. In the console logs, I see that "Obtaining public IP address..." returns a blanc value.
![image](https://user-images.githubusercontent.com/66377024/8438845

[2020-06-11 13:52] mstormi commented on #960
No.
Set debugmode=maximum in /etc/openhabian.conf to see what it does, maybe that gets you a hint.

[2020-06-11 14:48] E1i0 commented on #960
I did this, and now I can see where it goes wrong:
![image](https://user-images.githubusercontent.com/66377024/84397563-0d843600-abff-11ea-8198-59675a15842d.png)
The script tries to obtain the public IP address by using this command: "dig +short myip.opendns.com @resolver1.opendns.com", but that returns a blanc value, also when I try to execute the command in console. However, when I use this comm

[2020-06-11 15:20] mstormi commented on #960
/opt/openhabian/functions/packages.bash
Beware it gets overwritten when you update openhabian-config

[2020-06-11 15:46] E1i0 commented on #960
I managed to figure it out on my own, but still thanks!
I edited the line in the packages.bash file, adding the -4 as stated above, and the setup now continues with my domain.
Thanks for all the help, really appreciate it!

[2020-06-11 15:46] #960 closed

[2020-06-11 16:45] ecdye commented on #948
Also do we want to keep the travis tests for the forcing of 64bit down to 32bit on unsupported platforms now that we know they work? My thought is to remove them to simplify the testing structure.

[2020-06-11 16:51] mstormi commented on #948
yes remove it. Maybe some more cases we can slim down? Travis compile takes loooooong even parallelized because of so many parallel compiles.

[2020-06-11 17:12] ecdye commented on #948
I'm toying with it, trying to find the best balance of adequate testing and reasonable time.

[2020-06-12 01:16] ecdye commented on #828
Ok, so if we have the service now, why does `rc.local` need to exist?

[2020-06-12 05:13] holgerfriedrich commented on #959
@mstormi can you please have a look at this?

[2020-06-12 05:17] holgerfriedrich commented on #828
@ecdye pine a64 still not removed from code base, #622

[2020-06-12 10:10] mstormi commented on #959
Stop Grafana, stop ZRAM, correct permissions then start again.
I'd think it's a leftover of bad earlier Grafana install routine that ran without ZRAM being on.

[2020-06-12 13:00] alfista2600 commented on #608
Finally had a chance to try, but it still appears to be a bug.
[code]

[2020-06-12 17:45] mstormi commented on #608
Could you please set debugmode=maximum in /etc/openhabian.conf

Did you upgrade in the near past ? Kernel = Linux 4.19.57-v7l+ is not old it's ancient really. Not sure if that's related.

[2020-06-12 17:47] alfista2600 commented on #608
this was a fresh openhabian install on a brand new Pi 4.
I'll re-flash the card and give it another try with that option set... might be a day or two

[2020-06-12 17:48] mstormi commented on #608
Please use the dev image from
https://github.com/holgerfriedrich/openhabian/actions?query=workflow%3Abuild-image

[2020-06-12 18:50] ecdye commented on #828
Ahh, that makes sense. Thanks @holgerfriedrich

[2020-06-13 09:59] StMSchl commented on #959
It did the trick:
* stopped zram (via openhabian-config)
* reboot > grafana failed
* added directory + permission fix
* reboot > grafana started
* restarted zram (openhabian-config)
* test reboot: everything fine !

@mstormi: thanks!

Stephan

[2020-06-13 10:02] #959 closed

[2020-06-13 11:44] mstormi opened #963 "openhabian-config unattended to fail due to missing openhabian.conf"
/etc/openhabian.conf missing if openHABian installed as repo clone (without image)

[2020-06-13 13:10] mstormi commented on #963
also installer-config.txt and potentially other files are missing
see https://community.openhab.org/t/cant-open-http-openhab-link/100395/47

[2020-06-13 18:36] mstormi commented on #608
I was able to reproduce your problem.

Actually openhabian writes the wifi config to /etc/network/interfaces which is empty before that.
But when filled, it seems to only execute that and omits anything else including eth0

[2020-06-13 20:35] ecdye commented on #608
Hmmm, I think that it is fine to disable Ethernet when WiFi is active as long as we re-enable it when we disable WiFi.

[2020-06-14 02:10] ecdye commented on #963
Also the current 1.5 image installs an older version of the openhabian.conf that does not contain all of the new options and `openhabian-config` does not update the current one with the new version.

[2020-06-14 07:36] mstormi commented on #963
that will require a new image. As that's in the works, no need to take action here.

how would that be supposed to work ? it may not overwrite it's own config file as it cannot know whether the changes in there are intentional

[2020-06-14 08:21] mstormi commented on #963
Would it be a sufficient fix to simply tell users in the docs to create `/etc/openhabian.conf` as a copy of `/opt/openhabian/openhabian.conf.dist` ?

[2020-06-14 08:42] mstormi commented on #963
Fixed by #964 ?

[2020-06-14 12:32] mstormi commented on #828
Holger are you fully done ?
There's still somewhat of an overlap of boot and installer message but I don't know if you have any ideas to improve that further.

[2020-06-14 12:48] holgerfriedrich commented on #828
The question is which services we want to suppress during installation. Technically, only apt is a must, since this has always caused random failures (apt update or install failed due to locked database).

Possibly needs more testing....

[2020-06-14 13:20] #952 closed

[2020-06-14 13:23] openPhiL commented on #908
let me add this link here: https://github.com/OutsideIT/FireMotD/issues/154

[2020-06-14 13:24] mstormi opened #965 "[openHABian] Updating Linux package information ... FAILED"
on unattended install in Travis. Let's find and eliminate the reason.

[2020-06-14 13:35] mstormi commented on #828
I wouldn't think we would want to _suppress_ any services as we want to keep openhabian "as-raspbian-as-possible". So it's just a matter of starting the installer even later. Is there any later systemd dependency we could wait for ?

[2020-06-14 16:12] mstormi commented on #965
it's from wait_for_apt_to_finish_update called in timezone_setting() in system.bash

[2020-06-14 16:22] ecdye commented on #963
Possibly, or if users have issues add a section in the debug guide outlining a fix.

[2020-06-14 17:22] mstormi commented on #963
I've added that as code, too: #967

[2020-06-14 20:41] mstormi commented on #879
so assuming we will not get any answer any more, would we need to change anything or rather close this issue?

[2020-06-14 21:29] ecdye commented on #879
I don't believe anything needs to be done. I will keep an eye out but I doubt that I will get a response at this point. Hopefully it will be fixed some day.

[2020-06-15 06:36] holgerfriedrich commented on #825
Can you already see what packages (including dependencies) are missing in the Rapberry Pi OS lite image? We need a proper way of installing them - I was thinking about a local apt repo.... If it is just a few, I would just install them in the beginning of the install from a cache folder....

[2020-06-15 07:38] #963 closed

[2020-06-15 07:54] mstormi commented on #825
Would need to lookup each time. Does not do harm to list and eventually install again, does it ?
git libattr1-dev gcc

And you need to call the fetch routines for zram and java

[2020-06-15 08:00] mstormi commented on #879
Will close for the time being, reopen it if there's news.

[2020-06-15 08:00] #879 closed

[2020-06-15 08:02] #965 closed

[2020-06-15 16:53] mstormi commented on #608
I agree.

Created #986 to properly _switch_ between Ethernet and WiFi.
This, while not the OP's intention, will fix & hence close this issue.

[2020-06-16 06:59] mstormi commented on #629
@ecdye would you say we're done with this ?

[2020-06-16 08:26] mstormi commented on #210
@BClark09 do you know if this is still an issue? Ever used certbot --nginx ?

[2020-06-16 08:28] mstormi commented on #912
Holger can you retry with your new image and eventually use menu option 33 ?

[2020-06-16 08:49] mstormi commented on #856
@ecdye did your recent update on test.bash affect or fix this ?

[2020-06-16 09:13] mstormi opened #970 "VPN / remote access"
Deploying openHAB/openHABian in any remote location incurs a need for (secure) remote access.

I would like a remote access server to become part of openHABian.
Any suggestions for a software framework or implementation ?
OpenVPN ?

See also https://github.com/orgs/openhab/teams/openhabian-maintainers/discussions/16 for related tasks.

[2020-06-16 09:46] mstormi commented on #863
I have a RPi4 and a ZWave HAT available now but I have no idea of BT.
Can you propose concrete basic BT tests ?
dtoverlay-miniuart-bt is disabled (absent from /boot/config.txt) by default on new RaspiOS
(on older ones probably as well)

[2020-06-16 10:37] BClark09 commented on #210
I don't know if issue is a problem any more but I do think the nginx / certificate generation could do with revising. `certbot --nginx` is very helpful but might be difficult script, `certonly` makes this slightly easier.

[2020-06-16 13:13] mstormi commented on #886
With Balena working different, Raspi OS now out, Ubuntu support to come and no potential alternatives I could see for the time being, I think it's reasonable to stop searching for now.
Feel free to reopen if there's significant news that could become gamechangers.

[2020-06-16 13:13] #886 closed

[2020-06-16 13:20] mstormi commented on #823
With offline install available, we might not need this any more.
However good to get info asap when something's down.

[2020-06-16 13:47] mstormi commented on #648
All, I believe this is fixed in current openHABian so will close this.
Please reopen I case you encounter this again, but if so, take advantage of openHABian's new debug mode feature (`debugmode=maximum` in `/boot/openhabian.conf`, see docs) to get verbose output This is needed to pinpoint where the problem ultimately really is.
Note that the message about /etc/rc.local Compatibility is merely a s

[2020-06-16 13:47] #648 closed

[2020-06-16 13:51] mstormi commented on #594
@holgerfriedrich could you please re-test if this is still an issue with the beta Raspi OS based image and current openHABian ?

[2020-06-16 13:51] alfista2600 commented on #608
I didn't really have an intention. I just wanted to move a device from ethernet to wifi, and was surprised when I reconnected it to ethernet that it didn't work and figured the team would like to know. Glad it is sorted out as this will help beginners - which is the spirit of Openhabian.

[2020-06-16 13:53] mstormi commented on #410
@BClark09 ping .... is there anything you think we would still need to do ?

[2020-06-16 15:48] ecdye commented on #629
Yeah, It has been implemented and so far seems to be solid so I think we are done.

[2020-06-16 15:49] ecdye commented on #856
It should have, yes (once #938 is merged).

[2020-06-16 15:50] mstormi commented on #629
Great. Thanks again for your contribution.
(btw I'm running Zulu11 for some days now).

[2020-06-16 15:50] #629 closed

[2020-06-16 16:19] mstormi commented on #739
We have just inflated the java install process (Zulu 8, 11, Adopt 11 as options) so tracking/building this has just become a lot more difficult.
As I'd say this is merely an edge case (have not heard of anyone else to request that ever since), I don't see the efforts of implementing this are worth spending hence will close this issue.
We'll remain happy to take PRs, of course.

PS: and imho there'

[2020-06-16 16:19] #739 closed

[2020-06-16 16:31] ecdye commented on #629
Glad to hear that it is working for you.

[2020-06-16 17:10] mstormi commented on #213
Reading last comments and having waited for a month without feedback, I think is no longer needed.

[2020-06-16 17:10] #213 closed

[2020-06-17 00:14] BClark09 commented on #410
If an `--allow-downgrades` option has been added, and there is sufficient warning that downgrading may have side effects, then no I don't think there is.

[2020-06-17 07:25] #285 closed

[2020-06-17 11:59] mstormi commented on #313
cc: @EliasGabrielsson @holgerfriedrich

I just installed a box and when it finished, the log display was removed and the webserver provided a link to the dashboard.
Isn't that what's the intention here ?
(okay, we could also trigger a redirect after 10 seconds, but other than that?)

[2020-06-17 12:41] mstormi commented on #410
yes (both)
so will close this issue, reopen if you find anything wrong with it

[2020-06-17 12:41] #410 closed

[2020-06-17 15:04] #633 closed

[2020-06-17 15:04] #856 closed

[2020-06-17 15:04] #936 closed

[2020-06-17 15:04] #949 closed

[2020-06-17 16:22] #622 closed

[2020-06-17 16:22] #623 closed

[2020-06-17 16:30] #313 closed

[2020-06-17 16:30] #825 closed

[2020-06-17 17:23] #608 closed

[2020-06-17 17:45] ecdye opened #974 "Announcements standards"
@mstormi we should standardize our announcements.

I think the most recent announcements should be placed in `NEWS.md` with all announcements being placed in `docs/NEWSLOG.md`. This is in line with what is stated in `NEWS.md` as well so we should either stick to it or change our statement.

Also be sure to stick to the 80 column standard.

See #973

[2020-06-17 17:54] mstormi commented on #855
Running simple "free" inside Docker/Travis seems to be ok for now.
To be reopened when there's new ideas.

[2020-06-17 17:54] #855 closed

[2020-06-17 17:58] mstormi commented on #628
Moquette (the embedded MQTT broker) has been removed from OH again, so we better keep mosquitto working.

[2020-06-17 17:58] #628 closed

[2020-06-17 18:12] mstormi commented on #522
I'd think there is no longer a need for this.
* Java does not need extra params (possibly we can even omit the Xms/Xmx in Java 11)
* -Dgnu.io is deprecated (#883)
* Menu option 35 was rewritten in #861

[2020-06-17 18:12] #522 closed

[2020-06-17 18:15] mstormi commented on #897
There's no general pattern when installing openHABian fails so there's also no systematic approach to what a rescue mode could look like.
Reopen when there's substantial changes to this situation.

[2020-06-17 18:15] #897 closed

[2020-06-17 19:32] mstormi commented on #594
@holgerfriedrich could you please re-test if this is still an issue with current openHABian master to contain the offline fixes ? I was able to install with Inet blocked.

[2020-06-17 19:43] #974 closed

[2020-06-17 20:48] mstormi commented on #840
@holgerfriedrich I thought these errors were related to the rc.local stuff but they're still there
(I updated the links in post #1 with a recent master build).

Any idea ?

[2020-06-18 07:14] mstormi opened #977 "move input needed for mail transfer agent installation from code into web"
see exim_setup() in packages.bash

Also double-check mail setup works (failed on first test)

[2020-06-18 07:58] mstormi opened #978 "systemctl --wait unavailable"
@ecdye
just noticed https://travis-ci.com/github/openhab/openhabian/jobs/350719621#L394

[2020-06-18 11:49] mstormi commented on #946
@holgerfriedrich are you done with the new image? Else reopen this please and state what's left to do.

[2020-06-18 13:59] mstormi commented on #422
@jscottnz Do you mind helping with a contribution here ?

If noone does, it'll remain an unrealized nice idea and I'd close this issue ...

[2020-06-18 14:07] mstormi commented on #655
openHABian has essentially been made capable of an install to succeed even if Internet connectivity is unavailable.
Enhancements to make this work for optional components too, like Tellstick, are of course still welcome but they're not crucial.
As the main goal is reached (and the main driver gone), I'll close this issue.

[2020-06-18 14:07] #655 closed

[2020-06-18 14:18] mstormi commented on #519
@ecdye did a good job in writing down what's been in use and 'floating around' in
https://github.com/openhab/openhabian/blob/master/CONTRIBUTING.md#codestyle

That's a good starter we can work based on.

Feel free to raise additional items for discussion and eventually document results in `CONTRIBUTING.md`.

[2020-06-18 14:18] #519 closed

[2020-06-18 14:25] mstormi commented on #948
@ecdye willing to take on this? I'd like to finalize the image see #946  and this should be in

[2020-06-18 14:35] mstormi opened #980 "/srv/openhab2-* outdated or unneeded"
remove addons, sys, logs from smb.conf and as systemd unit

[2020-06-18 14:41] mstormi opened #981 "switch to Zulu11 failed"
@ecdye
https://community.openhab.org/t/comments-on-java-test-drive/100378/25

[2020-06-18 15:03] mstormi opened #982 "expand swap"
swap is a 100 MB file as per Raspbian default.
That's easily filled by OH with it's current Java parameters to preallocate and page-out quite some memory.

Even with ZRAM swap on, people can quickly run into trouble when there's a memleak.

I'd suggest to enlarge swap on SD to ~1GB or even the typical recommendation of 2*mem.

[2020-06-18 16:18] ecdye commented on #978
Its because of our systemctl replacement in Docker. I'll look into it some more and see if we can use another option.

[2020-06-18 16:23] ecdye commented on #948
Sure, just to confirm, it is preinstalled in the lite image, correct?

[2020-06-18 16:39] ecdye commented on #982
Makes sense to me.

[2020-06-18 16:45] holgerfriedrich commented on #978
This was just a test to see if we can use `systemctl --wait` in the tests.
If I call systemctl w/o wait, we need to figure out when the install actually finishes. I will roll back to calling first-boot.bash directly (which is called anyway by the service).

[2020-06-18 16:45] #978 closed

[2020-06-18 17:14] #977 closed

[2020-06-18 17:51] mstormi commented on #948
To check, I just installed a plain lite image and ... no it's missing.

So what do we do - omit, install ourselves or take the non-lite image ?
Is it as simple as to apt-get install ?

[2020-06-18 18:01] ecdye commented on #948
I think it is just an apt install. I am not sure it is worth adding though because we already have to optimized alternatives using the same code-base and I would like to stick with the lite image to avoid extra bloating of the image.

[2020-06-18 18:08] ecdye commented on #946
Do we merge #976 before we finalize 1.6?

[2020-06-18 18:14] mstormi commented on #946
yes why do you ask?

[2020-06-18 18:15] ecdye commented on #946
Just making sure. I was forgetting about that part.

[2020-06-18 18:17] mstormi commented on #948
Yeah you're right. Our all assumption was it's in the image but it isn't even in the desktop one (just tried) unless they renamed it or did whatever strange stuff to it.

I also think it's not worth going for apt.

Will hence close this, you can reopen in case there's news or changes to our assumptions.

[2020-06-18 18:17] #948 closed

[2020-06-18 18:33] ecdye commented on #981
Working on a fix, it appears to be because his particular OS did not have a required package (`zlib1g`) so I am adding it to the `java_zulu_prerequisite` function.

[2020-06-18 20:03] holgerfriedrich opened #984 "Prefetch code and packages for offline install"
Refs: #825

For an "offline install", i.e. first boot of the openHABian image without internet access, we need to cache some code and packages during creation of the image.
I.e. cache ZRAM code repos, cache JAVA, cache essential packages for building ZRAM and all the dependencies.

As this is done during image creation, it cannot use the built-in mechanisms of the target image (apt, ect).

[code]

[2020-06-18 20:51] mstormi commented on #980
Changed mind. Unlike I thought, this *is* working hence no point in removing it.

[2020-06-18 20:51] #980 closed

[2020-06-18 21:06] ecdye opened #986 "Always use local repo on install?"
@mstormi

After #961 if I am correct the installer will always use the local repo. This is caused because of this:
[code]
This would work, but `openhabian_update` is defined in `functions/openhabian.bash` which as far as I can tell is never sourced or included in `first-boot.bash` which means that it will always fail and default to the local repo, but this is not the right thing to do because then

[2020-06-18 21:22] holgerfriedrich commented on #986
agree... I reviewed this PR, but did not think of this....

[2020-06-18 21:25] mstormi commented on #986
Paste openhabian.bash into first-boot just like we do with helpers ?

[2020-06-18 21:28] holgerfriedrich commented on #984
@mstormi zram did not work, we have an apt install in install_zram_code

we need to download the deb files manually from correct respian repo and install them during first-boot :-/
This is why I did not like the idea of offline install in the first place.....

zulu java seems to work, azul has the same problem as zram but even worse....

[2020-06-18 21:35] mstormi commented on #984
which is just the libattr1-dev that you've asked for (what to install upfront)

what do you mean ? it works or not ?

[2020-06-18 21:35] mstormi commented on #984
wrong click

[2020-06-18 21:44] holgerfriedrich commented on #984
@mstormi  We have to distinguish between build system (the one which executes build.bash)  and target image. When I call `install_zram_code`, the library gets installed on the build system.
I have not way of executing apt of the mounted target image during install.
A simple but ugly way is to wget the correct deb file in `install_zram_code` and install it during first-boot (I was thinking to creat

[2020-06-18 22:15] mstormi commented on #984
I think @ecdye worked around exactly that for Zulu, check his code

[2020-06-19 01:28] ecdye commented on #986
I'm not sure that is the best and most correct solution in this case. Additionally, that function is made for a fully setup system, I am not entirely sure that it would work in this case.

I think that the best approach is to rethink the logic behind cloning the repo. For example, try to clone and if it does not work then default to offline. Another approach is to default to offline install as soo

[2020-06-19 01:31] ecdye commented on #984
No, for Zulu we use the API so we then avoid APT altogether. Honestly, I don't think that an elegant solution for offline install is possible. We may be able to fail gracefully and leave the user with a partial system but not full one.

Zulu offline may not even truly work because the install still has apt packages that it requires as prerequisites.

[2020-06-19 09:05] mstormi commented on #986
I'm open to discuss proposals, but I'm wary about any changes to affect repo cloning.
Frankly, openhabian_update() is "high tech" @ThomDietrich invented that I would not feel very comfortable to change or reimplement.
Your proposal more or less is what I used before I moved to call openhabian_update().
[ just that I overlooked that it's unavailable at that time ]
I moved because once I started thi

[2020-06-19 09:10] mstormi commented on #840
@ecdye fyi
Both errors seem to be related to the fact that invoke-rc.d uses runlevels and those are not available inside Docker so it's probably a Travis-only problem but still I'd like to fix that.
Need to experiment some, tried to inject a 'runlevel' binary but my first attempt failed
https://travis-ci.com/github/mstormi/openhabian/jobs/351215031#L330

[2020-06-19 09:47] mstormi commented on #984
which ones? That's Holger's intention of this issue to collect these.

[2020-06-19 10:17] mstormi commented on #984
there's an 'offline' competitor now: https://ubuntu.com/appliance/openhab

[2020-06-19 10:45] holgerfriedrich commented on #984
Do you know who created this?
Maybe time to start a discussion in maintainers section if we should refocus our efforts.

[2020-06-19 11:03] mstormi commented on #984
No. Canonical I believe.

already did: https://github.com/orgs/openhab/teams/openhabian-maintainers/discussions/17

[2020-06-19 12:31] #981 closed

[2020-06-19 15:25] ecdye commented on #986
I see one issue. The `openhabian-update` function uses many global variables that are not set at the time of install. We would need to write a specifically engineered function just for the install. I feel that in this circuimstance it is not a huge deal to reuse code but make it only for the install. I am doing the same to fix the `Waiting for dpkg/apt to get ready` issue in `first-boot.bash` in m

[2020-06-19 15:28] ecdye commented on #840
Hmm, I'm no expert in Docker. But my guess is that there may not be a lot we can do until docker makes them available in their containers. I'll look into it.

[2020-06-19 15:33] ecdye commented on #984
The ones listed in `java_zulu_prerequisite()` `libc, libstdc++, zlib1g`

[2020-06-19 17:53] mstormi commented on #986
didn't get that. Is your suggestion to _duplicate_ the openhabian_update() code or do you want to _reuse_ openhabian_update hence duplicate all those global variable settings we need for that to work?

[2020-06-19 17:54] #840 closed

[2020-06-19 17:57] ecdye commented on #986
duplicate but rewrite it to include only the functionality needed in `first-boot.bash`.

[2020-06-19 18:01] mstormi commented on #792
@shutterfreak @BClark09 is there anything you want me to change in openhHABian ?
Things IMHO work as documented and if you want passwordless access my understanding is you can set that in `org.apache.karaf.jaas.cfg` or use a SSH key.

[2020-06-19 18:58] ecdye opened #991 "Keep ShellCheck action in Travis?"
Do we really need to run the ShellCheck action in Travis if we already run it in GitHub Actions? Especially seeing as how we get the results from GitHub much faster? To make it apply to PRs all that would need to change in `shellcheck-action.yml` is:
[code]
to
[code]
See #990

[2020-06-19 19:02] ecdye commented on #991
To quantify how fast it is, the latest check finished less than a minute after I pushed the commit.

[2020-06-19 19:06] mstormi commented on #721
Holger would you say we're done here ?

[2020-06-19 19:56] mstormi commented on #316
@BClark09 openhab user still in use.
What about making frontail PartOf=openhab2.service in systemd ?

[2020-06-19 20:00] mstormi commented on #593
nodejs is installed using apt so I believe this is no longer of relevance.
Reopen if you disagree.

[2020-06-19 20:00] #593 closed

[2020-06-19 20:30] mstormi commented on #991
Mmh. I need to explicitly check for Github action results, don't I ?
I fear I'll quickly forget about shellchecking as soon as Travis does no longer enforce it.

[2020-06-19 20:33] ecdye commented on #991
No, because it will be enforced as a check and if it fails the checks will report as failed. It should be apparent. Look at the checks tab on #990 to see what I mean.

[2020-06-19 20:46] mstormi commented on #991
Ok, I don't mind then

[2020-06-19 21:12] ecdye commented on #991
Even better, I believe that we can make it such that it only runs when bash files are changed by using the following:
[code]

[2020-06-20 21:35] ecdye commented on #879
I just looked today, no email but a fix for the API has been issued and I will include it in #990.

[2020-06-21 09:03] holgerfriedrich commented on #879
Hi Ethan, can you pls do it on a separate PR? #990 should be more or less rewrite and free of side effects on actual features.

[2020-06-21 11:28] mstormi opened #992 "fix Amanda config for persistence"
Add /var/lib/openhab2/persistence to disklist.
It ain't dumped since ZRAM is an own filesystem.

See also
https://serverfault.com/questions/915726/difference-between-amgtar-and-gnutar
to fix "STRANGE" errors

[2020-06-21 17:41] #982 closed

[2020-06-21 18:04] mstormi commented on #992
@ecdye @holgerfriedrich
I know you cannot validate correctness of Amanda config
Give it a try just set Amanda up (with this fix applied - use testbuild branch) via menu option 52 then see if that results in what you would expect

[2020-06-21 19:29] mstormi commented on #926
@ecdye @holgerfriedrich

Is there anything left we need to declare Ubuntu supported ?

[2020-06-21 21:59] #992 closed

[2020-06-21 23:33] ecdye commented on #986
Any update on fixing this @mstormi? #946 will depend on a fix for this.

[2020-06-21 23:36] mstormi commented on #986
no sorry busy on another front ATM

[2020-06-22 10:05] mstormi commented on #986
Ok now looking after this.
I understand current code does not work with Inet *working* because openhabian_update() is missing in first-boot and on initial install boot, /opt/openhabian is NOT there (yet) plus even if it was it would not be sourced.
Am I correct there ?
@holgerfriedrich does /opt/openhabian exist on first boot before the clone attempt?
If so what's wrong with using that ? (yes of c

[2020-06-22 12:30] BClark09 commented on #316
Sorry, I've let this slip. I agree that using the `openhab` user might not be the best approach for services that aren't directly associated with `openhab`. The easiest fix, and one I really should have implemented a long time a go is the one we discuss in   openhab/openhab-linuxpkg#108

[2020-06-22 13:31] BClark09 commented on #792
Not having to put in the password when coming in from the localhost would be a nice to have IMO, but it's not an issue restricted to openHABian so I think we can close the issue.

It might be possible for `openhab-cli` to try the default password first, which will prompt a password if it's anything other than "habopen". This would be an issue for openhab-linuxpkg though.

[2020-06-22 13:45] mstormi commented on #316
Well that just applies to openHABian, and for anything not-openhab2 that's no packages you would need to fiddle tohat into but just files we place during installation anyway, or am I wrong there ?
And is there more than frontail.service ?

[2020-06-22 13:46] mstormi commented on #792
Ok, thanks for your feedback.
So will close. Feel free to reopen if there's significant news.

[2020-06-22 13:46] #792 closed

[2020-06-22 15:56] #926 closed

[2020-06-22 16:23] ecdye commented on #986
I more meant it probably would not work I did not look at the logic to confirm that theory. If there are issues using `openhabain_update` we can probably adapt it to our needs or rewrite it to be more of a global use. We would also need to remove some of the output about the updates when on the first install using $INTERACTIVE. I'm not sure there is a perfect option in this case but my best guess

[2020-06-22 18:01] mstormi commented on #986
Ok let's think & test together. Is #996 sufficient ?
A bit difficult to test without having an image to include that.
I think if we write a new image to SD then mount /boot of that and exchange first-boot.bash/add helpers and openhabian that should be a proper test, shouldn't it?

[2020-06-23 12:12] mstormi commented on #721
My most recent install with the beta image on a RPi4 showed little but still some remaining overlapping.
The first OHian install related message after which there were no more boot messages has a timestamp of 60.xxx.

So Holger can insert an additional delay of 1 minute before executing first-boot?
That should do I guess.

[2020-06-23 20:40] mstormi commented on #984
Holger, any news ?
#996 now hopefully fixed.

[2020-06-23 20:44] #986 closed

[2020-06-23 20:58] mstormi commented on #823
I changed my mind. We cannot and it's not our task to track repos.

[2020-06-23 20:58] #823 closed

[2020-06-23 21:02] mstormi commented on #720
We don't use && all that frequently and I don't see the need to rework the whole code because of this.
Feel free to reopen if you disagree.

[2020-06-23 21:02] #720 closed

[2020-06-23 21:07] mstormi commented on #299
Cleaning up outstanding issues.
Please reopen if you have a contribution. to share.

[2020-06-23 21:07] #299 closed

[2020-06-23 21:10] mstormi commented on #293
We are rarely ever in need of a firemotd update as older versions work fine most of the time, too.
Users can trigger to reinstall via menu 15 if in need.

[2020-06-23 21:10] #293 closed

[2020-06-23 21:12] mstormi commented on #288
@ConfusedTA have you been able to validate this ?
Can I close this issue ?

[2020-06-23 21:18] mstormi commented on #482
Separating installs might lead to problems with non-matching program versions or config hence I don't want to offer that.

And installing InfluxDB does not mean to make use of it.
Anyone can choose to install via openHABian and change config such that it ain't used. They can also disable or purge manually.

[2020-06-23 21:18] #482 closed

[2020-06-23 21:20] mstormi commented on #230
@ThomDietrich @holgerfriedrich could you please test and state if there's anything to be fixed or not

[2020-06-24 07:04] ThomDietrich commented on #230
Hey @mstormi!
I didn't test the install script but I've tested the daemon itself recently. It is a bit improved and working once again.

[2020-06-24 09:42] mstormi commented on #230
Glad to hear from you. Hope the virus didn't strike you.

[2020-06-24 09:52] mstormi commented on #230
Just tried installing on a RPi2 (it has no Bluetooth). That at least went fine without errors.
The miflora daemon does not run though.  I uncommented a sensor line in config.ini when it said there's no sensors but still, see output below.
May I nonetheless assume that install was successfull hence we can close this issue ?

[code]

[2020-06-24 09:55] ThomDietrich commented on #230
No I'm fine, thanks! How are you?
With the whole lockdown and homeoffice in place I changed my lifestyle to stay sane. Sorry I never got back to you but I'm very happy to see that you guys are in full control of the situation!!! 👏  Feel free to mention me wherever you would like my input or need another pair of eyes! 😃

[2020-06-24 09:55] mstormi commented on #912
@holgerfriedrich ping

[2020-06-24 10:01] ThomDietrich commented on #230
Had a look at the code. It should work but I'll try soon. For now could you just re-add it and remove the "NOT WORKING" comment?

[2020-06-24 10:02] mstormi commented on #422
@jscottnz ping

[2020-06-24 10:07] mstormi commented on #230
Not sure what you mean by "re-add". I'm not really into this thing, just validating open issues to get those remaining ones done.
May I suggest you create a PR to remove the comment (and to eventually fix stuff) yourself when you have tried installing.

[2020-06-24 10:25] mstormi commented on #594
@holgerfriedrich with offline install capability in the works anyway, we'll take care of this issue (sorta generalized version of your use case).
Will open another issue to fix NTP, though.

[2020-06-24 10:25] #594 closed

[2020-06-24 10:31] mstormi opened #998 "no NTP"
NTP not working on Raspbian.
For analysis and proposed solution see https://github.com/openhab/openhabian/issues/594#issuecomment-517051970
I believe that's still the situation. `/etc/dhcpcd.conf` has not NTP and `/etc/systemd/timesyncd.conf` is unconfigured hence not running even on latest Raspi OS.

[2020-06-24 15:44] mstormi commented on #998
Holgger hope you don't mind the assignment but since you figured out successfully, why not go in for the kill, too.

[2020-06-24 15:48] #928 closed

[2020-06-24 15:53] mstormi commented on #651
@holgerfriedrich please update us, is this still an issue with current openHABian ?

[2020-06-24 16:01] mstormi commented on #627
Depends: #998
Speedtest AFAIK is gone but you're right, it would be a nice extension to have the DNS and NTP status
Another important value is CPU load, systeminfo binding can provide that.

But we should not mandata any openHAB setup so how is this supposed to work outside OH?
FireMotD ?
Some script to feed the webserver that is used to display install logs ?
... ?

@openhab/openhabian-maintainer

[2020-06-24 16:05] ecdye commented on #627
I almost feel like this would better exist as a separate openHABian binding which interfaces with openHAB directly. But that is also outside of the scope of this project.

[2020-06-24 19:12] holgerfriedrich commented on #984
@mstormi No, sorry. Not even a chance to follow everything you are doing in the meantime. Busy days, so I assume this will take a bit longer....
I have the a really bad feeling when I think about the dependencies of dependencies... We cannot clone the whole apt package repo.... Hm, why not ;-)

[2020-06-24 19:23] ecdye commented on #984
Maybe because we want the resulting image to be a reasonable size. 😉

[2020-06-24 20:09] mstormi opened #999 "Fix "offline" complaints in BasicUI when used via nginx"
see https://community.openhab.org/t/new-install-behind-reverse-proxy-basic-ui-throws-offline-waiting-for-connection-to-become-available/99398/7

[2020-06-24 20:21] jscottnz commented on #422
hi there. sorry I don't have the capacity to work on this.

[2020-06-24 20:23] mstormi commented on #422
Thanks for your info. Alright then.
So will close. Feel free to reopen at any time when you have some time or code to contribute.

[2020-06-24 20:23] #422 closed

[2020-06-24 20:53] #999 closed

[2020-06-24 21:12] ecdye opened #1000 "Issue #1000, Yay! Should we add a issue template to celebrate the occasion?"
Title says it all, thoughts?

[2020-06-24 22:11] mstormi commented on #984
It cannot be _that_ many dependencies packages, essentially it's libs only. And why not clone them all?
Come on let's try. This is the only remaining issue to get the image done, isn't it ?

[2020-06-24 22:14] mstormi commented on #1000
🥳 🎉
what sort of template?

BTW, less than 20 left to go ! It was ~130 when we started.

[2020-06-24 22:52] ThomDietrich commented on #1000
🎉
way to go guys!!

[2020-06-25 06:17] #998 closed

[2020-06-25 12:43] mstormi opened #1002 "systemd errors in CI"
See https://travis-ci.com/github/openhab/openhabian/jobs/353508710#L1186

[2020-06-25 14:25] BClark09 commented on #1002
That's a fairly strange error to have, shouldn't it be looked into instead of hiding it?

[2020-06-25 16:03] ecdye commented on #1002
The error is because of the Docker setup we use and as far as I know cannot be fixed. It is all because of the systemd replacement we use.

[2020-06-25 16:06] ecdye commented on #1000
One that gives an outline of the information we need to help the user, For example:

Did you check to see if the issue has already been reported to the community or here?

What is the issue:

Please provide the debug info as described in `openhabian-DEBUG.md`

something like that.

[2020-06-25 21:57] mstormi commented on #1002
exactly, it doesn't happen on real HW

[2020-06-25 22:06] #1002 closed

[2020-06-26 15:23] mstormi commented on #946
I think we should hurry up.
Current code has broken installation because helpers.bash and openhabian.bash are not copied over to /boot.

[2020-06-26 21:18] Diapolo commented on #959
@mstormi Wow that thread was hard to find as a newbie ;). I'm wondering why a current setup from openHABian master still has this unfixed?

[2020-06-26 22:08] mstormi commented on #959
This is not the forum hence no "thread" meant for user support. Turn to the forum for that please.
And what do you mean? There was no fix needed in OH. The OP's problem was fixed by these instruction hence the issue closed.

[2020-06-26 22:15] Diapolo commented on #959
Well I ran into the exact same issue for a new openHABian install based on the latest release image from this page. I'm currently doing a fresh install and will happily report back, if installing Influx and Grafana results in Grafana not working after a reboot...

[2020-06-27 08:13] mstormi commented on #210
I'm not 100% up clear how that signing process is supposed to work, but I don't think it's worth the effort.
For the whole signing process to work you need to open port 80. That's beyond our control and remains to be a task that the user has to execute manually every time. At least security-aware people will not keep running with that config.

Just had to renew my certs, too. That worked using cer

[2020-06-27 08:18] mstormi commented on #1000
yes please. Maybe copy that section from openhabian-DEBUG, maybe rework it a little while we're on it ?

BTW I wrote that alone (it was before you joined dev), and noone ever reviewed.
Maybe you could have a look in terms of wording but also in terms of the proposed procedures?.
Multiple branches also did not exist at the time of writing.

[2020-06-27 09:11] mstormi commented on #288
@ConfusedTA ping

[2020-06-27 19:03] ecdye commented on #1000
Sure, I'll add that to my list of things to work on.

[2020-06-27 22:25] ecdye commented on #946
What else needs to be done before we finalize and start testing a new image?

[2020-06-27 22:36] mstormi commented on #946
Holger has to build an image that pre-loads the prerequisites.
That's about it I would think.

[2020-06-27 22:38] ecdye commented on #946
So, essentially we are waiting for #984 / #985 to be merged then built?

[2020-06-27 22:40] mstormi commented on #946
yes unless I'm overlooking something

[2020-06-28 01:32] ecdye opened #1004 "Another `first-boot.bash` error?"
Once again, during my rewriting efforts I seem to have spotted some faulty logic, I believe:
[code]
should be
[code]
As the `-d` option checks for the directory existing, why would we want to clone it if it it already exists?

[2020-06-28 02:38] ecdye commented on #1000
Alright, lets brainstorm and revise / update `openhabian-DEBUG.md` in #1006.

[2020-06-28 09:21] #1004 closed

[2020-06-28 15:21] matmai opened #1007 "java.io.FileNotFoundException: /var/lib/openhab2/cache/org.eclipse.osgi/.manager/.fileTableLock"
openhabian-config was upgraded from [master]v1.5-602(f254443) to [master]v1.5-684(4157102) and raspberrypi-kernel from (1.20200601-1) to (1.20200212-1). After upgrading to openHAB 2.5.6-2 via openhabian-config service did not start.
[code]

Output from /var/log/openhab2/openhab.log /var/log/openhab2/events.log:
[code]

After fixing file permissions via openhabian-config (menu 14) it worked again.

[2020-06-28 17:52] ecdye commented on #1007
What version of Java are you using? @mstormi we may need to make sure that permission corrections run after each openHAB upgrade.

[2020-06-28 19:59] matmai commented on #1007
openjdk version "1.8.0_252"
OpenJDK Runtime Environment (Zulu 8.46.0.225-CA-linux_aarch32hf) (build 1.8.0_252-b225)
OpenJDK Client VM (Zulu 8.46.0.225-CA-linux_aarch32hf) (build 25.252-b225, mixed mode, Evaluation)

[2020-06-28 20:19] #1000 closed

[2020-06-28 20:44] mstormi commented on #1007
That's the OH cache. It is removed when you upgrade the openhab2 package. If that now exists with wrong permissions that's not because of openHABian. You have possibly manually started openHAB ?

@ecdye it doesn't hurt to run permissions_corrections() after any upgrade but I wouldn't know how we could have caused that

[2020-06-28 21:13] matmai commented on #1007
During the update process the log says that OH was not running:
[code]

If I understand you right starting OH with _openhab-cli start_ could have caused the problem?

Seems that could be the case because it could not acquire the lock:
[code]

[2020-06-28 23:39] mstormi commented on #1007
Yes. Did you do that? as root?

[2020-06-29 00:48] ecdye commented on #946
I have created a new build image action for my own branch, should we just start building images as part of CI in master? It might be easier, I can create a PR with a bunch of CI updates that I have made as a part of #990 and include it.

[2020-06-29 19:52] matmai commented on #1007
Yes, I executed `sudo openhab-cli start`. After all I think that is the root cause.

[2020-06-29 20:02] mstormi commented on #1007
Indeed, you must not do that.
If you wanted to start OH, use `systemctl start openhab2`.

[2020-06-29 20:02] #1007 closed

[2020-06-29 22:13] BClark09 commented on #1007
I should add a "are you sure?" note to `openhab-cli start`

[2020-06-30 13:47] ramsonline commented on #970
How About [Wireguard](https://www.wireguard.com/) ? It seems to be the successor of OpenVPN.

[2020-06-30 14:51] mstormi commented on #970
Seems there's no package available for Raspbian !?
There are "openvpn" packages, though.

[2020-06-30 17:22] matmai commented on #1007
Thanks for clarifying this issue!

[2020-06-30 22:04] holgerfriedrich commented on #984
Implemented apt-get download in target system image and added proof of concept for installing packages during first-boot if no internet connection is available.
Not using the package cache dir, but `/opt/openhabian-package/cache`.
New image https://github.com/holgerfriedrich/openhabian/actions/runs/153323115 not tested yet, will probably miss dependencies.

[2020-07-01 12:56] ramsonline commented on #970
They are not in the Raspberry OS repository yet, but there are usable versions in the Debian Repositories:
Here is a sample tutorial: https://engineerworkshop.com/blog/how-to-set-up-wireguard-on-a-raspberry-pi/

Wireguard would especially make sense since it has a lot less overhead and a very small codebase.

[2020-07-01 17:59] ecdye commented on #946
Random thought, has anyone tested an online install with any of the recent images? I am about to, but we should not forget to test that online install still works after finishing offline install.

[2020-07-02 05:33] smithy2167 commented on #665
I have the exact same issue, only with an RPi3A+.
I am using the latest 1.5 release.
The only change to openhabian.conf is to add the WiFi credentials.
The first-boot.log shows "Changing default username and password... SKIPPED".
From there, errors occur, it seems because user openhabian does not exist.
When setup has finished, I can only SSH using User: pi Password: raspberry
I can't log in the S

[2020-07-02 11:14] mstormi commented on #946
yes I just did, it's ok (due to most recent fixes).
It wasn't for some days I think
Fortunately it only affects people to install from scratch AND use master.

[2020-07-02 11:26] mstormi commented on #665
Please execute this as root:
source /opt/openhabian/functions/helpers.bash
if is_pithreeplus; then echo "identified!" ; fi
grep ^Revision  /proc/cpuinfo

Edit /boot/openhabian.conf and set
clonebranch=stable
debugmode=maximum
there, then
rm -f /opt/openHAB*; reboot

to trigger another installation attempt, then check first-boot.log for is_pi*

[2020-07-02 11:36] smithy2167 commented on #665
Thanks for quick response.
It returns "identified" for is_pithreeplus.
Revision is 9020e0.
I'm far from an expert, but is the function is_pithreeplus() in first-boot.bash looking for Revision xxx0dx?

[2020-07-02 11:43] mstormi commented on #665
it's looking for revision 0d or 0e, which your box is matching.
So your box is correctly identified hence your problem is not the same as that of the others in this issue.

Read the debug guide, double check openhabian.conf is [up to date](https://github.com/openhab/openhabian/blob/master/openhabian.conf.dist), use debugmode=maximum when installing again and open a new issue with that extended fir

[2020-07-02 11:43] #665 closed

[2020-07-02 12:04] mstormi commented on #665
Try the new image from https://github.com/holgerfriedrich/openhabian/actions/runs/153323115

[2020-07-02 13:36] smithy2167 commented on #665
Thanks.  All fixed.

[2020-07-02 14:17] mstormi commented on #970
Sounds reasonable. I've started an implementation in #1010.

Would you be willing to contribute ?

[2020-07-02 17:30] mstormi commented on #665
how? anything we should know about ?

[2020-07-03 00:23] smithy2167 commented on #665
The fundamental issue I had with the latest 1.5 release seems to be that first-boot.bash contains an older version of is_pi() that doesn't recognise the newer version (xxx0ex) of the RPi3+.  So, user openhabian is not created, causing subsequent problems.

The actions you suggested to edit openhabian.conf and trigger a reboot did result in the board being correctly identified (helpers.bash contain

[2020-07-03 09:26] mstormi opened #1011 "still systemd errors in Travis CI"
see https://travis-ci.com/github/mstormi/openhabian/jobs/357261383#L1194

[2020-07-03 12:05] mstormi commented on #970
I installed following that tutorial but my first attempt failed weith a "device wg0 not found."
This is on buster. Read somewhere it has to be bullseye ?
I don't see the wireguard-dkms module being loaded, it doesn't even exist in /lib/modules/...
Any idea ?

[2020-07-03 12:47] #1011 closed

[2020-07-03 14:57] mstormi opened #1013 "java update misbehavior ?"
I told openhabian to switch to Adopt.
1) OH was down before but the upgrade code made it start
2) I did systemctl stop openhab2  which did stop thaht start, but then Zulu was installed ??

Vorbereitung zum Entpacken von .../adoptopenjdk-11-hotspot-jre_11.0.7+10-2_armhf.deb ...
Entpacken von adoptopenjdk-11-hotspot-jre (11.0.7+10-2) ...
adoptopenjdk-11-hotspot-jre (11.0.7+10-2) wird eingerichtet ..

[2020-07-03 17:58] ecdye commented on #1013
I know what caused it, minor oversight in my rewrite part 1 I'll upload a fix shortly.

[2020-07-04 17:12] ecdye commented on #946
Make sure that we build the image from the stable branch as otherwise we will have issue with incompatible changes. That also means we need to forward the master branch to stable.

[2020-07-05 09:46] mstormi commented on #970
Initial setup contributed in #1010 but this is WIP.

Currently wg-quick@wg0 service does not start (not even on reboot) because the systemd unit config file is missing ?

[2020-07-05 15:31] mstormi commented on #316
@BClark09 does closing openhab/openhab-linuxpkg#108 mean this now works and I can close it, too?

[2020-07-05 15:32] mstormi commented on #288
Ok, no feedback so I assume this is no longer an issue.
Reopen in case you encounter it again.

[2020-07-05 15:32] #288 closed

[2020-07-05 15:33] mstormi commented on #230
@ThomDietrich did you validate this works? Can we close it ?

[2020-07-06 08:28] BClark09 commented on #316
The issue fixed in linuxpkg was about the errors caused when another service uses the `openhab` user.

Ideally, these services should use a default or new user to manage their permissions. So there is still something to improve on openHABian's end I think.

[2020-07-06 12:09] mstormi commented on #721
@holgerfriedrich could you add that 1 min delay then close this ?

[2020-07-06 23:06] holgerfriedrich commented on #721
@mstormi I don't think that adding delays is the right way to go here, though it makes the install look nice. People will wonder why they cannot connect via webif for such a long time, etc. WiFi based install will wait twice due to reboot.
For me it would be much cleaner solution to look which services are producing the output and play with the systemd dependency/after/... options to resolve.
I wo

[2020-07-07 08:29] mstormi commented on #632
also update dashboard tile .gif with https://www.internalpositioning.com/splash-static/splash.gif

[2020-07-07 12:31] mstormi commented on #912
Just upgraded the 'enclosure' of my SD card from a PRi2 to a RPi4 and WiFi is still there (with the default config in /etc/network/interfaces).

Let's close this one. You can reopen should you hit that again.

[2020-07-07 12:31] #912 closed

[2020-07-07 15:30] ecdye commented on #721
In this case I agree with Holger, we should look into other solutions. This does not need to be in before a new image so we can take our time.

[2020-07-07 17:18] mstormi commented on #721
Did that already: https://github.com/openhab/openhabian/pull/985#issuecomment-654664698

[2020-07-07 17:26] ecdye commented on #721
Yeah, I noticed that after I posted that comment.

[2020-07-08 13:00] mstormi commented on #1013
$ apt-get --yes upgrade
Paketlisten werden gelesen... Fertig
Abhängigkeitsbaum wird aufgebaut.
Statusinformationen werden eingelesen.... Fertig
Paketaktualisierung (Upgrade) wird berechnet... Fertig
Die folgenden Pakete werden aktualisiert (Upgrade):
  rpi-eeprom
1 aktualisiert, 0 neu installiert, 0 zu entfernen und 0 nicht aktualisiert.
Es müssen 322 kB an Archiven heruntergeladen werden.
Nach di

[2020-07-08 17:03] ecdye commented on #1013
Whats wrong? That looks completely right.

[2020-07-08 17:14] BClark09 opened #1017 "[OH3] Prepare for openHAB 3.x packaging changes"
## Issue information:

The deb packaging for openHAB 3 will be [different](https://github.com/openhab/openhab-linuxpkg/pull/169) from `openhab2` packages. In brief, any path, file or executable that points to `**/openhab2/**` will now be `**/openhab/**`. This means things we should be prepared for include:

 - Transitions to these directories in ZRAM.
 - Installation of `openhab` through apt rathe

[2020-07-08 17:25] ecdye commented on #1017
My question, how do we make this transition while we still support openHAB 2.5.X?

[2020-07-08 18:03] mstormi commented on #1013
I believe I had been running that version before (it's from April so I'm pretty sure I did) so why was it upgraded ?

[2020-07-08 18:08] ecdye commented on #1013
If you run it again, does it try and update again?

[2020-07-08 20:05] mstormi commented on #1013
yes. will merge and try your patch now.

[2020-07-08 20:07] #1013 closed

[2020-07-08 20:12] mstormi commented on #1013
trouble is, it already seems to have deleted the java binary and/or link (not sure when) so it installs anyway

[2020-07-08 20:18] ecdye commented on #1013
Thats not right at all, it doesn't do that until after it has determined a update is avaiable? Did you try reinstalling using menu 40 and then upadting after?

[2020-07-08 20:24] ecdye commented on #1013
Figured it out, its because of the arch checking is failing, I'm looking into it now.

[2020-07-08 20:25] mstormi commented on #1013
No. I've run 02 - Upgrade and it installed the current Zulu hence the java binary is back.

Then I ran 02 again and once again, it started downloading Here's the log:

[code]

[2020-07-08 20:42] ecdye commented on #1013
@mstormi Try with the latest patch it should work.

[2020-07-08 21:03] mstormi commented on #1013
no that was with the latest patch already

[2020-07-08 21:05] ecdye commented on #1013
#1021

[2020-07-08 21:27] mstormi commented on #1013
yep, that now worked

[2020-07-09 10:27] mstormi opened #1022 "more Java install issues"
Running Adopt11 java (with lastest master incl. #1021), I told openhabian-config to switch to Zulu11-32, but it didn't do that, see log below. Note Zulu existed on the system because I had used it before Adopt.
See also my comment https://github.com/openhab/openhabian/pull/1021#issuecomment-656044338

EDIT: not sure what's going on. java-common is providing the update-alternatives binaries so it m

[2020-07-09 15:52] ecdye commented on #1022
I'm stupid, that's what happened. I am working on a fix.

[2020-07-09 15:54] ecdye commented on #1022
java-common is not the issue, the issue is that you java version is up to date and I forgot to add a check in to make sure that  when adopt is installed it should continue with the install anyway.

[2020-07-09 16:09] ecdye commented on #1022
Wrong again, figured it out, the pattern matching for directory checking was not working I am finalizing a fix now.

[2020-07-09 16:38] Tomasmerca opened #1024 "openHABian Installation Status can't connect to openhab:80/first-boot.txt"
## Issue information:
It is a very simple issue with the openHABian Installation Status page. It did not appear using http://openhab/
but it did appear using the pi's IP but didn't show anything. Looking at the source code it wants to connect to http://openhab:80/first-boot.txt
If I replace openhab to it's IP with firefox tools it loads the logs

## System information:
Latest Firefox on Windows 10

[2020-07-09 17:31] ecdye commented on #1024
Image install is broken right now in some aspects as we are preparing to release a new image. When released, then new image should fix the issue.

[2020-07-09 19:15] mstormi commented on #1022
I couldn't figure out why. It just refuses to connect to myopenHAB. Moving to Adopt made that work, moving back it's broken again. Even Purged+reinstalled OH. No way. But when I finally restored my partition backup, it's now working. With Zulu 11. Duh.

[2020-07-09 19:29] #1022 closed

[2020-07-09 19:30] #991 closed

[2020-07-09 19:37] mstormi commented on #1024
That's not an openHABian issue if your DHCP does not  properly map the DNS name "openhab" to its IP. If it does not, you obviously need to use the IP (as mentioned in the docs I think).
Last time I checked it worked and I would still expect it to work but as Ethan commented, wait for the new image then check back and eventually reopen this issue.

[2020-07-09 19:37] #1024 closed

[2020-07-09 21:44] DerFossiBaer opened #1025 "New Openhabian - Installation Script"
Hello forum.

I manage 3 to 5 openhab installations and today i tried to setup a new one. I get the things working on virtual maschines (Proxmox) and the VM is running on Debian 9 or now 10.

Until a few weeks ago there was only a problem with zulu and i got the script working by installing zulu-8 by hand from zulu repos.

But today im struggling completly. there are a few new points in the instal

[2020-07-10 01:20] ecdye commented on #1025
Try using the guide.

### Other Linux Systems (add openHABian just like any other software)
openHABian is also supposed to run on generic Debian/Ubuntu based systems on x86 and some ARM hardware platforms.
Start with a fresh installation of your operating system, login and run

[code]

then start installation

[code]

Edit `/etc/openhabian.conf` to match your needs, then use

[code]

`openhabian-c

[2020-07-10 06:18] DerFossiBaer commented on #1025
That is exactly (nearly) what I've done yesterday. the only think is, that te Platform is not 32bit. It was a fresh setup from a Debian 10. Befor starting the script I installed zulu8 by cli  and I didn't touch the /etc/openhabian.conf - till 1.4 there was no need to thange something.

I saw in the script output that the issue seems to be something with the user. The script didn't createt the user

[2020-07-10 07:09] holgerfriedrich commented on #651
@mstormi Just had a look at the script we fetch from the external repo. Still maintained, but also changing some other settings like bluetooth. Checks for RPI3, but will probably miss RPI4.
Anyway, we should move over to deb package, if there is one. https://packages.debian.org/buster/knxd

I cannot properly do this as I do not use knxd and do not know specifics about the knxd library.

[2020-07-10 07:14] DerFossiBaer commented on #1025
So now I take a look to the last working installation and compared the openhabian.conf. The system user was added in the conf file, whitch must by done by the installation routine. And in the first section i found three entries. hostname username userpw. In my installation rests there where found only two.

I added some entries in the script and saw a struggling with the password from the systemus

[2020-07-10 08:24] mstormi commented on #1025
This is not the forum but Github. It is not for user support so please turn to the forum next time.
Github is to track bugs which is not obvious that it is one in your case.

openHABian is supposed to run on Debian but you have to meet the [prerequisites](https://github.com/openhab/openhabian/blob/master/docs/openhabian-DEBUG.md#prerequisites) and - probably even more important - you must not do a

[2020-07-10 08:40] mstormi commented on #665
Right, it's the 1yr old version to be distributed with the image and that does not contain the id fix yet which we added recently and which is in the new image. Thanks for digging 'til we found it.

[2020-07-10 08:58] DerFossiBaer commented on #1025
Ok - i understand - here is not a forum.

I do not know, if it is a bug, when the script isn't able to get working properly, when a special kind of password is set to the default system user with sudo privileges. The script hat problems with the ":" or the ")" in the password. I changed the password to somthing less special and it works fine. So this thread could be closed or not. I don't know if

[2020-07-10 09:05] mstormi commented on #1025
*If* that happens to everybody it's a bug worth fixing.
But openhabian doesn't prompt for any password on _unattended_ install so your description is confusing.

So again, properly specify the problem first. *When* (in what situation) does it happen?
If it happens on interactive use, set debugmode=maximum in openhabian.conf and run openhabian-config, select the menu option you used earlier to pcha

[2020-07-10 16:53] ecdye opened #1027 "Wireguard BATS tests"
@mstormi This is a log of what happens, the problem appears to be that you have targeted this script to only run on a RPi
 and Docker / Travis does not like that.
See the changes I made to the BATS script to get the proper output in #1026
[code]

I don't really know much about the install script so I can't help to much with a fix but hopefully that gets you on the right track.

[2020-07-10 17:57] mstormi commented on #1027
which test is that from ? It's saying amd64
But the BATS tests are supposed to run on a Docker build to use Dockerfile.raspberrypi4-64, aren't they ? Hence it should not do harm if they fail on non-Raspi.

[2020-07-10 18:05] ecdye commented on #1027
I was running it locally on my box. Let me look again on Travis and see if it is the same.

[2020-07-10 18:24] ecdye commented on #1027
Figured it out, It is because Balena's images are not properly configured and need to be fixed. They are missing the RPi debian repo on the 64 bit versions of the RPi images.

[2020-07-10 18:28] mstormi commented on #1027
good find. But then we should simply change the image for the BATS test, shouldn't we? Probably to a sinple RPi3(-32)

[2020-07-10 18:29] ecdye commented on #1027
The issue with that is the 64bit installation tests will no longer run.

[2020-07-10 18:36] mstormi commented on #1027
hmm. Split bats tests into 64bit and 32 bit ones, then ?

[2020-07-10 18:59] ecdye commented on #1027
Or we could manually add the lists.

[2020-07-10 20:01] mstormi commented on #1027
Yes but do we have the comprehensive list of sources ? Is there even a 64bit repo for all the stuff that gets installed ?

[2020-07-11 14:47] mstormi commented on #1025
reopen if you believe there's still a problem but provide details if so please

[2020-07-11 14:47] #1025 closed

[2020-07-11 21:22] mstormi commented on #1027
I've renamed the java tests and restricted the 64bit BATS VM to only execute these, for the rest of the tests I've added another RPi3 VM. Still struggling to get the install right depending on OS flavour as it keeps recognizing the OS as Debian not Raspbian.

[2020-07-11 21:44] ecdye commented on #1027
I don't think that this is necessarily the right way to do it, perhaps we just need to find another option.

[2020-07-11 22:11] mstormi commented on #1027
Went there for now, if you have a better proposal let me know

[2020-07-12 10:32] #1027 closed

[2020-07-12 22:56] mstormi commented on #946
Holger your most recent image builds still use *your* repo. Could you fix that so we can start testing the image for release ?

[2020-07-13 06:44] holgerfriedrich commented on #946
@mstormi did you try https://github.com/openhab/openhabian/actions/runs/166692092 on master branch?

Actually using the current PR repo and branch is set in ci-setup.bash, see the last 2 lines of the code. @ecdye introduced that, and I have no strong opinion if this is good or bad. I can think of situations, where you want the image to refer to your own branch, but we should mark this as "-custom-

[2020-07-13 08:42] mstormi commented on #946
ah no will try
I'd think ci-setup.bash is mostly ok since master is what we want to use for building any official images.
For development purposes you can of course change ci-setup.sh (you need to as well for e.g. debugmode pre-set)

[2020-07-13 12:07] mstormi opened #1031 "InfluxDB install failing"
I used the latest beta RaspiOS image.
It fails to install Grafana. On installing via menu, it's complaining about Grafana repo
gpg: no valid OpenPGP data found.

@holgerfriedrich could you please take a look? You're more familiar with that than I am.

[install.log](https://github.com/openhab/openhabian/files/4912341/install.log)

[2020-07-13 13:21] MORD0R opened #1032 "Add JSR223 Jython installation in Opehabian."
## Issue information:
https://www.openhab.org/docs/configuration/jsr223-jython.html
https://openhab-scripters.github.io/openhab-helper-libraries/Getting%20Started/Installation.html

## System information:
Please tell us what OS you are running (Raspberry Pi

[2020-07-14 20:37] mstormi commented on #1032
Nope, will wait for the JSR223 addon.

[2020-07-14 20:37] #1032 closed

[2020-07-15 09:26] holgerfriedrich commented on #1031
@mstormi won't be able to look at this the next days....

[2020-07-15 10:00] mstormi commented on #1031
No worries.
But could you please give an estimate when we can finalize the image ? (without offline install)

[2020-07-15 22:25] mstormi commented on #1031
See https://travis-ci.com/github/mstormi/openhabian/jobs/361419253#L439
(@ecdye would you know how to fix the repo keyring ?)

[2020-07-15 22:34] ecdye commented on #1031
Hmm, not really. You could try using the `add_keys` function and see if that helps.

[2020-07-16 11:03] BClark09 commented on #1017
It might be best to add another branch for openHAB 3.x, and add a feature in the current branch to transition. The feature would make the changes outlined in the issue, and the git checkout to the new branch.

[2020-07-16 20:21] ecdye commented on #632
I'm working on a update. I will share more when it is closer to completion.

[2020-07-16 20:28] mstormi commented on #632
Good you mention it.
So did I a few days back. But I got stuck. I see HTTP requests going but it's not generating the DB like it did in earlier attempts and FIND2.

And don't start as root that'll create DB file that cannot be written to once you start as another user, resulting in server crash.

[2020-07-16 20:42] ecdye commented on #632
Yeah, also I saw you had trouble installing `scipy` I figured out a workaround. Use `apt-get install --yes python3-scipy` it took me hours to figure it out.

[2020-07-16 22:44] mstormi commented on #632
for scipy https://github.com/schollz/find3/pull/201

[2020-07-16 23:00] ecdye commented on #632
I saw that, but the way to circumvent that for the moment is to use `apt-get install --yes python3-scipy`

[2020-07-17 16:22] Norde opened #1038 "NodeJS on armv6l not working"
OS : openHABian 2.5.6 (Raspbian buster), fresh install
Package update : 17-07-2020
Hardware : Raspberry pi zeroW

Installation of NodeRED using openhabian-config or [update-nodejs-and-nodered](https://raw.githubusercontent.com/node-red/linux-installers/master/deb/update-nodejs-and-nodered) script fail.

This occur at stage "Install Node.js" :
[code]

/var/log/nodered-install.log give no informatio

[2020-07-17 17:08] ecdye commented on #1038
Hmm, that's odd. I wonder what caused that. It might be fixed by #1002. You could try using the changes made in #1002 and see if that works.

[2020-07-17 17:29] Norde commented on #1038
It's a fresh install of latest openhabian release (with online update at initial conf).

I can't retrieve Node version, cmd return "Illegal instruction".
It seems the apt based install of Node retrieve wrong version.

[2020-07-17 23:45] mstormi commented on #970
please test

[2020-07-17 23:45] #970 closed

[2020-07-18 16:05] ecdye commented on #1038
It should be pre-built. Here is a link <https://github.com/openhab/openhabian/actions/runs/172159549>

[2020-07-18 16:06] Norde commented on #1038
@ecdye APT based install of Nodejs wont work for Rpi1 (and Rpi zero), as there's only armhf packages on raspbian repos.

Unless i'm missing something.

[2020-07-18 16:10] ecdye commented on #1038
I forgot about that, thanks for pointing that out. I'll look into it more in a bit.

[2020-07-18 22:02] Norde commented on #1038
#990 don't resolve the issue.

However, @dceejay [updated update-nodejs-and-nodered script](https://github.com/node-red/linux-installers/issues/7) to force arm6 version if needed. This resolve the issue.

I still don't know what is causing this bug.

[2020-07-19 02:24] ecdye commented on #1038
The issue is that NodeSource doesn't provide builds for anything older that armv7. I am issuing a patch, when the build completes I would be grateful if you could test and see if it works properly again. I'll post the link to the image when the build completes.

[2020-07-19 02:32] ecdye commented on #1038
@Norde the build is now running, when it finishes the image should appear [here](https://github.com/ecdye/openhabian/actions/runs/174259245).

[2020-07-19 08:49] Norde commented on #1038
Issue resolved.
node and npm works and update-nodejs-and-nodered (previous version) script too.

Thanks !

[2020-07-19 13:05] mstormi opened #1041 "backup/restore homegear config"
homegear is a SW-only gateway into the HomeMatic and MAX! device world, both of which are popular and in wide use in Germany. It stores data of learnt devices into `/etc/homegear` and `/var/lib/homegear` see https://doc.homegear.eu/homegear/backup.html. I don't know if we can force it to have its config elsewhere such as say below $OPENHAB_USERDATA.

@BClark09 do you think we could add this to ope

[2020-07-19 14:42] #1038 closed

[2020-07-19 23:01] BClark09 commented on #1041
`openhab-cli backup` is only a shortcut to `$OPENHAB_RUNTIME/bin/backup`. Personally, I think that since it's not openHAB's responsibility, it shouldn't be backed up inside of openHAB's scripts. Secondly, the backup script(s) should work identically the same on any OS, and ideally should be restored on any different machine. Am I right in thinking homegear is only a Linux software?

One thing we c

[2020-07-20 08:19] mstormi commented on #210
I'd think the original issue no longer exists and updating to revise the signing process just for the sake of it ain't required.

[2020-07-20 08:19] #210 closed

[2020-07-20 08:52] mstormi commented on #1041
thanks for your feedback.
I decided to put that into the Amanda backup now, see #1042

[2020-07-20 09:58] mstormi opened #1044 "Auto-backup"
Just an idea to track and discuss

We equip a Pi with a say 16GB internal SD card plus an external card reader(!) with a 64GB one.
First two partitions on the external card will be mirrors of the two partitions on the internal one, and the rest will be dedicated to provide backup storage for use by Amanda.
Also add cronjobs to rsync config and persistence DB daily and copy partitions say monthly (

[2020-07-20 15:18] ecdye commented on #1044
Not a bad idea, but I feel like it should not be a high priority because it would probably have very low usage. Great concept though.

[2020-07-20 16:59] ecdye commented on #316
If I understand this correctly. What you are saying is that we should use a new user for frontail perhaps even just a new user called frontail?

If so then it should be an easy fix right?

[2020-07-20 18:05] mstormi commented on #316
That's how I, too, understood it. just go for it

[2020-07-20 18:05] mstormi commented on #316
upps, wrong button

[2020-07-20 18:36] mstormi opened #1045 "DynDNS service"
We need a DynDNS address to safely access OH instances runnign in some remote location (running WireGuard)
As not every router can do (or owner knows to setup to) DynDNS this is IMHO needed inside openHABian.

This is just idea level not yet guaranteed to work:
See e.g. https://andrwe.org/linux/own-ddns how to setup our own DDNS service. This could run on the foundation hosted myopenhab servers. W

[2020-07-20 22:21] mstormi commented on #1044
Usage is a matter of marketing, isn't it

[2020-07-20 22:59] mstormi opened #1046 "Logrotate failing for at least Samba and nginx"
[code]

Add to fix permissions:
chgrp root /var/log/samba /var/log/unattended-upgrades in permissions_corrections(), run AFTER unattended install
"su www-data adm" in /etc/logrotate.d/nginx, "su Debian-exim adm" in /var/log/exim4/,

[2020-07-21 01:15] ecdye commented on #1044
You're not wrong. However, this adds more to the base system purchase price and it may not be very appealing to the average user.

[2020-07-21 10:23] mstormi commented on #1044
This is what, $15 maybe ? Less than half of a spare RPi.
Let alone that anyone with serious intentions should be having a full set of spare HW at hand anyway.
And if you were reading the forum about people using virtualization on PC hardware and fantasizing about Kubernetes-managed RPi clusters ... so there definitely is a need for clever, simple resilient system setup.
If that's a significant num

[2020-07-21 11:39] mstormi commented on #919
As I got myself convinced that homegear is doing a great job for everything except HomeMatic IP (and this being on the radar, too), we'll better stick with it.

[2020-07-21 11:39] #919 closed

[2020-07-21 18:39] #1041 closed

[2020-07-21 20:33] #1046 closed

[2020-07-22 12:42] Diapolo opened #1049 "Suggestion for openhabian-config: Disable WLAN, switch to LAN"
I'm missing an option to switch from a WiFi-only setup to a LAN-only setup. When I was initially setting up OpenHABian I chose WLAN, which is working, but not as stable as a cable and so I want to change this. Im suggesting an option to disable WLAN and remove the configuration and activate all stuff that is needed for using a LAN connection.

[2020-07-22 12:54] ecdye commented on #1049
If you rerun WiFi setup there should be an option to disable WiFi and return to Ethernet.

[2020-07-22 20:36] Diapolo commented on #1049
This is indeed working as intended, but the dialog is missing a switch back to **LAN** message as far as I remember. So just a cosmetic glitch, nothing more :).

[2020-07-22 20:36] #1049 closed

[2020-07-23 21:23] mstormi opened #1050 "Java cacerts"
is said to be removed on Java change
https://community.openhab.org/t/java-11-test-amazonechocontrol-2-5-7-snapshop-throws-exceptions-due-to-missing-cacerts-file/102446/4

not sure what that contains and who generates that so lets find out first

[2020-07-23 22:26] mstormi opened #1051 "Editing openhabian.conf with a Windows editor"
e.g. for WiFi boot is said to break it.

Either confirm it works or fix it.

[2020-07-25 02:28] ecdye commented on #1050
I know what caused it. It is me forgetting that other things end up being installed where the CEK goes. I'll work on a fix ASAP, but I am currently out of town so it might be a few Days.

[2020-07-25 02:31] ecdye commented on #1051
Probably true because of line endings but I did not check.

[2020-07-25 08:57] mstormi commented on #1051
I was thinking the same. Should we reword the installation docs ?

[2020-07-25 09:51] ThomDietrich commented on #1051
Hola,
many years I implemented a fix for that. Windows editors shouldn't be an issue
https://github.com/openhab/openhabian/blob/master/build-image/first-boot.bash#L31
In fact, the file should have Windows line endings (`\n\r`) when created, so that all users can edit it without issues

[2020-07-25 10:31] mstormi commented on #1051
It might no longer have as we messed with openhabian.conf* and .dist recently when working on the CI pipeline
Then again I just opened /boot/openhabian.conf from Windoze and it looks fine, and IIRC it should work fine with or without \r due to your fix.

So most likely there's no problem but the guy to report that messed up something. I will close this and reopen if there's news. Thanks Thomas

[2020-07-25 10:31] #1051 closed

[2020-07-25 11:53] ThomDietrich commented on #1051
What I think was happening here: The default Windows editor does not deal with linux files properly. That's why the file would look broken on Windows and it would likely become invalid if changed and saved. An example and the claim that this has been fixed by MS: https://devblogs.microsoft.com/commandline/extended-eol-in-notepad/

Imho leave it like it is but implement a conversion from unix to wi

[2020-07-25 12:15] mstormi commented on #1051
Just flashed latest image and opened openhabian.conf with notepad but LGTM

[2020-07-25 17:41] GumbyMan82 commented on #1050
just FTR: I've closed my issue in the openhad-addons since the problem isn't caused by the amazon binding.

[2020-07-26 00:26] #1050 closed

[2020-07-28 07:30] benderl opened #1056 "Node.js should be updated"
## Issue information:
I am running my openhabian installation since several month now. It got installed with node.js 10.x but meanwhile version 12.x is marked as LTS. Due to the generated `/etc/apt/sources.d/nodesource.list` the version sticks to 10.x. I would expect an update of the nodesource.list file if the installation/update of node-red is triggered from within openhabian-config.

## System

[2020-07-28 12:12] mstormi commented on #1056
I don't understand your point.
If you install nodered from the openhabian-config menu, [nodejs_setup()](https://github.com/openhab/openhabian/blob/master/functions/nodejs-apps.bash#L8) is triggered, and that regenerates /etc/apt/sources.d/nodesource.list with a source to use 12.X

[2020-07-28 12:18] benderl commented on #1056
Well here the nodesource.list was not updated from 10.x to 12.x. I have to look through the function and check what prevented the update.

[2020-07-28 14:00] mstormi commented on #1056
You can set debugmode=maximum in /etc/openhabian.conf, then re-run installation via menu

[2020-07-28 14:36] benderl commented on #1056
I think, I found the problem:
In [line 100](https://github.com/openhab/openhabian/blob/fc4e8e041e4ae5181793d6df4ad4a808de6f3fb8/functions/nodejs-apps.bash#L100) only the presence of npm is verified but not the version of node.js. So the function to update the sources file never triggers.

[2020-07-28 15:06] mstormi opened #1057 "git --tags giving errors"
e.g. on Homegear installation but I guess elsewhere as well

++++ git -C /opt/openhabian describe --tags --abbrev=0
fatal: No tags can describe '565bf0bd52329ef7623ac60b6718af5c55befaf6'.
Try --always, or create some tags.

[2020-07-28 15:22] mstormi commented on #1057
forget it.
It was because openhabian.conf contained my private branch (which does not have tags).

Then again that's what the most recent image build gave me. I think we still have a bug there, it should point to stable instead.

[2020-07-28 15:22] #1057 closed

[2020-07-28 16:39] ecdye commented on #1057
No, it points to whatever branch it was run from. I have had zero issues with it pointing to the wrong branch.

[2020-07-28 16:40] ecdye commented on #1056
Yes I did that intentionally, it was in order to not break any existing installations. If you would like to update it using `openhabian-config` simply remove those checks and it will upgrade it for you.

[2020-07-28 16:52] mstormi commented on #1056
Does that make sense ? It's in the *install* routine for nodered *on openHABian* so at least on image-derived Raspbian there should not be any existing installations (then again on other Unices yes there could be).
Eventually add a whiptail query in that case?

[2020-07-28 17:04] benderl commented on #1056
I just edited the sources file to upgrade node.js. But as the config tool installs all dependencies for node-red I would also suggest to check the installed version and prompt if an upgrade should be triggered.

[2020-07-28 17:32] ecdye commented on #1056
No, it is there because otherwise we will overwrite the APT config and reinstall every time wasting resources. When we release a new image it should result in zero issues as with the new installation APT will upgrade NodeJS automatically. This all stems from us moving to an apt based install for NodeJS rather than a download based install (excluding `armv6l`).

[2020-07-28 17:54] mstormi commented on #1057
The openhabian.conf of/from the image should have clonebranch=stable burnt in, that we need to change.

[2020-07-28 18:00] ecdye commented on #1057
no, it needs to be whatever the PR or branch it was originated from otherwise testing does not work correctly, if you trigger a build on the stable branch it works as expected. See <https://github.com/openhab/openhabian/pull/985#issuecomment-665181530>. Without the branch set to the value when triggered, tests would point to a branch that is incorrect and make it pointless. Image builds are made f

[2020-07-28 18:04] mstormi commented on #1057
I wasn't aware of that but ok (now that I know I can edit it before boot).
But then pay attention to not point users at beta images.

[2020-07-28 18:18] ecdye commented on #1057
Yes I am aware.

[2020-07-28 18:57] ecdye opened #1058 "Reboot on fresh install?"
I think that after a fresh install we should automatically reboot the system. I suggest this for a few reasons,

1.   Several operations performed on first install require reboot for changes to take effect (locale, wifi, ipv6...).
2.  Acts as a way to refresh the network connection for instances where that may have changed.
3.  It is a very common operation to perform after system upgrades and our

[2020-07-29 06:55] benderl commented on #1056
Sorry, but I do not understand this. Upgrading the repo results in just one package upgrade. Then it is treated as every other package by apt and only updated, if there is a new version.

Yes, apt will take care of the updates, but in my case during installation openhabian added a sources list for node.js 10.x. Apt did take care of this, but was limited to the old 10.x branch of node.js.

[2020-07-29 11:03] mstormi opened #1061 "mosquitto failing to install"
see https://community.openhab.org/t/openhabian-mosquitto-mqtt-failed-to-start/102951/11
ZRAM was missing after install ?

I've updated zram-config openhabian-zram repo with a less error-prone version (it had "|| return 1" on all sorts of commands).

But note this mosquitto install was still retrieving the old version because I had to move tags.

mosquitto_passwd is missing ? Should be inside the "

[2020-07-29 11:07] mstormi commented on #1058
Agree but the open question is if it is sufficient after an unattended installation (then we should automate that) or if a user would need to manually add whatever first before it makes sense to reboot.

[2020-07-29 13:43] mstormi opened #1062 "double locale generation required or can we speedup install?"
[code]

[2020-07-29 13:58] mstormi opened #1063 "image failing to install with various symptoms"
In the first place I thought it was a problem with mosquitto that didn't run after a reboot
Debugging, I came to think it is ZRAM related because that fails to install

But I believe the problem is larger:
Apparently modprobe zram fails because the kernel modules (5.4.51) do not match the kernel (4.19.57).
The kernel that's in the old image is too old!

That's why installing zram fails unless we r

[2020-07-29 16:14] ecdye commented on #1056
I understand, we need to add a case for is node is v10 update it.

What I was referring to by wasting time is the installer would recreate the apt lists and run an `apt-get update` and then try to install, which wastes resources and time.

[2020-07-29 16:14] mstormi commented on #1061
I fixed this guy's computer in a live session he offered.

The root cause is #1063

[2020-07-29 16:14] #1061 closed

[2020-07-29 16:16] ecdye commented on #1063
It won't help, as the image RasberryPi provides is still based off of the old 4.19 kernel so it will still upgrade to 5.4 when installing.

[2020-07-29 16:19] ecdye commented on #1058
I think that because we are trying to leave the user with as complete and functional system as possible we should to it automatically on unattended install. If the user makes further changes that require a reboot that should be their responsibility. Especially since the majority of users won't care enough or be technically inclined enough to want to do such changes.

[2020-07-29 16:20] ecdye commented on #1062
Required because we change what locales are generated in the script based on `openhabian.conf` so that the user can choose before installing what they want.

[2020-07-29 16:25] benderl commented on #1056
Yes, if version 10.x update the sources list to 12.x.

[2020-07-29 16:46] mstormi commented on #1063
ok could you put that into master? that's broken anyway ATM. Need to leave now but will be back in ~2 hrs.
I've just prepared a pre-release we can direct people at when they have problems.
https://github.com/openhab/openhabian/releases/tag/v1.6-alpha

[2020-07-29 16:49] mstormi commented on #1062
ok then we leave it in.
I just put up everything I stumbled across while testing without putting efforts into analysis

[2020-07-29 16:49] #1062 closed

[2020-07-29 17:52] ecdye commented on #1063
@mstormi We should probably sync master and stable for the image release when we finish testing, that way it is the same across the board.

[2020-07-29 18:33] mstormi commented on #1063
Yes. I'd think stable is currently affected as well.

[2020-07-29 18:36] #1056 closed

[2020-07-29 18:39] ecdye commented on #1063
And that way they are both in sync for the image release and people won't be confused by why it is a different git hash when we trigger the build from stable

[2020-07-29 20:51] mstormi commented on #1063
Trouble is, first-boot.bash is run off /boot which is the image-contained version not the current one
So we need to build another image for this to work, right ?

[2020-07-29 21:24] ecdye commented on #1063
Yes, but as I was saying that is why the image should be built off of a synced stable and master branch

[2020-07-29 21:25] mstormi commented on #1063
I'm right now syncing stable to master

[2020-07-29 21:33] mstormi commented on #1063
strange, it's building an oldish stable....

[2020-07-29 22:52] mstormi commented on #1063
Ouch we have a problem. The box keeps rebooting over and over. Any spontaneous idea ? Just wanted to go to bed ;(

[2020-07-30 00:01] mstormi commented on #1063
I've quickly put up #1066/#1067 but haven't been able to fully test

[2020-07-30 07:41] mstormi commented on #1063
... and I wonder what a reboot is doing to CI ...

[2020-07-30 19:12] ecdye commented on #1063
No, idea. CI, appears to be handling it without errors though. Your solution seems fine to me, however I don't have time to test today.

[2020-07-30 20:13] mstormi commented on #1063
Damn it, there's reports of the image failing to complete installation / start the dashboard

[2020-07-30 20:48] #1058 closed

[2020-07-30 21:25] mstormi commented on #1063
ZRAM down, too.
But both just needed a systemctl start ...

 I'll check if the just-merged additional reboot will fix that

[2020-07-31 10:40] mstormi opened #1068 "OH stop/start to change ZRAM mounts ?"
Does openhab2 stop/start change anything about ZRAM?
see https://community.openhab.org/t/mapdb-doesnt-restoreonstartup/102754/76

Sure, OH stop/start also runs ZRAM stop/start (I believe) as it is configured "PartOf=openhab2.service"
But that should not change config like in the link above hence systemd should not ask for reload !?

[2020-07-31 11:06] mstormi opened #1069 "OH restart makes ZRAM fail restart"
see https://community.openhab.org/t/mapdb-doesnt-restoreonstartup/102754/76

My preliminary idea is that OH stop/start runs ZRAM stop as ZRAM is configured "PartOf=openhab2.service" but it does not execute ZRAM start again. (I'm just wondering why the /var/log ZRAM dir is left at that guy's system)

See also https://community.openhab.org/t/frontail-log-not-running-get-a-connection-refused/102873/2

[2020-07-31 18:24] mstormi commented on #1068
duplicate of #1069

[2020-07-31 18:24] #1068 closed

[2020-07-31 18:28] mstormi commented on #1063
is #1069 a duplicate?
will therefore #1070 fix this?

[2020-08-02 01:39] ecdye commented on #1063
IDK, I think we should merge #1039, #1070, and #1072 ASAP and finalize the image as I believe those contain all of the remaining breaking changes to the final image.

[2020-08-02 12:04] mstormi commented on #1063
call of delayed_rules (and ZRAM changes to service!) suddenly missing in openhabian-setup.sh ?

openhabian@openhabianpi:~/openhabian $ grep delayed functions/* openhabian-setup.sh
functions/menu.bash:      *Delay\ rules\ load) delayed_rules yes;;
functions/menu.bash:      *Default\ order) delayed_rules no;;
functions/openhab.bash:##    delayed_rules()
functions/openhab.bash:delayed_rules() {
funct

[2020-08-02 16:08] ecdye commented on #1063
Yes, that is because I only included the FIND3 branch changes not the others, sorry for the confusion.

[2020-08-02 23:24] #632 closed

[2020-08-02 23:26] #1069 closed

[2020-08-02 23:27] ecdye commented on #946
Are we ready to do a final sync to stable of master and release the image on commit 7255935?

[2020-08-03 07:48] mstormi commented on #946
Technically speaking I believe yes we're done, but I think we should take the time to double-check these questions before:
1) eventually rework license to include what raspberry.org has on their download site (Oracle JDK et al)
2) re-evaluate the state of offline install. Based on https://github.com/openhab/openhabian/pull/985#issuecomment-657387276 , now that the image was grown to provide enough

[2020-08-03 12:36] jakobjp opened #1075 "Installation status stays blank"
During fresh installation of openhabian on RPI 3B+ the web-based status stays blank. No updates, even on manual browser refresh. Nothing.

Attached screenshot 1 from browser.
Attached screenshot 2 from SSH (same time).

Image used:
openhabian-pi-raspbian-201908050414-gitca0976f-crc6a66b5a1.img.xz

<img width="790" alt="Screenshot 2020-08-03 at 14 31 35" src="https://user-images.githubusercontent.c

[2020-08-03 15:18] ecdye commented on #946
I agree with all that however we need to release the image ASAP. We should probably need to just speed up the plans for release a bit.

[2020-08-03 15:27] ecdye commented on #1075
That is likely caused by changes to the install process we have made and should be fixed in the next image release.

[2020-08-03 16:10] mstormi commented on #946
do we? Given the alpha release is available we can direct people in need there

[2020-08-03 16:13] mstormi commented on #1075
Which ones?
For me it's been working fine,

[2020-08-03 20:30] mstormi commented on #1063
tested build #207 (to include ZRAM patches)
The service files look fine but ZRAM fails to start. Or to be more precise, it is started and stopped again. If manually started again it's fine but why does it stop ?

[2020-08-04 04:54] ecdye commented on #946
Perhaps, to give a more complete response to your list earlier, #1 I think is less of an issue as Oracle JDK is not even included in our project. #2 may need to take the back burner as it is not one of my priorities right now and Holger seems to have lost the drive to continue for the moment. #3, yes it would be nice to have that in but I am not sure when I will complete it the last one took me al

[2020-08-04 14:09] mstormi commented on #721
The current setup via systemd dependencies, while not perfect, has been optimized and latest installations look pretty fine now (in a literal sense) so I'd think we can close this now.

[2020-08-04 14:09] #721 closed

[2020-08-04 15:07] ecdye commented on #1075
I rewrote and changed the install webserver with the FIND3 changes, which involved renaming the file, that might have caused it.

[2020-08-04 15:11] ecdye commented on #1063
Not sure. Is this the result after the final reboot during install? It shouldn't be being stopped it is one of the last things installed and nothing after it calls for a reinstall.

[2020-08-04 15:31] mstormi commented on #1075
just installed another instance and it displayed fine.
Did you already fix it or what's left to fix?

[2020-08-04 16:57] ecdye commented on #1075
Did you use the most recent image or 1.5? This bug is from 1.5

[2020-08-04 20:09] mstormi commented on #1063
test with latest build was ok

[2020-08-04 20:11] mstormi commented on #1075
yes, see OP.
So I'll close this issue as that's fixed in the upcoming image (and the alpha one).

[2020-08-04 20:11] #1075 closed

[2020-08-07 13:32] mstormi opened #1078 "not syncing on ZRAM shutdown"
As there's reports of mapdb persistence data (to run on ZRAM) not being restored, I've investigated how zram behaves and found out that if you simply 'reboot', changes *sometimes* are lost.

I'm asking all of you for help. *I just don't understand what's going on here.*

[ hint for debugging: the lower FS contains the directory as it existed when ZRAM starts for a dir. It's mounted under /opt/ram/

[2020-08-07 14:01] mstormi commented on #1078
cc: @holgerfriedrich

[2020-08-07 15:38] ecdye commented on #1078
I'm not sure. I don't really have much time to debug today but I should be able to work on it tomorrow.

We may need to invest some time in making the ZRAM tool openHABian uses safer and more reliable. Perhaps after I finish #1055 I can look into rewriting and updating ZRAM.

[2020-08-07 15:44] ecdye commented on #1078
@mstormi, I think I might have found it.

In the `zram-config.service` file the line
[code]
Should be
[code]

Try changing that and see if it works.

[2020-08-07 15:45] mstormi opened #1079 "smbd startup errors"
journalctl -xu smbd gives

Aug 07 17:38:01 openhab systemd[1]: /lib/systemd/system/smbd.service:9: PIDFile= references path below legacy directory /var/run/, updating /va
Aug 07 17:38:01 openhab systemd[1]: /lib/systemd/system/nmbd.service:9: PIDFile= references path below legacy directory /var/run/, updating /va

=> use
PIDfile=smbd.pid
RuntimeDirectory=samba

[2020-08-07 15:48] mstormi commented on #1078
systemd.service manpage says

       RemainAfterExit=
           Takes a boolean value that specifies whether the service shall be considered active even when all its processes exited. Defaults to no.

so "no" is boolean?

[2020-08-07 15:53] mstormi commented on #1078
"zram-config stop" should create a log line in /usr/local/share/zram-config/logs/zram-config.log but that does not appear
so I'm not sure it's called at shutdown/reboot time at all.

I created another service to just "ExecStart=zram-config stop" on *shutdown* but it is not even listed by systemctl list-dependencies so I'm a bit lost where the error might be ATM

[2020-08-07 16:01] ecdye commented on #1079
If it is not an urgent issue I can work on a fix in #1055.

[2020-08-07 16:02] ecdye commented on #1078
Did you run `sudo systemctl dameon-reload`?

[2020-08-07 16:03] mstormi commented on #1079
just writing down things I find along the way

not urgent but no please not in 1055, have one PR per issue where possible

[2020-08-07 16:14] mstormi commented on #1078
of course
I now get to list it but it does not exec

[2020-08-07 16:30] ecdye commented on #1078
Is it because ZRAM is PartOf openhab2 and openhab2 is not explicitly stopped on reboot?

[2020-08-07 16:32] mstormi commented on #1078
No I test with
date | sudo tee /var/lib/openhab2/persistence/date;systemctl stop openhab2;zramctl;reboot

so if that worked, it would
strange thing *sometimes* it works, most of the time not

[2020-08-07 16:34] ecdye commented on #1078
Have you tried a fresh install to see if it is an isolated issue?

[2020-08-07 17:26] mstormi opened #1080 "extra OK output line un unattended install"
calling create_sys_dependencies() in openhab.bash generates an extra line OK (or FAILED)

2020-08-07_19:21:29_CEST [openHABian] Setting up openHAB service... OK
2020-08-07_19:21:32_CEST [openHABian] Optimizing openHAB to run on low memory single board computers... OK
OK
2020-08-07_19:21:32_CEST [openHABian] Adding delay on loading openHAB rules... OK
2020-08-07_19:23:36_CEST [openHABian] Adding an

[2020-08-07 17:48] mstormi commented on #1078
just trying ATM

[2020-08-07 17:57] mstormi commented on #1079
seems that's a Raspbian problem we would need to fix by something like

sed -iE 's/^PIDFile/RuntimeDirectory=samba\\nPIDFile=smbd.pid/g'

(just sed does not take the \n ?)

[2020-08-07 18:27] mstormi commented on #1078
happened the same with fresh install.
After some play forth and back I came up with this service below.
That now seems to work although it does not explain why it's needed (zram-config already should do).
And as the problem seemed to have been intermittent I'm not sure it will not happen again with this fix

[code]

[2020-08-08 15:04] #1080 closed

[2020-08-08 15:09] mstormi commented on #1063
given there were no more unexplained problems on latest build (except #1078), I'm gonna close this now.
Reopen in case of new or re-occuring issues.

[2020-08-08 15:09] #1063 closed

[2020-08-08 16:10] mstormi commented on #1078
rereading this .... do you know if openhab2 stops on reboot ? Didn't even think of that possibility.

[2020-08-09 01:51] ecdye commented on #1078
No idea, does running `sudo systemctl stop zram-config.service` work properly? If so then it a bug somewhere in the reboot process that causes it not to run.

[2020-08-09 12:21] mstormi commented on #1078
It's none of the obvious things.
First, note I've added zram-sync service as above. I now do
`date|sudo tee /var/lib/openhab2/persistence/date;zramctl;reboot` and look at the file after boot.
Sometimes it's updated on boot, sometimes not. I JUST DONT UNDERSTAND IT, damn it.
So the problem must be in the shutdown sequence, right ?
Could you try reproducing on your system ?

[2020-08-09 13:19] mstormi opened #1082 "Getting FIND3 to work"
I have FIND3 running but it doesn't work
app in learning mode says "cannot connect to server" after some time (when it tries to upload fingerprints)
Data in /opt/find3/server/main/data is unchanged since yesterday.

I actually run FIND3 on the test box and try connecting to my production mosquitto. I've double-checked /etc/default/find3server to contain correct data for MQTT_ SERVER,ADMIN,PASS

jo

[2020-08-09 14:23] ecdye commented on #1082
So, first of all I am quite certain that it says during the installation process that using FIND3 with an external MQTT broker may or may not work. Our password process probably won't work for an external broker so that could be rewritten.

[2020-08-09 14:25] ecdye commented on #1082
It used both the default file and preset values.

[2020-08-09 16:13] mstormi commented on #1078
Hmm, I've apparently managed to get rid of the cycle it's not showing errors now but it doesn't help.
Seems I still cannot get the script to execute on shutdown.

[2020-08-09 16:40] mstormi commented on #1082
have not seen that although I vaguely remember having seen it in FIND2 already.
And what do you want to say by that ? That it won't work anyway ?

Correct. But that's a different story. I had used mosquitto_passwd manually to create a mosquitto user for both, find and openhab.
But the question is why did FIND3 look for that ?

[2020-08-09 16:40] mstormi commented on #1082
what are you replying to here?

[2020-08-09 17:08] ecdye commented on #1078
I'll investigate it some this afternoon, I am not sure what is happening. Does making openHAB and frontail stop before shutdown in addition to zram-config help?

[2020-08-09 17:15] ecdye commented on #1082
Sorry I was in a rush, it was in reply to

But the question is why did FIND3 look for that ?

The reason is I never really though about external broker support when I made this. I overlooked a check in the code that allowed it to run even though it should not have for external broker use. I am working on a fix right now.

And what do you want to say by that ? That it won't work anyway ?

I actuall

[2020-08-09 17:30] mstormi commented on #1082
Ok please change FIND3 to make external MQTT broker the default because it only works like that together with OH.
I think there was some code to create user credentials on the broker and I'd think FIND3 and FIND2 are the same with respect to that so it should continue to work.
Also I think the OH MQTT (client) config might still be MQTTv1 so we need to rework that for theMQTTv2 binding.

[2020-08-09 17:38] ecdye commented on #1082
I don't think so, I have left it up to the user to decide which to use and simply forgot to add a check to not use the automated credentials setup on external broker use it should be fixed by #1083.

Yes but that only worked for locally hosted MQTT servers as we have no way to add users to an external MQTT broker, that is why there is the note about authentication setup.

I don't really know much

[2020-08-09 17:41] mstormi commented on #1078
I've made more investigations but fail to find the root cause.

I've added (und meanwhile retracted) a zram-sync service. Retracted because I believe zram-config IS properly being executed on reboot/shutdown, i.e. zram-config stop *is* *always* called so that cannot be the problem.
You can see with journalctl -xu zram-config --no-pager.
But I fail to understand why it *sometimes*  does not sync a

[2020-08-09 17:55] mstormi commented on #1082
Do we talk about the same thing ?
FIND works without MQTT but then it's of no use to any OH2 user. It requires an external broker anyway if we want to interface with OH, doesn't it ? Where that choice you talk about then ?
And so does OH. We need mosquitto to be setup. IIRC think the old code even enforced setting that up.

Yes it's substantially different I never used MQTTv2 with FIND. But that's

[2020-08-09 17:57] mstormi opened #1084 "out of space on /var/log"
due to mosquitto producing lots of logging.

Bottom line though I think is that we need to configure logrotate to match ZRAM size of /var/log including a safety marginm so logs get rotated away (and dropped if needed) in time before /var/log fills up.

[2020-08-09 18:16] ecdye commented on #1082
FIND works without MQTT but then it's of no use to any OH2 user. It requires an external broker anyway if we want to interface with OH, doesn't it ? Where that choice you talk about then ?
And so does OH. We need mosquitto to be setup. IIRC think the old code even enforced setting that up.

The MQTT broker can be setup on the current machine or you can use an external one that you provide, that is

[2020-08-09 19:39] mstormi commented on #1082
Ok it's a wording thing, and it makes use of common access to the same filesystem which of course it cannot with a broker to run elsewhere. But the broker is always "external" in a sense that neither FIND nor OH provide the broker function.

[2020-08-09 20:54] ecdye commented on #1082
Correct.

Not a compile option, It gives you a notice if MQTT is not installed on you system when you start the setup, and informs you that you can either stop and go set it up, or configure an external broker in the next step. All it is doing with `mosquitto_passwd` is creating a new user and password combo on the local MQTT installation for FIND3 to use.

[2020-08-09 20:56] ecdye commented on #1078
Is it possible that the stop command is not getting enough time to finish, or the system is already shutting down certain areas that ZRAM needs to sync before ZRAM can get to them?

[2020-08-09 21:23] mstormi commented on #1078
I've encountered at least 2 cases.
See /usr/local/bin/zram-config. The 1st case is that the lazy unmount (umount ... -l around line 181) in removeZdir()fails and mergeOverlay() isn't called.
In the 2nd case it is but the list of sync files is empty and I don't understand why

[2020-08-09 21:33] ecdye commented on #1078
Possibly because of global variables not being changed? I see what issue you are running into, and agree that it appears to be caused by the ZRAM code.

As I said, it may be best to completely rewrite ZRAM and use it for our purposes.

[2020-08-09 21:36] mstormi commented on #1078
The original author no longer works on it and offered to transfer the project to anyone willing to continue.
It's not a matter of rewriting for our purposes. Frankly I wouldn't know what to do there :-|

[2020-08-09 22:42] holgerfriedrich opened #1085 "build.bash no longer runs without superuser permissions"
Building the image now requires root permissions. This is due to use of `parted` command during image grow.

run this command as user without superuser permissions.
`./build.bash rpi`

./build.bash: line 163: parted: command not found

When I change `parted` to `/sbin/parted` it still fails, now missing `dmidecode`. Seems parted is using this command even when working with file devices, https://bu

[2020-08-10 09:20] mstormi commented on #1085
Sounds like differences of your build platform so I'' m wary to fiddle with build.bash (you know it better than me anyway)
You could add /sbin to your path. Eventually chmod u+s /sbin/parted on your box?

Mine's not working without root either, saying
[11:15:20] openhabian@devpi:~/openhabian$ ./build.bash rpi
2020-08-10_11:15:38_CEST [openHABian] This script will build the openHABian image file.
2

[2020-08-10 09:30] holgerfriedrich commented on #1085
Not sure if `parted` is a good solution at all (for the non-root usecase). Running parted with path does not help as well, see the part on `dmidecode` above....

[2020-08-10 09:34] mstormi commented on #1085
Then why don't you use sudo/root as well for the time being? I don't want to revamp all that stuff just for this minor issue, plus I'm sure there's solution to that, too.

BTW there's an "is_pi" in L270 that's why the output on my machine.
Not sure if we should keep that.

[2020-08-11 01:27] #1079 closed

[2020-08-11 06:57] holgerfriedrich opened #1089 "build.bash: grow root partition does not work in CI"
Looking at the created file image, I found that that growing the partition by 300M does not have effect on the image sizes.
Image size is exactly the same as the base image, partition table is also still same.

This is only the case in github CI (actions). `dd >> .. ` seems to have no effect at all.
Locally, it works fine for me.

[2020-08-11 08:08] #1085 closed

[2020-08-11 08:08] #1089 closed

[2020-08-12 08:25] mstormi commented on #1078
Don't know how to resolve for the time being.

I came to think that with #1077, I can introduce a "zramsync" service to sync zram dirs to external disk on shutdown and to restore from there on boot.

[2020-08-12 12:54] ecdye commented on #1078
Possibly. It may be a better idea to look at the OverlayFS code and see if we can find a proper fix though.

[2020-08-12 19:16] mstormi commented on #1078
Feel free to give it a try, but given the ZRAM author himself didn't succeed there (see his comments) I'm sceptic here.

[2020-08-12 21:52] mstormi commented on #1078
hopefully fixed by https://github.com/mstormi/openhabian-zram/commit/589ca5984b2cd196a10a66638d2336994772792a

this is rsync'ing ZRAM dirs only (not "log" dirs) to (extra) disk on shutdown and recovers on boot.

[2020-08-13 09:26] mstormi commented on #1082
Seen while debugging something else:
[code]

[2020-08-13 12:53] ecdye commented on #1082
Hmm, is make still installed on your system?

[2020-08-13 14:45] mstormi commented on #1082
Yes must be something different.
Either way, check *your* journalctl -xe for unexpected error msgs